<div id="tm-main" class="tm-main uk-section uk-section-default" uk-height-viewport="expand: true"
     style="box-sizing: border-box;">
  <div class="uk-container uk-container-expand">
    <div class="uk-grid" uk-grid="">

      <ng-template [ngIf]="errorMessage">
        <div class="uk-width-expand@m uk-first-column">
          <div data-uk-alert="" class="uk-alert uk-alert-danger">
            <p>{{errorMessage}}</p>
          </div>
        </div>
      </ng-template>

      <ng-template [ngIf]="richService && !errorMessage">

        <div class="uk-width-1-1 uk-row-first uk-clearfix">

          <div class="uk-grid">
            <div class="uk-width-3-4@m">
              <div class="uk-display-inline-block uk-vertical-align-top">
                <h2 class="uk-h2 uk-inline" style="margin-bottom: 5px">
                  {{richService.service.name || "Not Available"}}

                  <span class="uk-margin-left" *ngIf="canEditService">
                      <a (click)="this.router.edit(richService.service.id)" routerLinkActive="active"><i
                        class="fa fa-pencil"></i></a>
                  </span>
                </h2>
                <div *ngIf="richService.service.tagline && (richService.service.tagline.length>0)" class="tagLine">
                  {{richService.service.tagline}}
                </div>
                <div>
                  <star-rating-comp #rating (click)="rateService(rating.rating)"
                                    [starType]="'svg'" [rating]="richService.hasRate" [step]="1"
                                    [showHalfStars]="true" [readOnly]=!this.authenticationService.isLoggedIn()
                                    [size]="'medium'"
                                    [staticColor]="'ok'" title="Rate this service" uk-tooltip="delay: 500"
                                    class="uk-inline starRating"
                                    labelText="{{richService.hasRate}} ({{ richService.ratings }})" [labelVisible]="true"
                                    [labelPosition]="'right'"
                                    [hoverEnabled]="true">
                  </star-rating-comp>
                  <span class="uk-margin-medium-left">
                    <a (click)="addToFavourites()">
                        <i [ngClass]="richService.isFavourite?'fa fa-heart':'fa fa-heart-o'"></i>
                    </a>
                    <span class="statsNumbers">{{richService.favourites || 0}}</span>
                  </span>
                  <span class="uk-margin-medium-left">
                    <img src="../../../../assets/images/icons/ic_visit_icon.svg">
                    <span class="statsNumbers">{{richService.views || 0}}</span>
                  </span>
                </div>
              </div>
            </div>
            <div class="uk-width-1-4@m">

              <div class="uk-card uk-card-body uk-card-custom providerCard">
                <img src="{{(richService.service.logo) ? richService.service.logo : '../../../../assets/images/broken_image-black-48dp.svg'}}"
                     style="max-width: 67px;">
                <span class="provider" *ngFor="let provider of richService.service.resourceProviders; let i = index">
                    <br *ngIf="i > 0">{{ provider | uppercase }}
                </span>
              </div>
            </div>

          </div>

        </div>

        <div class="uk-width-expand@m uk-first-column uk-grid-margin-medium">

          <div class="tags" *ngIf="richService.categories && richService.categories.length>0">
            <span><strong>Categorization: </strong></span>
            <ng-container *ngFor="let category of richService.categories">
              <span class="uk-label">{{category.superCategory.name}}</span>
              <span> > </span>
              <span class="uk-label">{{category.category.name}}</span>
              <span> > </span>
              <span class="uk-label">{{category.subCategory.name}}</span>
              <br>
            </ng-container>
          </div>

          <div class="serviceDescription" *ngIf="richService.service.description">
            <p [innerHTML]="richService.service.description">
            </p>
          </div>

          <div class="tags" *ngIf="richService.service.tags && richService.service.tags.length>0">
            <span><strong>Tags: </strong></span>
            <span *ngFor="let tag of richService.service.tags" class="uk-label">{{tag}}</span>
          </div>


          <div class="uk-grid-collapse uk-grid uk-width-1-1 uk-margin-large-top">

            <div class="uk-width-1-2@m uk-margin-right">
              <!--USAGE-->
              <div class="uk-card uk-card-body uk-card-basic-info uk-margin-bottom">
                <h2 class="uk-h2">Usage</h2>
                <dl class="uk-description-list">
                  <div *ngIf="richService.service.trl" class="uk-margin-small-bottom">
                    <dt class="uk-margin-small-right uk-inline">Technology readiness level</dt>
                    <dd class="uk-inline">{{richService.trlName}}</dd>
                  </div>
                  <div *ngIf="richService.phaseName" class="uk-margin-small-bottom">
                    <dt class="uk-margin-small-right uk-inline">Lifecycle Status</dt>
                    <dd class="uk-inline">{{richService.phaseName}}</dd>
                  </div>
                </dl>
                <hr class="customDivider">
                <dl class="uk-description-list">
<!--                  <ng-container *ngIf="richService.service.options">-->
<!--                    <dt class="uk-margin-small-bottom">Options</dt>-->
<!--                    <dd>{{richService.service.options}}</dd>-->
<!--                  </ng-container>-->
                  <ng-container *ngIf="richService.targetUsersNames">
                    <dt class="uk-margin-small-bottom">Target Users</dt>
                    <dd>{{richService.targetUsersNames}}</dd>
                  </ng-container>
                </dl>
              </div>

            </div>

            <div class="uk-width-expand@m">
              <!--SERVICE COVERAGE-->
              <div class="uk-card uk-card-body uk-card-basic-info uk-margin-bottom">
                <h2 class="uk-h2">Service coverage</h2>
                <div style="width:100%" *ngIf="serviceMapOptions">
                  <chart type="Map" [options]="serviceMapOptions"></chart>
                </div>
                <dl class="uk-description-list">
                  <ng-container *ngIf="richService.placeNames && richService.placeNames.length>0">
                    <dt class="uk-margin-small-bottom">Places</dt>
                    <dd>
                      <span>{{richService.placeNames | sort | join:", "}}</span>
                    </dd>
                  </ng-container>
                  <ng-container *ngIf="richService.languageNames && richService.languageNames.length>0">
                    <dt class="uk-margin-small-bottom">Languages</dt>
                    <dd>
                      <span>{{richService.languageNames | sort | join:", "}}</span>
                    </dd>
                  </ng-container>
                </dl>
              </div>
              <!--FUNDING-->
              <div *ngIf="richService.fundedByNames" class="uk-card uk-card-body uk-card-basic-info">
                <h2 class="uk-h2">Funding</h2>
                <dl class="uk-description-list">
                  <!--<dt class="uk-margin-small-bottom">Funding sources</dt>-->
                  <dd>{{richService.fundedByNames}}</dd>
                </dl>
              </div>
            </div>
          </div>


        </div>

        <!--SIDEBAR-->
        <div class="tm-sidebar uk-width-1-4@m">

          <div>
            <a class="uk-width-1-1 uk-button uk-button-primary visitButton" href="{{richService.service.webpage}}" target="_blank"
               routerLinkActive="active">
              <strong>Service Homepage</strong>
            </a>
            <a *ngIf="richService.service.order" class="uk-width-1-1 uk-button uk-button-primary visitButton uk-margin-top"
               href="{{richService.service.order}}" routerLinkActive="active" target="_blank">
              <strong>Service order</strong>
            </a>
          </div>

          <h4 class="uk-h4 sidebarHeaders uk-margin-large-top">Contractual Info</h4>
          <div class="uk-card uk-card-body uk-card-custom sideInfo">
            <div *ngIf="richService.service.pricing" class="uk-margin-small-bottom">
              <a class="uk-margin-small-right" target="_blank" href="{{richService.service.pricing}}">Price</a>
              <img src="../../../../assets/images/icons/ic_link_arrow_right.svg">
            </div>
            <div *ngIf="richService.service.serviceLevel" class="uk-margin-small-bottom">
              <a class="uk-margin-small-right" target="_blank" href="{{richService.service.serviceLevel}}">Service level
                agreement</a>
              <img src="../../../../assets/images/icons/ic_link_arrow_right.svg">
            </div>
            <ng-container *ngIf="richService.service.termsOfUse">
<!--              <div *ngIf="richService.service.termsOfUse.length==1" class="uk-margin-small-bottom">-->
              <div class="uk-margin-small-bottom">
                <a class="uk-margin-small-right" target="_blank" href="{{richService.service.termsOfUse}}">Terms of use</a>
                <img src="../../../../assets/images/icons/ic_link_arrow_right.svg">
              </div>
<!--              <ng-container *ngIf="richService.termsOfUse.length>1">-->
<!--                <div *ngFor="let term of richService.termsOfUse; let i = index;" class="uk-margin-small-bottom">-->
<!--                  <a class="uk-margin-small-right" target="_blank" href="{{richService.termsOfUse[i]}}">Terms of-->
<!--                    use {{i + 1}}</a>-->
<!--                  <img src="../../../../assets/images/icons/ic_link_arrow_right.svg">-->
<!--                </div>-->
<!--              </ng-container>-->
            </ng-container>
          </div>

          <h4 class="uk-h4 sidebarHeaders uk-margin-medium-top">Support</h4>
          <div class="uk-card uk-card-body uk-card-custom sideInfo">
            <div *ngIf="richService.service.helpdeskPage" class="uk-margin-small-bottom">
              <a class="uk-margin-small-right" target="_blank" href="{{richService.service.helpdeskPage}}">Helpdesk Page</a>
              <img src="../../../../assets/images/icons/ic_link_arrow_right.svg">
            </div>
            <div *ngIf="richService.service.helpdeskEmail" class="uk-margin-small-bottom">
              <a class="uk-margin-small-right" target="_blank" href="{{richService.service.helpdeskEmail}}">Helpdesk e-mail</a>
              <img src="../../../../assets/images/icons/ic_link_arrow_right.svg">
            </div>
            <div *ngIf="richService.service.userManual" class="uk-margin-small-bottom">
              <a class="uk-margin-small-right" target="_blank" href="{{richService.service.userManual}}">User manual</a>
              <img src="../../../../assets/images/icons/ic_link_arrow_right.svg">
            </div>
<!--            <div *ngIf="richService.service.feedback" class="uk-margin-small-bottom">-->
<!--              <a class="uk-margin-small-right" target="_blank" href="{{richService.service.feedback}}">Feedback</a>-->
<!--              <img src="../../../../assets/images/icons/ic_link_arrow_right.svg">-->
<!--            </div>-->
            <div *ngIf="richService.service.trainingInformation" class="uk-margin-small-bottom">
              <a class="uk-margin-small-right" target="_blank" href="{{richService.service.trainingInformation}}">Training
                information</a>
              <img src="../../../../assets/images/icons/ic_link_arrow_right.svg">
            </div>
            <div *ngIf="richService.service.multimedia" class="uk-margin-small-bottom">
              <a class="uk-margin-small-right" target="_blank" href="{{richService.service.multimedia}}">Multimedia</a>
              <img src="../../../../assets/images/icons/ic_link_arrow_right.svg">
            </div>
          </div>

          <h4 class="uk-h4 sidebarHeaders uk-margin-medium-top">Version</h4>
          <hr class="customDivider">
          <div>
            <div *ngIf="richService.service.version" class="uk-margin-small-bottom">
              <span class="infoTitle uk-margin-small-right">Version</span>
              <span class="infoDescription">{{richService.service.version}}</span>
            </div>
            <div *ngIf="richService.service.lastUpdate" class="uk-margin-small-bottom">
              <span class="infoTitle uk-margin-small-right">Last update</span>
              <span class="infoDescription">{{ richService.service.lastUpdate | date }}</span>
            </div>
            <div *ngIf="richService.service.changeLog" class="uk-margin-small-bottom">
              <span class="infoTitle uk-margin-small-right">What's new</span>
              <span class="infoDescription">{{richService.service.changeLog}}</span>
            </div>
<!--            <div *ngIf="richService.service.validFor" class="uk-margin-small-bottom">-->
<!--              <span class="infoTitle uk-margin-small-right">Validity</span>-->
<!--              <span class="infoDescription">Until {{ richService.validFor | date }}</span>-->
<!--            </div>-->
<!--            <div *ngIf="richService.service.availability" class="uk-margin-small-bottom">-->
<!--              <span class="infoTitle uk-margin-small-right">Availability</span>-->
<!--              <span class="infoDescription">{{richService.availability}}</span>-->
<!--            </div>-->
          </div>

          <h4 class="uk-h4 sidebarHeaders uk-margin-medium-top">See also</h4>
          <hr class="customDivider">
          <!--<dl class="uk-description-list">-->
          <ng-container *ngIf="richService.service.requiredResources && (richService.service.requiredResources.length > 0)">
            <dt class="infoTitle uk-margin-small-right">Required services</dt>
            <!--<dt class="uk-margin-small-bottom">Required richServices</dt>-->
            <dd *ngFor="let requiredService of richService.service.requiredResources">
              <div *ngIf="getPrettyService(requiredService).service.name === 'Name not found!'">
                <a> {{requiredService}}</a>
              </div>
              <a *ngIf="getPrettyService(requiredService).service.name !== 'Name not found!'"
                 (click)="this.router.service(getPrettyService(requiredService).service.id)">{{getPrettyService(requiredService).service.name}}</a>
            </dd>
          </ng-container>
          <ng-container *ngIf="!richService.service.requiredResources || richService.service.requiredResources.length == 0">
            <dt class="infoTitle uk-margin-small-right">Required services</dt>
            <dd>
              None
            </dd>
          </ng-container>
          <ng-container *ngIf="richService.service.relatedResources && richService.service.relatedResources.length>0">
            <dt class="infoTitle uk-margin-small-right">Related services</dt>
            <dd *ngFor="let relatedService of richService.service.relatedResources">
              <div *ngIf="getPrettyService(relatedService).service.name === 'Name not found!'">
                <a> {{relatedService}}</a>
              </div>
              <a *ngIf="getPrettyService(relatedService).service.name !== 'Name not found!'"
                 (click)="this.router.service(getPrettyService(relatedService).service.id)">{{getPrettyService(relatedService).service.name}}</a>
            </dd>
          </ng-container>
          <ng-container *ngIf="!richService.service.relatedResources || richService.service.relatedResources.length == 0">
            <dt class="infoTitle uk-margin-small-right">Related services</dt>
            <dd>
              None
            </dd>
          </ng-container>
        </div>
      </ng-template>
    </div>
  </div>
</div>
