.uk-navbar-nav > li > a , .uk-navbar-nav > li > a:focus, .uk-navbar-nav > li > a:active{
    color: #0047BA;
    font-size: 15px;
    font-weight: bold;
}

.uk-navbar-nav > li > a:hover {
    color: #D1303A;
}

.uk-navbar-dropdown-nav > li > a, .uk-navbar-dropdown-nav > li > a:focus, .uk-navbar-dropdown-nav > li > a:active {
    color: #0047BA;
    font-size: 16px;
}

.uk-navbar-dropdown-nav > li > a:hover {
    color: #D1303A;
}

.signUp {
    border: 1px solid #0047BA;
    height: 40px !important;
    margin-top: 20px;
}

.signUp:hover, .signUp:focus {
    border: 1px solid #D1303A;
}

/*TODO remove when we enable signUp*/
a.signUp, a:hover.signUp {
    color: #4D586A !important;
    cursor:not-allowed !important;
    border: 1px solid #4D586A;
}

.menuSearch {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    width: 300px;
    border-bottom: none;
    font-size: 16px;
    padding: 0 15px;
    background: rgba(0,71,186,0.10) url("../../../assets/images/icons/ic_search.svg") no-repeat right;
    background-origin: content-box;
}

.menuSearch {
    color: rgba(0,71,186,1) !important;
}

.menuSearch::-webkit-input-placeholder {
    color: rgba(0,71,186,0.75) !important;
    /*font-size: 90%;*/
}

.menuSearch:-moz-placeholder {
    color: rgba(0,71,186,0.75) !important;
    /*font-size: 90%;*/
    opacity:  1;
}

.menuSearch::-moz-placeholder {
    color: rgba(0,71,186,0.75) !important;
    /*font-size: 90%;*/
    opacity:  1;
}

.menuSearch:-ms-input-placeholder {
    color: rgba(0,71,186,0.75) !important;
    /*font-size: 90%;*/
}

.menuSearch:focus {
    outline: 0;
    background: rgba(0,71,186,0.10) url("../../../assets/images/icons/ic_search.svg") no-repeat right;
    background-origin: content-box;
    color: rgba(0,71,186,1) !important;
    border: none !important;
}

.uk-navbar-container > .uk-container .uk-navbar-right, .uk-navbar-container > .container .uk-navbar-right {
    margin-right: 0px;
}

.uk-navbar-right > .uk-navbar-nav > li > a {
    white-space: nowrap;
}
