<ng-container *ngIf="form" [formGroup]="form">
  <div *ngIf="fieldData.form.display?.visible">
    <div class="">

      <div class="uk-form-controls">

        <div *ngIf="fieldData.typeInfo.type === 'composite'">
          <app-composite-field [fieldData]="fieldData" [subVocabularies]="subVocabularies" [vocabularies]="vocabularies"
                               [readonly]="readonly" (hasChanges)="unsavedChangesPrompt()" [editMode]="editMode"
                               (handleBitSets)="handleBitsetOfChildren($event)"
                               (handleBitSetsOfComposite)="handleCompositeBitsetOfChildren($event)">
          </app-composite-field>
        </div>

        <div *ngIf="fieldData.typeInfo.type === 'chooseOne'">
          <app-choose-one [fieldData]="fieldData" [subVocabularies]="subVocabularies" [vocabularies]="vocabularies"
                         (hasChanges)="unsavedChangesPrompt()" (handleBitSets)="handleBitsetOfChildren($event)"
                         (handleBitSetsOfComposite)="handleCompositeBitsetOfChildren($event)" [editMode]="editMode">
          </app-choose-one>
        </div>

        <div *ngIf="fieldData.typeInfo.type === 'string' || fieldData.typeInfo.type === 'url' ||
                    fieldData.typeInfo.type === 'email' || fieldData.typeInfo.type === 'phone' ||
                    fieldData.typeInfo.type === 'double'">
          <app-string-url-email-field [fieldData]="fieldData" [editMode]="editMode" [readonly]="readonly"
                                      (hasChanges)="unsavedChangesPrompt()"
                                      (handleBitSets)="handleBitsetOfChildren($event)"
                                      (handleBitSetsOfComposite)="handleCompositeBitsetOfChildren($event)">
          </app-string-url-email-field>
        </div>

        <div *ngIf="fieldData.typeInfo.type === 'number'">
          <app-number-field [fieldData]="fieldData" [editMode]="editMode" [readonly]="readonly"
                            (hasChanges)="unsavedChangesPrompt()"
                            (handleBitSets)="handleBitsetOfChildren($event)"
                            (handleBitSetsOfComposite)="handleCompositeBitsetOfChildren($event)">
          </app-number-field>
        </div>

        <div *ngIf="fieldData.typeInfo.type === 'vocabulary' || fieldData.typeInfo.type === 'select'">
          <app-vocabulary-field [fieldData]="fieldData" [subVocabularies]="subVocabularies" [vocabularies]="vocabularies"
                                (handleBitSets)="handleBitsetOfChildren($event)" (hasChanges)="unsavedChangesPrompt()"
                                (handleBitSetsOfComposite)="handleCompositeBitsetOfChildren($event)" [editMode]="editMode">
          </app-vocabulary-field>
        </div>

        <div *ngIf="fieldData.typeInfo.type === 'largeText'">
          <app-large-text-field [fieldData]="fieldData" [editMode]="editMode" [readonly]="readonly"
                                (hasChanges)="unsavedChangesPrompt()"
                                (handleBitSets)="handleBitsetOfChildren($event)"
                                (handleBitSetsOfComposite)="handleCompositeBitsetOfChildren($event)">
          </app-large-text-field>
        </div>

        <div *ngIf="fieldData.typeInfo.type === 'radio'">
          <app-radio-button-field [fieldData]="fieldData" [readonly]="readonly" (hasChanges)="unsavedChangesPrompt()"
                                  [editMode]="editMode" (handleBitSets)="handleBitsetOfChildren($event)"
                                  (handleBitSetsOfComposite)="handleCompositeBitsetOfChildren($event)">
          </app-radio-button-field>
        </div>

        <div *ngIf="fieldData.typeInfo.type === 'richText'">
          <app-rich-text-field [fieldData]="fieldData" [editMode]="editMode" [readonly]="readonly"
                               (hasChanges)="unsavedChangesPrompt()"
                               (handleBitSets)="handleBitsetOfChildren($event)"
                               (handleBitSetsOfComposite)="handleCompositeBitsetOfChildren($event)">
          </app-rich-text-field>
        </div>

        <div *ngIf="fieldData.typeInfo.type === 'date'">
          <app-date-field [fieldData]="fieldData" [editMode]="editMode" (hasChanges)="unsavedChangesPrompt()"
                          (handleBitSets)="handleBitsetOfChildren($event)"
                          (handleBitSetsOfComposite)="handleCompositeBitsetOfChildren($event)">
          </app-date-field>
        </div>

        <div *ngIf="fieldData.typeInfo.type === 'scale'">
          <app-scale-field [fieldData]="fieldData" [editMode]="editMode" (hasChanges)="unsavedChangesPrompt()"
                           (handleBitSets)="handleBitsetOfChildren($event)"
                           (handleBitSetsOfComposite)="handleCompositeBitsetOfChildren($event)">
          </app-scale-field>
        </div>

      </div>
    </div>
  </div>

</ng-container>
