<div class="uk-section-default uk-section uk-section-small uk-padding-remove-bottom" style="min-height: 325px">
  <div class="uk-container">
    <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid="">
      <div class="uk-width-1-1@m uk-first-column">

        <h1 class="uk-h3">Browse service Subcategories</h1>

        <div class="uk-container uk-margin-medium-top uk-margin-medium-bottom">
          <div class="uk-grid">
            <div class=" uk-width-expand@m">

              <div *ngIf="errorMessage" class="uk-alert uk-alert-danger">{{errorMessage}}</div>

              <div *ngIf="nestedStructure" uk-grid="masonry: true">

                <ul *ngFor="let superCategory of nestedStructure.children" class="uk-list uk-width-1-3@m">
                  <!--<div *ngFor="let superCategory of nestedStructure.children" class="uk-width-1-3@m">-->
                  <li> <a (click)="getSubcategoriesIds(superCategory.vocabulary.id, 'SUPERCATEGORY')">{{superCategory.vocabulary.name}}</a>
                    <ul *ngFor="let category of superCategory.children">
                      <li><a (click)="getSubcategoriesIds(category.vocabulary.id, 'CATEGORY')">{{category.vocabulary.name }}</a>
                        <ul *ngFor="let subcategory of category.children">
                          <li><a (click)="this.router.search({subcategories: subcategory.vocabulary.id});">{{subcategory.vocabulary.name}}</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <!--</div>-->
                </ul>

              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
