<div class="image-front-topbar uk-section-default" tm-header-transparent="light"
     uk-scrollspy="{&quot;target&quot;:&quot;[uk-scrollspy-class]&quot;,&quot;cls&quot;:&quot;uk-animation-fade&quot;,&quot;delay&quot;:false}">
  <div
    style="background-image: url('https://dl119.madgik.di.uoa.gr/templates/yootheme/cache/handsinair_3-f4940f92.png'); background-color: rgb(255, 255, 255); box-sizing: border-box; min-height: calc(100vh - 229.5px);"
    class="uk-background-norepeat uk-background-cover uk-background-fixed uk-section uk-padding-remove-bottom uk-flex uk-flex-middle"
    uk-height-viewport="offset-top: true;offset-bottom: 20">
    <!--<div class="uk-position-cover" style="background-color: rgba(31, 55, 97, 0.53);"></div>-->
    <div class="uk-width-1-1">
      <div class="uk-position-relative">
        <div class="uk-container uk-margin-large">
          <div class="search_box_bg uk-grid-large uk-flex-middle uk-grid uk-grid-stack" uk-grid="">
            <div class="uk-width-1-1@m uk-first-column">
              <h2
                class="uk-margin-large uk-margin-remove-top uk-text-center uk-h2 uk-scrollspy-inview uk-animation-fade"
                uk-scrollspy-class="" style="">
                Your Gateway for European E-Infrastructures</h2>
              <div>
                <div class="search_box_bg" style="text-align:center">
                  <form [formGroup]="searchForm" (ngSubmit)="this.onSubmit(searchForm.value)">
                    <input aria-describedby="sizing-addon2"
                           class="uk-input uk-width-1-2 ng-pristine ng-valid ng-touched uk-comment uk-comment-meta"
                           name="keyword" placeholder="Search our service catalogue..." type="text"
                           formControlName="query">
                    <button class=" uk-button uk-button-default" type="submit">Search</button>
                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
