<div class="uk-section-default uk-section uk-section-small uk-padding-remove-bottom" style="min-height: 325px">
  <div class="uk-container" style="min-height: 500px">
    <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid="">
      <div class="uk-width-1-1@m uk-first-column">

        <h1 class="uk-h3">My Service Providers</h1>

        <!-- TOP HELP CONTENT -->
        <app-help-content #topHelperContent [position]="'top'"
                          [ngClass]="topHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">
        </app-help-content>

        <div class="uk-container uk-margin-medium-top uk-margin-medium-bottom">
          <div class="uk-grid">

            <!-- LEFT HELP CONTENT -->
            <app-aside-help-content #leftHelperContent [position]="'left'"
                                    [ngClass]="leftHelperContent.isPresent()?'tm-sidebar uk-width-1-4@m uk-first-column':'clear-style'">
            </app-aside-help-content>

            <!-- MIDDLE -->
            <div class=" uk-width-expand@m">
              <div>
                <div *ngIf="errorMessage" class="uk-alert uk-alert-danger">{{ errorMessage }}</div>
                <div *ngIf="noProvidersMessage" class="uk-alert">{{ noProvidersMessage }}</div>
                <div class="uk-width-1-1 uk-grid">
                  <div *ngIf="myProviders && (myProviders.length > 0) || myPendingProviders && (myPendingProviders.length > 0)" class="uk-width-1-1">

                    <div class="uk-width-1-1 uk-first-column uk-margin-bottom">
                      <div class="uk-float-right">
                        <a (click)="toggleTiles()">
                          <img src="{{'../../../assets/images/icons/switch_view_'+(tilesView === true ? 'grid' : 'list')+'_active.svg'}}">
                        </a>
                      </div>
                    </div>

                    <!--TILES VIEW-->
                    <div *ngIf="tilesView" class="uk-width-1-1 uk-grid">
<!--                      <div class="uk-width-1-1 uk-first-column uk-margin-bottom">-->
<!--                        <div class="uk-float-right">-->
<!--                          <a (click)="toggleTiles(false)">-->
<!--                            <img src="../../../assets/images/icons/switch_view_grid_active.svg">-->
<!--                          </a>-->
<!--                        </div>-->
<!--                      </div>-->

                      <div *ngIf="myProviders.length > 0" class="uk-width-1-1">
                        <div class="uk-grid uk-grid-match uk-child-width-1-3" uk-grid>
                          <div *ngFor="let providerBundle of myProviders">
                            <div class="uk-card uk-card-default uk-card-body uk-first-column">
                              <div class="uk-scrollspy-inview uk-animation-slide-top-medium uk-margin-small-bottom"
                                   uk-scrollspy-class="">
                                <div class="uk-grid uk-child-width-expand uk-grid-collapse"
                                     uk-grid>
                                  <div class="uk-margin-remove-right">
                                    <img class="el-image uk-border-rounded"
                                         width="100"
                                         src="{{ providerBundle.provider.logo ? providerBundle.provider.logo : 'http://fvtelibrary.com/img/user/NoLogo.png' }}">
                                  </div>
                                  <span class="uk-margin-auto-vertical" data-uk-tooltip title="{{(providerBundle.status !== 'approved') ?
                                                                                    'Your service provider is not yet active, therefore you cannot access its monitoring dashboard':
                                                                                    'Go to the service provider monitoring dashboard'}}">
                                    <a [routerLink]="['/dashboard', providerBundle.id]"
                                       class="{{(providerBundle.status !== 'approved') ? 'uk-disabled':''}}">
                                        {{ providerBundle.provider.name }}
                                    </a>
                                  </span>
                                </div>
                              </div>
                              <div>
                                <!--<div class="{{ (provider.status === 'pending initial approval') ? 'uk-badge uk-badge-danger' :
                                                       ((provider.status === 'pending service template approval') ? 'uk-badge uk-badge-warning' : 'uk-badge uk-badge-success') }}">-->
                                <div class="uk-badge uk-badge-warning" [ngClass]="{'uk-badge-success': providerBundle.status==='approved',
                                     'uk-badge-danger': providerBundle.status === 'rejected'}">
                                  {{ providerBundle.status }}
                                </div>
                                <div>
                                  <a routerLink="/updateServiceProvider/{{providerBundle.id}}">Update Provider Description</a>
                                </div>
                              </div>
                              <div *ngIf="(providerBundle.status === 'pending service template submission')
                                          || (providerBundle.status === 'pending service template approval')
                                          || (providerBundle.status === 'rejected service template')">
                                <a routerLink="{{ getLinkToFirstService(providerBundle.id) }}">
                                  <i class="fa {{hasCreatedFirstService(providerBundle.id) ? 'fa-pencil': 'fa-plus'}}"></i>
                                  {{ hasCreatedFirstService(providerBundle.id) ? 'Update' : 'Add'}} Service Description
                                </a>
                              </div>
                              <div *ngIf="checkForPendingServices(providerBundle.id)">
                                <a [routerLink]="['/dashboard/' + providerBundle.id + '/pendingServices'] ">
                                  <i class="fa fa-arrow-right" aria-hidden="true"></i> Select from Pending Services
                                </a>
                              </div>

                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- Pending Providers -->
                      <div *ngIf="myPendingProviders && myPendingProviders.length > 0" class="uk-width-1-1">
                        <h3 class="uk-margin uk-margin-large-top">Incomplete Providers</h3>
                        <div class="uk-grid uk-grid-match uk-child-width-1-3" uk-grid>
                          <div *ngFor="let providerBundle of myPendingProviders">
                            <div class="uk-card uk-card-default uk-card-body uk-first-column">
                              <div class="uk-scrollspy-inview uk-animation-slide-top-medium uk-margin-small-bottom"
                                   uk-scrollspy-class="">
                                <div class="uk-grid uk-child-width-expand uk-grid-collapse"
                                     uk-grid>
                                  <div class="uk-margin-remove-right">
                                    <img class="el-image uk-border-rounded"
                                         width="100"
                                         src="{{ providerBundle.provider.logo ? providerBundle.provider.logo : 'http://fvtelibrary.com/img/user/NoLogo.png' }}">
                                  </div>
                                  <span class="uk-margin-auto-vertical" data-uk-tooltip title="{{(providerBundle.status !== 'approved') ?
                                                                                    'Your service provider is not yet active, therefore you cannot access its monitoring dashboard':
                                                                                    'Go to the service provider monitoring dashboard'}}">
                                    <a [routerLink]="['/dashboard', providerBundle.id]"
                                       class="{{(providerBundle.status !== 'approved') ? 'uk-disabled':''}}">
                                        {{ providerBundle.provider.name }}
                                    </a>
                                  </span>
                                </div>
                              </div>
                              <div>
                                <!--<div class="{{ (provider.status === 'pending initial approval') ? 'uk-badge uk-badge-danger' :
                                                       ((provider.status === 'pending service template approval') ? 'uk-badge uk-badge-warning' : 'uk-badge uk-badge-success') }}">-->
<!--                                <div class="uk-badge uk-badge-warning" [ngClass]="{'uk-badge-success': providerBundle.status==='approved',-->
<!--                                     'uk-badge-danger': providerBundle.status === 'rejected'}">-->
<!--                                  {{ providerBundle.status }}-->
<!--                                </div>-->
                                <div>
                                  <a routerLink="/registerServiceProvider/{{providerBundle.id}}">Update provider</a>
                                </div>
                              </div>
<!--                              <div *ngIf="(providerBundle.status === 'pending service template submission')-->
<!--                                          || (providerBundle.status === 'pending service template approval')-->
<!--                                          || (providerBundle.status === 'rejected service template')">-->
<!--                                <a routerLink="{{ getLinkToFirstService(providerBundle.id) }}">-->
<!--                                  <i class="fa {{hasCreatedFirstService(providerBundle.id) ? 'fa-pencil': 'fa-plus'}}"></i>-->
<!--                                  {{ hasCreatedFirstService(providerBundle.id) ? 'Update' : 'Add'}} service template-->
<!--                                </a>-->
<!--                              </div>-->
<!--                              <div *ngIf="checkForPendingServices(providerBundle.id)">-->
<!--                                <a [routerLink]="['/dashboard/' + providerBundle.id + '/pendingServices'] ">-->
<!--                                  <i class="fa fa-arrow-right" aria-hidden="true"></i> Select from pending service-->
<!--                                </a>-->
<!--                              </div>-->

                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- End Pending Providers -->


                    </div>

                    <!-- LIST VIEW -->
                    <div *ngIf="!tilesView" class="uk-width-1-1 uk-grid">
                      <div *ngIf="myProviders.length > 0"
                           class="uk-width-1-1 uk-first-column uk-grid">
                        <div class="uk-width-1-1 uk-first-column">
                          <div class="uk-overflow-auto uk-scrollspy-inview uk-animation-slide-top-medium">
                            <div>
                              <table class="uk-table uk-table-striped uk-table-middle">
                                <thead>
                                <tr>
                                  <th class="uk-text-nowrap">Logo</th>
                                  <th class="uk-text-nowrap">Name</th>
                                  <th class="uk-text-nowrap">Current Status</th>
                                  <th class="uk-text-nowrap">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="el-item"
                                    *ngFor="let providerBundle of myProviders">
                                  <td class="uk-text-nowrap uk-table-shrink">
                                    <img class="el-image uk-border-rounded"
                                         src="{{ providerBundle.provider.logo ? providerBundle.provider.logo : 'http://fvtelibrary.com/img/user/NoLogo.png' }}">
                                  </td>
                                  <td class="uk-text-nowrap uk-table-shrink">
                                    <span data-uk-tooltip title="{{(providerBundle.status !== 'approved') ?
                                                                    'Your service provider is not yet active, therefore you cannot access its monitoring dashboard':
                                                                    'Go to the service provider monitoring dashboard'}}">
                                      <a [routerLink]="['/dashboard', providerBundle.id]"
                                        class="{{(providerBundle.status !== 'approved') ? 'uk-disabled':''}}">
                                          {{ providerBundle.provider.name }}
                                      </a>
                                    </span>
                                  </td>
                                  <td class="uk-text-nowrap uk-table-shrink">
                                    <!--<div class="{{ (provider.status === 'pending initial approval') ? 'uk-badge uk-badge-danger' :
                                                   ((provider.status === 'pending service template approval') ? 'uk-badge uk-badge-warning' : 'uk-badge uk-badge-success') }}">-->
                                    <div>
                                      {{ providerBundle.status }}
                                    </div>
                                  </td>
                                  <td>
                                    <a
                                      *ngIf="(providerBundle.status === 'pending service template approval') || (providerBundle.status === 'rejected service template')"
                                      routerLink="{{ getLinkToFirstService(providerBundle.id) }}">
                                      <i
                                        class="fa {{hasCreatedFirstService(providerBundle.id) ? 'fa-pencil': 'fa-plus'}}"></i>
                                      {{ hasCreatedFirstService(providerBundle.id) ? 'Update' : 'Add'}}
                                      service template
                                    </a>
                                    <a routerLink="/updateServiceProvider/{{providerBundle.id}}">Update provider</a>
                                  </td>
                                </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- Pending Providers -->
                      <div *ngIf="myPendingProviders && myPendingProviders.length > 0"
                           class="uk-width-1-1 uk-first-column uk-grid">
                        <h3 class="uk-margin uk-margin-large-top">Incomplete Providers</h3>
                        <div class="uk-width-1-1 uk-first-column">
                          <div class="uk-overflow-auto uk-scrollspy-inview uk-animation-slide-top-medium">
                            <div>
                              <table class="uk-table uk-table-striped uk-table-middle">
                                <thead>
                                <tr>
                                  <th class="uk-text-nowrap">Logo</th>
                                  <th class="uk-text-nowrap">Name</th>
                                  <th class="uk-text-nowrap">Current Status</th>
                                  <th class="uk-text-nowrap">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="el-item"
                                    *ngFor="let providerBundle of myPendingProviders">
                                  <td class="uk-text-nowrap uk-table-shrink">
                                    <img class="el-image uk-border-rounded"
                                         src="{{ providerBundle.provider.logo ? providerBundle.provider.logo : 'http://fvtelibrary.com/img/user/NoLogo.png' }}">
                                  </td>
                                  <td class="uk-text-nowrap uk-table-shrink">
                                    <span data-uk-tooltip title="{{(providerBundle.status !== 'approved') ?
                                                                    'Your service provider is not yet active, therefore you cannot access its monitoring dashboard':
                                                                    'Go to the service provider monitoring dashboard'}}">
                                      <a [routerLink]="['/dashboard', providerBundle.id]"
                                         class="{{(providerBundle.status !== 'approved') ? 'uk-disabled':''}}">
                                          {{ providerBundle.provider.name }}
                                      </a>
                                    </span>
                                  </td>
                                  <td class="uk-text-nowrap uk-table-shrink">
                                    <!--<div class="{{ (provider.status === 'pending initial approval') ? 'uk-badge uk-badge-danger' :
                                                   ((provider.status === 'pending service template approval') ? 'uk-badge uk-badge-warning' : 'uk-badge uk-badge-success') }}">-->
                                    <div>
                                      <span>-</span>
<!--                                      {{ providerBundle.status }}-->
                                    </div>
                                  </td>
                                  <td>
                                    <a
                                      *ngIf="(providerBundle.status === 'pending service template approval') || (providerBundle.status === 'rejected service template')"
                                      routerLink="{{ getLinkToFirstService(providerBundle.id) }}">
                                      <i
                                        class="fa {{hasCreatedFirstService(providerBundle.id) ? 'fa-pencil': 'fa-plus'}}"></i>
                                      {{ hasCreatedFirstService(providerBundle.id) ? 'Update' : 'Add'}}
                                      service template
                                    </a>
                                    <a routerLink="/registerServiceProvider/{{providerBundle.id}}">Update provider</a>
                                  </td>
                                </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- End Pending Providers -->



                    </div>
                  </div>
                </div>
              </div>

              <!-- RIGHT HELP CONTENT -->
              <app-aside-help-content #rightHelperContent [position]="'right'"
                                      [ngClass]="rightHelperContent.isPresent()?'tm-sidebar uk-width-1-4@m uk-first-column':'clear-style'">
              </app-aside-help-content>

            </div>
          </div>

          <!-- BOTTOM HELP CONTENT -->
          <app-help-content #bottomHelperContent [position]="'bottom'"
                            [ngClass]="bottomHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">
          </app-help-content>

        </div>
      </div>
    </div>
  </div>
</div>
