<div class="uk-section-default uk-section uk-section-small uk-padding-remove-bottom" style="min-height: 325px">
  <div class="uk-container">
    <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid="">
      <div class="uk-width-1-1@m uk-first-column">

        <h1 class="uk-h3">
          <a (click)="showLogoUrlModal()" title="Click to add the url with the Service Provider Logo">
            <img class="el-image uk-border-rounded"
                 src="{{(newProviderForm && newProviderForm.get('logo').value) ? newProviderForm.get('logo').value : 'http://fvtelibrary.com/img/user/NoLogo.png'}}"
                 width="70">
          </a>{{disable ? ' ' : edit ? ' Update' : ' Add New'}} Service Provider {{disable ? 'Info' : ''}}
        </h1>

        <!-- TOP HELP CONTENT -->
        <app-help-content #topHelperContent [position]="'top'"
                          [ngClass]="topHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">
        </app-help-content>

        <div class="uk-container uk-margin-medium-top uk-margin-medium-bottom">
          <div class="uk-grid">

            <!-- LEFT HELP CONTENT -->
            <app-aside-help-content #leftHelperContent [position]="'left'"
                                    [ngClass]="leftHelperContent.isPresent()?'tm-sidebar uk-width-1-4@m uk-first-column':'clear-style'">
            </app-aside-help-content>


            <!-- MIDDLE -->
            <div class="uk-width-expand@m">

              <div *ngIf="showLoader" class="uk-position-center" style="z-index: 100">
                <div uk-spinner="ratio: 2"></div>
              </div>

              <div [ngClass]="{'blur-filter': showLoader}">

                <div *ngIf="errorMessage" class="uk-alert uk-alert-danger">{{errorMessage}}</div>

                <div class="uk-float-right uk-padding">
                  <button class="uk-button" type="button" title="Open or download an empty pdf template form"
                          (click)="downloadProviderFormPDF()">Download to pdf
                  </button>
                </div>

                <ul class="uk-width-1-1 uk-margin-remove" uk-tab="connect: #top-navigation-tabs; animation: uk-animation-fade">
                  <li><a class="remove-text-decoration" [ngClass]="{'form-error': tabs[0]}" href="#">Basic *</a></li>
                  <li><a class="remove-text-decoration" [ngClass]="{'form-error': tabs[1]}" href="#">Classification *</a></li>
                  <li><a class="remove-text-decoration" [ngClass]="{'form-error': tabs[2]}" href="#">Maturity *</a></li>
                  <li><a class="remove-text-decoration" [ngClass]="{'form-error': tabs[3]}" href="#">Location *</a></li>
                  <li><a class="remove-text-decoration" [ngClass]="{'form-error': tabs[4]}" href="#">Contact *</a></li>
                  <li><a class="remove-text-decoration" [ngClass]="{'form-error': tabs[5]}" href="#">Other </a></li>
                  <li><a class="remove-text-decoration" [ngClass]="{'form-error': tabs[6]}" href="#">Admins *</a></li>
                </ul>


                <form *ngIf="vocabularies" [formGroup]="newProviderForm" class="uk-form-horizontal uk-margin">

                  <ul id="top-navigation-tabs" class="uk-switcher uk-margin">
                    <li>
                      <div class="uk-margin-bottom">
                        <label class="uk-form-label uk-text-right" for="providerName">
                          {{fullNameDesc.label + (fullNameDesc.mandatory ? ' (*)' : '')}}
                        </label>
                        <div class="uk-form-controls">
                          <input id="providerName" class="uk-input" type="text" formControlName="name"
                                 [ngClass]="{'uk-form-danger': checkFormValidity('name')}">
                          <i><small>{{fullNameDesc.desc}}</small></i>
                        </div>
                      </div>
                      <div class="uk-margin-bottom">
                        <label class="uk-form-label uk-text-right" for="acronym">
                          {{ acronymDesc.label + (acronymDesc.mandatory ? ' (*)' : '')}}
                        </label>
                        <div class="uk-form-controls">
                          <input id="acronym" class="uk-input" type="text" formControlName="acronym"
                                 [ngClass]="{'uk-form-danger': checkFormValidity('acronym')}">
                          <i><small>{{acronymDesc.desc}}</small></i>
                        </div>
                      </div>
<!--                  <div class="uk-margin-bottom">-->
<!--                  <label class="uk-form-label uk-text-right" for="legalForm">-->
<!--                      {{ legalFormDesc.label + (legalFormDesc.mandatory ? ' (*)' : '')}}-->
<!--                    </label>-->
<!--                    <div class="uk-form-controls">-->
<!--                      <input id="legalForm" class="uk-input" type="text" formControlName="legalForm"-->
<!--                             [ngClass]="{'uk-form-danger': !newProviderForm.get('legalForm').valid && newProviderForm.get('legalForm').dirty}">-->
<!--                      <i><small>{{legalFormDesc.desc}}</small></i>-->
<!--                    </div>-->
<!--                  </div>-->
                      <div class="uk-margin-bottom">
                        <label class="uk-form-label uk-text-right" for="website">
                          {{ websiteDesc.label + (websiteDesc.mandatory ? ' (*)' : '')}}
                        </label>
                        <div class="uk-form-controls">
                          <input id="website" class="uk-input" type="text" formControlName="website"
                                 [ngClass]="{'uk-form-danger': checkFormValidity('website')}">
                          <i><small>{{websiteDesc.desc}}</small></i>
                        </div>
                      </div>
                      <div class="uk-margin-bottom">
                        <label class="uk-form-label uk-text-right" for="description">
                          {{ providerDescriptionDesc.label + (providerDescriptionDesc.mandatory ? ' (*)': '')}}
                        </label>
                        <div class="uk-form-controls">
                          <input id="description" class="uk-input" type="text" formControlName="description"
                                 [ngClass]="{'uk-form-danger': checkFormValidity('description')}">
                          <i><small>{{providerDescriptionDesc.desc}}</small></i>
                        </div>
                      </div>
                      <div class="uk-margin-bottom">
                        <label class="uk-form-label uk-text-right" for="logo">
                          {{ providerLogoDesc.label + (providerLogoDesc.mandatory ? ' (*)': '')}}
                        </label>
                        <div class="uk-form-controls">
                          <input id="logo" class="uk-input" type="text" formControlName="logo"
                                 [ngClass]="{'uk-form-danger': checkFormValidity('logo')}">
                          <i><small>{{providerLogoDesc.desc}}</small></i>
                        </div>
                      </div>
                      <div formArrayName="multimedia" class="uk-margin-bottom">
                        <label class="uk-form-label uk-text-right" for="multimedia">
                          {{providerMultimediaDesc.label + (providerMultimediaDesc.mandatory ? ' (*)' : '')}}
                        </label>
                        <div class="uk-form-controls">
                          <div *ngFor="let media of getFieldAsFormArray('multimedia').controls; let i=index">
                            <input id="multimedia" class="uk-input" type="text" [formControlName]="i"
                                   [ngClass]="{'uk-form-danger': checkFormArrayValidity('multimedia', i), 'uk-width-5-6': (getFieldAsFormArray('multimedia').length > 1)}">
                            <a *ngIf="getFieldAsFormArray('multimedia').length > 1 && !disable"
                               class="remove-element uk-padding-small" (click)="remove('multimedia', i)">
                              <i class="fa fa-times" aria-hidden="true"></i>
                            </a>
                          </div>
                          <div *ngIf="!disable" class="uk-width-1-1">
                            <a class="add-new-element" (click)="push('multimedia', false, true)">
                              <i class="fa fa-plus" aria-hidden="true"></i> Add {{providerMultimediaDesc.label}}
                            </a>
                          </div>
                          <i><small>{{providerMultimediaDesc.desc}}</small></i>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div formArrayName="types" class=" uk-margin-bottom">
                        <label class="uk-form-label uk-text-right" for="types">
                          {{typeDesc.label + (typeDesc.mandatory ? ' (*)' : '')}}
                        </label>
                        <div class="uk-form-controls">
                          <div *ngFor="let provider of getFieldAsFormArray('types').controls; let i=index">
                            <select id="types" *ngIf="providerTypeVocabulary" class="uk-select" [formControlName]="i"
                                    [ngClass]="{'uk-form-danger': checkFormArrayValidity('types', i),
                                    'uk-width-5-6': getFieldAsFormArray('types').length > 1}">
                              <option value=""></option>
                              <option *ngFor="let entry of sortVocabulariesByName(providerTypeVocabulary)" value="{{entry.id}}">
                                {{entry.name}}
                              </option>
                            </select>
                            <a *ngIf="getFieldAsFormArray('types').length > 1 && !disable"
                               class="remove-element uk-padding-small" (click)="remove('types', i)">
                              <i class="fa fa-times" aria-hidden="true"></i>
                            </a>
                          </div>
                          <div *ngIf="!disable" class="uk-width-1-1">
                            <a class="add-new-element" (click)="push('types', true)">
                              <i class="fa fa-plus" aria-hidden="true"></i> Add {{typeDesc.label}}
                            </a>
                          </div>
                          <i>
                            <small>{{typeDesc.desc}}</small>
                          </i>
                        </div>
                      </div>
                      <div class="uk-margin-bottom">
                        <label class="uk-form-label uk-text-right">Scientific Domain (*)</label>
                        <div class="uk-form-controls">
                          <div formArrayName="categorization" *ngFor="let category of domainArray.controls; let i = index">
                            <div [formGroupName]="i" class="uk-margin-small-bottom" style="border: 1px dashed #cccccc; padding-right: 10px">
                              <a *ngIf="domainArray.length > 1 && !disable" class="remove-element uk-padding-small"
                                 (click)="removeDomain(i)">
                                <i class="fa fa-times" aria-hidden="true"></i>
                              </a>

                              <div *ngIf="domainsVocabulary" class="uk-margin-bottom">
                                <label class="uk-form-label uk-text-right" for="{{'domain ' + i}}">
                                  {{providerScientificDomainDesc.label + (providerScientificDomainDesc.mandatory ? ' (*)' : '')}}
                                </label>
                                <div class="uk-form-controls">
                                  <select id="{{'domain ' + i}}" formControlName="domain" class="uk-select" (change)="onDomainChange(i)"
                                          [ngClass]="{'uk-form-danger': checkFormArrayValidity('categorization', i, 'domain')}">
                                    <option value=""></option>
                                    <option *ngFor="let entry of sortVocabulariesByName(domainsVocabulary)" value="{{entry.id}}">
                                      {{entry.name}}
                                    </option>
                                  </select>
                                  <i><small>{{providerScientificDomainDesc.desc}}</small></i>
                                </div>
                              </div>

                              <div *ngIf="categoriesVocabulary" class="uk-margin-bottom">
                                <label class="uk-form-label uk-text-right" for="{{'category ' + i}}">
                                  {{providerCategoryDesc.label + (providerCategoryDesc.mandatory ? ' (*)' : '')}}
                                </label>
                                <div class="uk-form-controls">
                                  <select id="{{'category ' + i}}" formControlName="category" class="uk-select"
                                          [ngClass]="{'uk-form-danger': checkFormArrayValidity('categorization', i, 'category')}">
                                    <ng-container *ngIf="domainArray.controls[i].get('domain').value">
                                      <option value="">--Select Category--</option>
                                      <option *ngFor="let entry of getSortedChildrenCategories(categoriesVocabulary, domainArray.controls[i].get('domain').value)" value="{{entry.id}}">
                                        {{entry.name}}
                                      </option>
                                    </ng-container>
                                  </select>
                                  <i><small>{{providerCategoryDesc.desc}}</small></i>
                                </div>
                              </div>

                            </div>
                          </div>
                        </div>
                        <div *ngIf="!disable" class="uk-form-controls">
                          <a class="add-new-element" (click)="pushDomain()">
                            <i class="fa fa-plus" aria-hidden="true"></i> Add another scientific domain
                          </a>
                        </div>
                      </div>
                      <div  formArrayName="esfriDomains" class="uk-margin-bottom">
                        <label class="uk-form-label uk-text-right" for="esfriDomains">
                          {{ESFRIDomainDesc.label + (ESFRIDomainDesc.mandatory ? ' (*)' : '')}}
                        </label>
                        <div class="uk-form-controls">
                          <div *ngFor="let provider of getFieldAsFormArray('esfriDomains').controls; let i=index">
                            <select id="esfriDomains" class="uk-select" [formControlName]="i"
                                    [ngClass]="{'uk-form-danger': checkFormValidity('esfriDomains'),
                               'uk-width-5-6': (getFieldAsFormArray('esfriDomains').length > 1)}">
                              <option value=""></option>
                              <option *ngFor="let entry of sortVocabulariesByName(esfriDomainVocabulary)" value="{{entry.id}}">
                                {{entry.name}}
                              </option>
                            </select>
                            <a *ngIf="getFieldAsFormArray('esfriDomains').length > 1 && !disable"
                               class="remove-element uk-padding-small" (click)="remove('esfriDomains', i)">
                              <i class="fa fa-times" aria-hidden="true"></i>
                            </a>
                          </div>
                          <div *ngIf="!disable" class="uk-width-1-1">
                            <a class="add-new-element" (click)="push('esfriDomains', false)">
                              <i class="fa fa-plus" aria-hidden="true"></i> Add {{ESFRIDomainDesc.label}}
                            </a>
                          </div>
                          <i><small>{{ESFRIDomainDesc.desc}}</small></i>
                        </div>
                      </div>
                      <div formArrayName="tags" class="uk-margin-bottom">
                        <label class="uk-form-label uk-text-right" for="tags">
                          {{providerTagsDesc.label + (providerTagsDesc.mandatory ? ' (*)' : '')}}
                        </label>
                        <div class="uk-form-controls">
                          <div *ngFor="let provider of getFieldAsFormArray('tags').controls; let i=index">
                            <input id="tags" class="uk-input" type="text" [formControlName]="i"
                                   [ngClass]="{'uk-form-danger': checkFormValidity('tags'),
                               'uk-width-5-6': (getFieldAsFormArray('tags').length > 1)}">
                            <a *ngIf="getFieldAsFormArray('tags').length > 1 && !disable"
                               class="remove-element uk-padding-small" (click)="remove('tags', i)">
                              <i class="fa fa-times" aria-hidden="true"></i>
                            </a>
                          </div>
                          <div *ngIf="!disable" class="uk-width-1-1">
                            <a class="add-new-element" (click)="push('tags', false)">
                              <i class="fa fa-plus" aria-hidden="true"></i> Add {{providerTagsDesc.label}}
                            </a>
                          </div>
                          <i><small>{{providerTagsDesc.desc}}</small></i>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div *ngIf="providerTRLVocabulary" class="uk-margin-bottom">
                        <label class="uk-form-label uk-text-right" for="lifeCycleStatus">
                          {{lifeCycleStatusDesc.label + (lifeCycleStatusDesc.mandatory ? ' (*)' : '')}}
                        </label>
                        <div class="uk-form-controls">
                          <select id="lifeCycleStatus" formControlName="lifeCycleStatus" class="uk-select"
                                  [ngClass]="{'uk-form-danger': checkFormValidity('lifeCycleStatus')}">
                            <option value=""></option>
                            <option *ngFor="let entry of sortVocabulariesByName(providerTRLVocabulary)" value="{{entry.id}}">
                              {{entry.name}}
                            </option>
                          </select>
                          <i><small>{{lifeCycleStatusDesc.desc}}</small></i>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div formGroupName="location" class="uk-margin-bottom">
                        <div class="uk-margin-bottom">
                          <label class="uk-form-label uk-text-right" for="name">
                            {{ locationNameDesc.label + (locationNameDesc.mandatory ? ' (*)': '')}}
                          </label>
                          <div class="uk-form-controls">
                            <input id="name" class="uk-input" type="text" formControlName="name"
                                   [ngClass]="{'uk-form-danger': checkFormValidity('location.name')}">
                            <i><small>{{locationNameDesc.desc}}</small></i>
                          </div>
                        </div>
                        <div class="uk-margin-bottom">
                          <label class="uk-form-label uk-text-right" for="street">
                            {{ streetNameDesc.label + (streetNameDesc.mandatory ? ' (*)': '')}}
                          </label>
                          <div class="uk-form-controls">
                            <input id="street" class="uk-input" type="text" formControlName="street"
                                   [ngClass]="{'uk-form-danger': checkFormValidity('location.street')}">
                            <i><small>{{streetNameDesc.desc}}</small></i>
                          </div>
                        </div>
                        <div class="uk-margin-bottom">
                          <label class="uk-form-label uk-text-right" for="number">
                            {{ streetNumberDesc.label + (streetNumberDesc.mandatory ? ' (*)': '')}}
                          </label>
                          <div class="uk-form-controls">
                            <input id="number" class="uk-input" type="number" formControlName="number"
                                   [ngClass]="{'uk-form-danger': checkFormValidity('location.number')}">
                            <i><small>{{streetNumberDesc.desc}}</small></i>
                          </div>
                        </div>
                        <div class="uk-margin-bottom">
                          <label class="uk-form-label uk-text-right" for="postalCode">
                            {{ postalCodeDesc.label + (postalCodeDesc.mandatory ? ' (*)': '')}}
                          </label>
                          <div class="uk-form-controls">
                            <input id="postalCode" class="uk-input" type="text" formControlName="postalCode"
                                   [ngClass]="{'uk-form-danger': checkFormValidity('location.postalCode')}">
                            <i><small>{{postalCodeDesc.desc}}</small></i>
                          </div>
                        </div>
                        <div class="uk-margin-bottom">
                          <label class="uk-form-label uk-text-right" for="city">
                            {{ cityDesc.label + (cityDesc.mandatory ? ' (*)': '')}}
                          </label>
                          <div class="uk-form-controls">
                            <input id="city" class="uk-input" type="text" formControlName="city"
                                   [ngClass]="{'uk-form-danger': checkFormValidity('location.city')}">
                            <i><small>{{cityDesc.desc}}</small></i>
                          </div>
                        </div>
                        <div class="uk-margin-bottom">
                          <label class="uk-form-label uk-text-right" for="region">
                            {{ regionDesc.label + (regionDesc.mandatory ? ' (*)': '')}}
                          </label>
                          <div class="uk-form-controls">
                            <input id="region" class="uk-input" type="text" formControlName="region"
                                   [ngClass]="{'uk-form-danger': checkFormValidity('location.region')}">
                            <i><small>{{regionDesc.desc}}</small></i>
                          </div>
                        </div>
                      </div>
                      <div class="uk-margin-bottom">
                        <label class="uk-form-label uk-text-right" for="coordinatingCountry">
                          {{ countryDesc.label + (countryDesc.mandatory ? ' (*)': '')}}
                        </label>
                        <div class="uk-form-controls">
                          <select id="coordinatingCountry" class="uk-input" formControlName="coordinatingCountry"
                                  [ngClass]="{'uk-form-danger': checkFormValidity('coordinatingCountry')}">
                            <option value=""></option>
                            <option *ngFor="let entry of sortVocabulariesByName(placesVocabulary)" value="{{entry.id}}">
                              {{entry.name}}
                            </option>
                          </select>
                          <i><small>{{countryDesc.desc}}</small></i>
                        </div>
                      </div>
                      <div formArrayName="participatingCountries" class="uk-margin-bottom">
                        <label class="uk-form-label uk-text-right" for="participatingCountries">
                          {{participatingCountriesDesc.label + (participatingCountriesDesc.mandatory ? ' (*)' : '')}}
                        </label>
                        <div class="uk-form-controls">
                          <div *ngFor="let provider of getFieldAsFormArray('participatingCountries').controls; let i=index">
                            <select id="participatingCountries" class="uk-input" [formControlName]="i"
                                    [ngClass]="{'uk-form-danger': checkFormArrayValidity('participatingCountries', i),
                               'uk-width-5-6': (getFieldAsFormArray('participatingCountries').length > 1)}">
                              <option value=""> </option>
                              <option *ngFor="let entry of sortVocabulariesByName(placesVocabulary)" value="{{entry.id}}">
                                {{entry.name}}
                              </option>
                            </select>
                            <a *ngIf="getFieldAsFormArray('participatingCountries').length > 1 && !disable"
                               class="remove-element uk-padding-small" (click)="remove('participatingCountries', i)">
                              <i class="fa fa-times" aria-hidden="true"></i>
                            </a>
                          </div>
                          <div *ngIf="!disable" class="uk-width-1-1">
                            <a class="add-new-element" (click)="push('participatingCountries', false)">
                              <i class="fa fa-plus" aria-hidden="true"></i> Add {{participatingCountriesDesc.label}}
                            </a>
                          </div>
                          <i><small>{{participatingCountriesDesc.desc}}</small></i>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="uk-margin-bottom">
                        <label class="uk-form-label uk-text-right">Contact (*)</label>
                        <div class="uk-form-controls">
                          <div formArrayName="contacts" *ngFor="let contact of contactArray.controls; let i = index">
                            <div [formGroupName]="i" class="uk-margin-small-bottom"
                                 style="border: 1px dashed #cccccc; padding-right: 10px">
                              <div>
                                <a *ngIf="i !== 0 && !disable" class="remove-element uk-padding-small" (click)="removeContact(i)">
                                  <i class="fa fa-times" aria-hidden="true"></i>
                                </a>
                              </div>
                              <label class="uk-form-label uk-text-right" for="firstName">
                                {{ i === 0 ? (providerMainContactFirstNameDesc.label + (providerMainContactFirstNameDesc.mandatory ? ' (*)' : '')) : (providerPublicContactLastNameDesc.label + (providerPublicContactLastNameDesc.mandatory ? ' (*)' : ''))}}
                              </label>
                              <div class="uk-form-controls">
                                <input id="firstName" class="uk-input" type="text" formControlName="firstName"
                                       [ngClass]="{'uk-form-danger': checkFormArrayValidity('contacts', i, 'firstName')}">
                                <i><small>{{i === 0 ? providerMainContactFirstNameDesc.desc : providerPublicContactLastNameDesc.desc}}</small></i>
                              </div>
                              <label class="uk-form-label uk-text-right" for="lastName">
                                {{ i === 0 ? (providerMainContactLastNameDesc.label + (providerMainContactLastNameDesc.mandatory ? ' (*)' : '')) : (providerPublicContactFirstNameDesc.label + (providerPublicContactFirstNameDesc.mandatory ? ' (*)' : ''))}}
                              </label>
                              <div class="uk-form-controls">
                                <input id="lastName" class="uk-input" type="text" formControlName="lastName"
                                       [ngClass]="{'uk-form-danger': checkFormArrayValidity('contacts', i, 'lastName')}">
                                <i><small>{{i === 0 ? providerMainContactLastNameDesc.desc : providerPublicContactFirstNameDesc.desc}}</small></i>
                              </div>
                              <label class="uk-form-label uk-text-right" for="email">
                                {{ i === 0 ? (providerMainContactEmailDesc.label + (providerMainContactEmailDesc.mandatory ? ' (*)' : '')) : (providerPublicContactEmailDesc.label + (providerPublicContactEmailDesc.mandatory ? ' (*)' : ''))}}
                              </label>
                              <div class="uk-form-controls">
                                <input id="email" class="uk-input" type="text" formControlName="email"
                                       [ngClass]="{'uk-form-danger': checkFormArrayValidity('contacts', i, 'email')}">
                                <i><small>{{i === 0 ? providerMainContactEmailDesc.desc : providerPublicContactEmailDesc.desc}}</small></i>
                              </div>
                              <label class="uk-form-label uk-text-right" for="tel">
                                {{ i === 0 ? (providerMainContactPhoneDesc.label + (providerMainContactPhoneDesc.mandatory ? ' (*)' : '')) : (providerPublicContactPhoneDesc.label + (providerPublicContactPhoneDesc.mandatory ? ' (*)' : ''))}}
                              </label>
                              <div class="uk-form-controls">
                                <input id="tel" class="uk-input" type="text" formControlName="tel"
                                       [ngClass]="{'uk-form-danger': checkFormArrayValidity('contacts', i, 'tel')}">
                                <i><small>{{i === 0 ? providerMainContactPhoneDesc.desc : providerPublicContactPhoneDesc.desc}}</small></i>
                              </div>
                              <label class="uk-form-label uk-text-right" for="position">
                                {{ i === 0 ? (providerMainContactPositionDesc.label + (providerMainContactPositionDesc.mandatory ? ' (*)' : '')) : (providerPublicContactPositionDesc.label + (providerPublicContactPositionDesc.mandatory ? ' (*)' : ''))}}
                              </label>
                              <div class="uk-form-controls">
                                <input id="position" class="uk-input" type="text" formControlName="position"
                                       [ngClass]="{'uk-form-danger': checkFormArrayValidity('contacts', i, 'position')}">
                                <i><small>{{i === 0 ? providerMainContactPositionDesc.desc : providerPublicContactPositionDesc.desc}}</small></i>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div *ngIf="!disable" class="uk-form-controls">
                          <a class="add-new-element" (click)="pushContact()">
                            <i class="fa fa-plus" aria-hidden="true"></i> Add another contact
                          </a>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="uk-margin-bottom">
                        <label class="uk-form-label uk-text-right" for="hostingLegalEntity">
                          {{hostingLegalEntityDesc.label + (hostingLegalEntityDesc.mandatory ? ' (*)' : '')}}
                        </label>
                        <div class="uk-form-controls">
                          <input id="hostingLegalEntity" class="uk-input" type="text" formControlName="hostingLegalEntity"
                                 [ngClass]="{'uk-form-danger': checkFormValidity('hostingLegalEntity')}">
                          <i><small>{{hostingLegalEntityDesc.desc}}</small></i>
                        </div>
                      </div>
                      <div class="uk-margin-bottom">
                        <label class="uk-form-label uk-text-right" for="legalStatus">
                          {{ legalStatusDesc.label + (legalStatusDesc.mandatory ? ' (*)': '')}}
                        </label>
                        <div class="uk-form-controls">
                          <select id="legalStatus" class="uk-input" formControlName="legalStatus"
                                  [ngClass]="{'uk-form-danger': checkFormValidity('legalStatus')}">
                            <option value=""></option>
                            <option *ngFor="let entry of sortVocabulariesByName(legalStatusVocabulary)" value="{{entry.id}}">
                              {{entry.name}}
                            </option>
                          </select>
                          <i><small>{{legalStatusDesc.desc}}</small></i>
                        </div>
                      </div>
                      <div class="uk-margin-bottom">
                        <label class="uk-form-label uk-text-right" for="esfriParticipation">
                          {{ ESFRIDesc.label + (ESFRIDesc.mandatory ? ' (*)': '')}}
                        </label>
                        <div class="uk-form-controls">
                          <select id="esfriParticipation" class="uk-input" formControlName="esfriParticipation"
                                  [ngClass]="{'uk-form-danger': checkFormValidity('esfriParticipation')}">
                            <option value=""></option>
                            <option *ngFor="let entry of sortVocabulariesByName(esfriVocabulary)" value="{{entry.id}}">
                              {{entry.name}}
                            </option>
                          </select>
                          <i><small>{{ESFRIDesc.desc}}</small></i>
                        </div>
                      </div>
                      <div formArrayName="networks" class="uk-margin-bottom">
                        <label class="uk-form-label uk-text-right" for="networks">
                          {{networksDesc.label + (networksDesc.mandatory ? ' (*)' : '')}}
                        </label>
                        <div class="uk-form-controls">
                          <div *ngFor="let provider of getFieldAsFormArray('networks').controls; let i=index">
                            <select id="networks" class="uk-input" [formControlName]="i"
                                    [ngClass]="{'uk-form-danger': checkFormArrayValidity('networks', i),
                               'uk-width-5-6': (getFieldAsFormArray('networks').length > 1)}">
                              <option value=""></option>
                              <option *ngFor="let entry of sortVocabulariesByName(networksVocabulary)" value="{{entry.id}}">
                                {{entry.name}}
                              </option>
                            </select>
                            <a *ngIf="getFieldAsFormArray('networks').length > 1 && !disable"
                               class="remove-element uk-padding-small" (click)="remove('networks', i)">
                              <i class="fa fa-times" aria-hidden="true"></i>
                            </a>
                          </div>
                          <div *ngIf="!disable" class="uk-width-1-1">
                            <a class="add-new-element" (click)="push('networks', false)">
                              <i class="fa fa-plus" aria-hidden="true"></i> Add {{networksDesc.label}}
                            </a>
                          </div>
                          <i><small>{{networksDesc.desc}}</small></i>
                        </div>
                      </div>
                      <div formArrayName="areasOfActivity" class="uk-margin-bottom">
                        <label class="uk-form-label uk-text-right" for="areasOfActivity">
                          {{areasOfActivityDesc.label + (areasOfActivityDesc.mandatory ? ' (*)' : '')}}
                        </label>
                        <div class="uk-form-controls">
                          <div *ngFor="let provider of getFieldAsFormArray('areasOfActivity').controls; let i=index">
                            <select id="areasOfActivity" class="uk-input" [formControlName]="i"
                                    [ngClass]="{'uk-form-danger': !getFieldAsFormArray('areasOfActivity').get([i]).valid && getFieldAsFormArray('areasOfActivity').get([i]).dirty,
                               'uk-width-5-6': (getFieldAsFormArray('areasOfActivity').length > 1)}">
                              <option value=""></option>
                              <option *ngFor="let entry of sortVocabulariesByName(areasOfActivityVocabulary)" value="{{entry.id}}">
                                {{entry.name}}
                              </option>
                            </select>
                            <a *ngIf="getFieldAsFormArray('areasOfActivity').length > 1 && !disable"
                               class="remove-element uk-padding-small" (click)="remove('areasOfActivity', i)">
                              <i class="fa fa-times" aria-hidden="true"></i>
                            </a>
                          </div>
                          <div *ngIf="!disable" class="uk-width-1-1">
                            <a class="add-new-element" (click)="push('areasOfActivity', false)">
                              <i class="fa fa-plus" aria-hidden="true"></i> Add {{areasOfActivityDesc.label}}
                            </a>
                          </div>
                          <i><small>{{areasOfActivityDesc.desc}}</small></i>
                        </div>
                      </div>
                      <div formArrayName="societalGrandChallenges" class="uk-margin-bottom">
                        <label class="uk-form-label uk-text-right" for="societalGrandChallenges">
                          {{societalGrandChallengesDesc.label + (societalGrandChallengesDesc.mandatory ? ' (*)' : '')}}
                        </label>
                        <div class="uk-form-controls">
                          <div *ngFor="let provider of getFieldAsFormArray('societalGrandChallenges').controls; let i=index">
                            <select id="societalGrandChallenges" class="uk-input" [formControlName]="i"
                                    [ngClass]="{'uk-form-danger': checkFormArrayValidity('societalGrandChallenges', i),
                               'uk-width-5-6': (getFieldAsFormArray('societalGrandChallenges').length > 1)}">
                              <option value=""></option>
                              <option *ngFor="let entry of sortVocabulariesByName(societalGrandChallengesVocabulary)" value="{{entry.id}}">
                                {{entry.name}}
                              </option>
                            </select>
                            <a *ngIf="getFieldAsFormArray('societalGrandChallenges').length > 1 && !disable"
                               class="remove-element uk-padding-small" (click)="remove('societalGrandChallenges', i)">
                              <i class="fa fa-times" aria-hidden="true"></i>
                            </a>
                          </div>
                          <div *ngIf="!disable" class="uk-width-1-1">
                            <a class="add-new-element" (click)="push('societalGrandChallenges', false)">
                              <i class="fa fa-plus" aria-hidden="true"></i> Add {{societalGrandChallengesDesc.label}}
                            </a>
                          </div>
                          <i><small>{{societalGrandChallengesDesc.desc}}</small></i>
                        </div>
                      </div>
                      <div class="uk-margin-bottom">
                        <label class="uk-form-label uk-text-right" for="nationalRoadmap">
                          {{ nationalRoadmapsDesc.label + (nationalRoadmapsDesc.mandatory ? ' (*)': '')}}
                        </label>
                        <div class="uk-form-controls">
                          <select id="nationalRoadmap" class="uk-input" formControlName="nationalRoadmap"
                                  [ngClass]="{'uk-form-danger': checkFormValidity('nationalRoadmap')}">
                            <option value="yes">Yes</option>
                            <option value="no">No</option>
                          </select>
                          <i><small>{{nationalRoadmapsDesc.desc}}</small></i>
                        </div>
                      </div>
                    </li>

<!--                  <div formArrayName="certifications" class="uk-margin-bottom">-->
<!--                    <label class="uk-form-label uk-text-right">-->
<!--                      {{providerCertificationsDesc.label + (providerCertificationsDesc.mandatory ? ' (*)' : '')}}-->
<!--                    </label>-->
<!--                    <div class="uk-form-controls">-->
<!--                      <div *ngFor="let provider of getFieldAsFormArray('certifications').controls; let i=index">-->
<!--                        <input class="uk-input" type="text" [formControlName]="i"-->
<!--                               [ngClass]="{'uk-form-danger': !getFieldAsFormArray('certifications').get([i]).valid && getFieldAsFormArray('certifications').get([i]).dirty,-->
<!--                               'uk-width-5-6': (getFieldAsFormArray('certifications').length > 1)}">-->
<!--                        <a *ngIf="getFieldAsFormArray('certifications').length > 1"-->
<!--                           class="remove-element uk-padding-small" (click)="remove('certifications', i)">-->
<!--                          <i class="fa fa-times" aria-hidden="true"></i>-->
<!--                        </a>-->
<!--                      </div>-->
<!--                      <div class="uk-width-1-1">-->
<!--                        <a class="add-new-element" (click)="push('certifications', false)">-->
<!--                          <i class="fa fa-plus" aria-hidden="true"></i> Add {{providerCertificationsDesc.label}}-->
<!--                        </a>-->
<!--                      </div>-->
<!--                      <i><small>{{providerCertificationsDesc.desc}}</small></i>-->
<!--                    </div>-->
<!--                  </div>-->

                <li>
                  <div class="uk-margin-small-bottom" uk-grid>
<!--                    <h5 class="uk-width-1-1">PROVIDER ADMINS</h5>-->
                    <div *ngIf="!edit" class="uk-width-1-6"></div>
                    <i>An administrator will be added using your user information</i>
                  </div>
                  <div *ngIf="newProviderForm.get('users').value">
                    <div formArrayName="users" *ngFor="let user of usersArray.controls; let i = index">
                      <div class="uk-padding-small uk-margin-small-bottom">
                        <div class="uk-grid" [formGroupName]="i">
                          <div class="uk-width-1-6"></div>
                          <div class="serviceDetails uk-width-1-6@m">
                            <input type="text" class="uk-input" formControlName="name" placeholder="First Name"
                                   [ngClass]="{'uk-form-danger': checkFormArrayValidity('users', i, 'name')}">
                          </div>
                          <div class="serviceDetails uk-width-1-6@m">
                            <input type="text" class="uk-input" formControlName="surname" placeholder="Last Name"
                                   [ngClass]="{'uk-form-danger': checkFormArrayValidity('users', i, 'surname')}">
                          </div>
                          <div class="serviceDetails  uk-width-1-3@m">
                            <input type="text" class="uk-input" formControlName="email" placeholder="Email"
                                   [ngClass]="{'uk-form-danger': checkFormArrayValidity('users', i, 'email')}">
                          </div>
                          <div *ngIf="usersArray.length > 1 && !disable" class="uk-width-1-6@m">
                            <a (click)="deleteUser(i)"><i class="fa fa-times" aria-hidden="true"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div uk-grid>
                      <div class="uk-width-1-6"></div>
                      <div *ngIf="!disable" class="uk-margin-small-bottom uk-width-5-6">
                        <a (click)="addUser()"><i class="fa fa-plus" aria-hidden="true"></i> New Admin Provider</a>
                      </div>
                    </div>
                  </div>
                </li>
                  </ul>

                  <div *ngIf="!disable">
                    <button class="uk-button butn theme" type="submit" (click)="registerProvider()">Submit</button>
                  </div>
                </form>

                <div *ngIf="disable" class="uk-float-right uk-animation-scale-up"
                     style="z-index: 100; bottom: 50px; position: fixed; right: 50px; box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 3px">
                  <button class="uk-button butn theme side" (click)="toggleDisable()">Edit
                    <i class="fa fa-lg fa-edit" aria-hidden="true"></i></button>
                </div>

              </div>

              <!-- RIGHT HELP CONTENT -->
              <app-aside-help-content #rightHelperContent [position]="'right'"
                                      [ngClass]="rightHelperContent.isPresent()?'tm-sidebar uk-width-1-4@m uk-first-column':'clear-style'">
              </app-aside-help-content>

            </div>
          </div>

          <!-- BOTTOM HELP CONTENT -->
          <app-help-content #bottomHelperContent [position]="'bottom'"
                            [ngClass]="bottomHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">
          </app-help-content>

        </div>
      </div>
    </div>
  </div>
</div>

<div id="logoUrlModal" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <label for="newLogo" class="uk-form-label">new logo url</label>
    <input type="text" #newLogo id="newLogo" class="uk-input uk-margin-bottom" value="{{logoUrl}}">
    <button class="uk-button uk-button-primary" type="button" (click)="addLogoUrl(newLogo.value)">Add</button>
    <button class="uk-button uk-button-primary uk-modal-close" type="button">Cancel</button>
  </div>
</div>
