.uk-tooltip {
    background: rgb(209,48,58);
}

#feedback {
    float: left;
    position: fixed;
    top: calc(50% - 47px);
    left: 0;
    z-index: 10000;
    display: block;
}

#feedback a {
    /*background: #666;*/
    background: rgba(209,48,58,0.01);
    border-radius: 5px 0 0 5px;
    box-shadow: none;
    border: none !important;
    display: block;
    padding: 30px 12px;
    padding-right: 12px;
    transition: all .2s ease-in-out;
    opacity: 0.5;
}

#feedback a:hover {
    padding-right: 20px;
}