<div class="image-front-topbar  uk-section-default uk-position-relative" tm-header-transparent="light"
     uk-scrollspy="{&quot;target&quot;:&quot;[uk-scrollspy-class]&quot;,&quot;cls&quot;:&quot;uk-animation-fade&quot;,&quot;delay&quot;:false}">
  <div style=" min-height: 350px;"
       class=" uk-background-norepeat uk-background-cover uk-background-bottom-center uk-section uk-padding-remove-bottom uk-flex uk-flex-middle uk-background-fixed publicationsSearchForm">
    <div class="uk-position-cover"
         style="background: url('../../../assets/images/UxUdxNjw.png') right !important;"></div>
    <div class="uk-container uk-container-large">
      <div class="uk-position-relative">
        <div class="uk-container uk-container-large">
          <div class="uk-width-1-1">

            <div>
              <div class="search_box_bg" style="text-align:center">
                <form [formGroup]="searchForm" (ngSubmit)="this.onSubmit(searchForm.value)">
                  <input aria-describedby="sizing-addon2" class="uk-input uk-width-large ng-pristine ng-valid
                                    uk-comment uk-comment-meta ng-untouched" formControlName="query" name="keyword"
                         placeholder="Search our service catalogue..." type="text">
                  <button class=" uk-button uk-button-primary" type="submit">Search</button>
                </form>
                <!--<ul *ngIf="urlParameters && urlParameters.length>0" class="facets-selected cf uk-width-medium-9-10">-->
                <!--<ng-template ngFor let-urlParameter [ngForOf]="urlParameters">-->
                <!--&lt;!&ndash;TODO remove when provider is removed from filters in the backend&ndash;&gt;-->
                <!--<ng-template [ngIf]="urlParameter.key!='from' && urlParameter.key!='provider'">-->
                <!--<li *ngFor="let facet of urlParameter.values" class="search-tag">-->
                <!--<span class="title">{{urlParameter.key}}:</span> {{facet}} <a (click)="this.deselectFacet(urlParameter.key, facet)" data-role="remove"></a>-->
                <!--</li>-->
                <!--</ng-template>-->
                <!--</ng-template>-->
                <!--</ul>-->
              </div>
            </div>

            <!--&lt;!&ndash;bindings={-->
            <!--"ng-reflect-ng-if": "true"-->
            <!--}&ndash;&gt;<a routerlinkactive="router-link-active" ng-reflect-router-link="/search/advanced/publications" ng-reflect-router-link-active="router-link-active" class="uk-float-right  uk-light portal-color uk-margin-small-bottom" href="/search/advanced/publications">-->
            <!--<span class=" ">Advanced search</span>-->
            <!--</a>-->
            <!--<search-form ng-reflect-is-disabled="false" ng-reflect-keyword="" ng-reflect-placeholder-text="Search for Publications">-->

            <!--<form novalidate="" class="uk-margin uk-text-center uk-margin-top">-->
            <!--<input aria-describedby="sizing-addon2" class="uk-input uk-width-xlarge ng-untouched ng-pristine ng-valid" name="keyword" ng-reflect-name="keyword" ng-reflect-model="" placeholder="Search for Publications" type="text">-->
            <!--&lt;!&ndash;bindings={-->
            <!--"ng-reflect-ng-if": "true"-->
            <!--}&ndash;&gt;<button class=" uk-button  portal-button" type="submit">-->
            <!--<span class="uk-icon"><svg height="30" icon="search" ratio="1.5" viewBox="0 0 20 20" width="30" xmlns="http://www.w3.org/2000/svg"><circle cx="9" cy="9" fill="none" r="7" stroke="#000" stroke-width="1.1"></circle><path d="M14,14 L18,18 L14,14 Z" fill="none" stroke="#000" stroke-width="1.1"></path></svg></span>-->
            <!--</button>-->
            <!--&lt;!&ndash;bindings={-->
            <!--"ng-reflect-ng-if": "false"-->
            <!--}&ndash;&gt;-->
            <!--</form>-->
            <!--</search-form>-->

          </div>


        </div>
      </div>
    </div>
  </div>
</div>

<div id="tm-main" class="tm-main uk-section uk-section-default" uk-height-viewport="expand: true"
     style="box-sizing: border-box;">
  <div class="uk-container uk-container-large">

    <!-- TOP HELP CONTENT -->
    <app-help-content #topHelperContent [position]="'top'"
                  [ngClass]="topHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">
    </app-help-content>


    <div *ngIf="listViewActive" class="uk-grid" uk-grid="">


      <aside id="tm-sidebar" class="tm-sidebar uk-width-1-5@m">

        <div *ngIf="searchResults != null" class="sidemenu refines" style="margin-top: 40px;">

          <h3 class="uk-h3">Category</h3>

          <ng-template ngFor let-facet [ngForOf]="searchResults.facets">
            <ng-template [ngIf]="facet.field=='category'">
              <div *ngIf="facet.field!='resourceType'" class="refineCategory uk-grid-margin">
                <read-more [maxHeight]="235">
                  <!--<span>{{facet.label}}</span>-->
                  <div class="refineOption" *ngFor="let facetValue of facet.values">
                    <input type="checkbox" name="vehicle" value="Bike" data-md-icheck
                           (change)="this.onSelection($event, facet.field, facetValue.value)"
                           [checked]="facetValue.isChecked">
                    {{facetValue.label}}
                    <!--{{this.getFacetLabel(facet, facetValue)}}-->
                    <span>({{facetValue.count}})</span>
                  </div>
                </read-more>
              </div>
            </ng-template>
          </ng-template>

        </div>

        <!--<div *ngIf="searchResults != null" class="uk-card uk-card-body uk-card-default sidemenu uk-panel-box-secondary refines uk-margin-top">-->

        <!--<h3 class="uk-h3 uk-heading-bullet">Further refine</h3>-->

        <!--<ng-template ngFor let-facet [ngForOf]="searchResults.facets">-->
        <!--<ng-template [ngIf]="facet.field!='category'">-->
        <!--<div *ngIf="facet.field!='resourceType'" class="refineCategory uk-grid-margin">-->
        <!--<read-more [maxHeight]="235">-->
        <!--<span>{{facet.label=='TRL'?'Technology Readiness':facet.label}}</span>-->
        <!--<div class="refineOption" *ngFor="let facetValue of facet.values">-->
        <!--<input type="checkbox" name="vehicle" value="Bike" data-md-icheck-->
        <!--(change)="this.onSelection($event, facet.field, facetValue.value)"-->
        <!--[checked]="facetValue.isChecked">-->
        <!--{{facetValue.label}}-->
        <!--{{this.getFacetLabel(facet, facetValue)}}-->
        <!--<span>({{facetValue.count}})</span>-->
        <!--</div>-->
        <!--</read-more>-->
        <!--</div>-->
        <!--</ng-template>-->
        <!--</ng-template>-->

        <!--</div>-->

      </aside>

      <div class="uk-width-expand@m uk-first-column">

        <div *ngIf="errorMessage" class="">
          <div data-uk-alert="" class="uk-alert uk-alert-danger">
            <p>{{errorMessage}}</p>
          </div>
        </div>

        <div *ngIf="!errorMessage && searchResults != null" class="">

          <div *ngIf="!foundResults">
            <div data-uk-alert="" class="uk-alert uk-alert-warning">
              <p>No results found</p>
            </div>
          </div>

          <div *ngIf="searchResults.results != null && searchResults.results.length>0">

            <!--<div *ngIf="this.comparisonService.servicesToCompare && this.comparisonService.servicesToCompare.length>0" class="uk-width-1-1 uk-row-first uk-clearfix compareButton">-->
            <!--<div class="uk-float-right">-->
            <!--<a (click)="this.comparisonService.go()" class="uk-button uk-button-blue">-->
            <!--<i class="fa fa-compress fa-flip-horizontal" aria-hidden="true"></i> | {{this.comparisonService.servicesToCompare.length}} for comparison-->
            <!--</a>-->
            <!--</div>-->
            <!--</div>-->

            <div class="uk-width-1-1 uk-row-first uk-margin-bottom">

              <nav *ngIf="searchResults.facets" class="uk-inline" style="margin-left: -20px;" uk-navbar>
                <div class="uk-navbar-left">

                  <ul class="uk-navbar-nav uk-nav-parent-icon filters">

                    <ng-container *ngFor="let facet of searchResults.facets">
                      <ng-container
                        *ngIf="facet.field!='category' && facet.field!='resourceType' && facet.field!='providers'">
                        <li class="uk-parent uk-margin-medium-right">
                          <a href="#">{{facet.label == 'TRL' ? 'Technology Readiness' : facet.label}}</a>
                          <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                              <li *ngFor="let facetValue of facet.values">
                                <a (click)="this.selectFacet(facet.field, facetValue.value)">
                                  {{facetValue.label}}
                                  <!--{{this.getFacetLabel(facet, facetValue)}}-->
                                  <span>({{facetValue.count}})</span>
                                </a>
                              </li>
                            </ul>
                          </div>
                        </li>
                      </ng-container>
                    </ng-container>

                  </ul>

                </div>
              </nav>

              <div class="uk-inline uk-float-right" style="margin-top: 37px;">
                <a *ngIf="listViewActive" (click)="toggleListGrid('grid')">
                  <img src="../../../assets/images/icons/switch_view_list_active.svg">
                </a>
              </div>

            </div>

            <div *ngIf="urlParameters && urlParameters.length>0" class="uk-width-1-1 uk-row-first uk-margin-bottom">
              <ul class="facets-selected cf">
                <ng-template ngFor let-urlParameter [ngForOf]="urlParameters">
                  <ng-template
                    [ngIf]="urlParameter.key!='from' && urlParameter.key!='providers' && urlParameter.key!='quantity' && urlParameter.values!=''">
                    <li *ngFor="let facet of urlParameter.values" class="search-tag">
                      <span class="title">{{urlParameter.key}}:</span> {{facet | uppercase}}
                      <a (click)="this.deselectFacet(urlParameter.key, facet)" data-role="remove"></a>
                    </li>
                  </ng-template>
                </ng-template>
              </ul>
            </div>

            <div class="uk-width-1-1 uk-row-first uk-margin-bottom">
              <span>Showing {{searchResults.from + 1}} - {{searchResults.to}} of {{searchResults.total}} results</span>
            </div>

            <!--<div class="uk-width-1-1 uk-row-first">-->
            <!--<ul class="uk-pagination">-->

            <!--<li class="uk-disabled" *ngIf="isPreviousPageDisabled">-->
            <!--<a class="uk-disabled" href="#">-->
            <!--<span class="uk-margin-small-right" uk-pagination-previous></span> Previous-->
            <!--</a>-->
            <!--</li>-->
            <!--<li *ngIf="!isPreviousPageDisabled">-->
            <!--<a (click)="this.goToPreviousPage()">-->
            <!--<span class="uk-margin-small-right" uk-pagination-previous></span> Previous-->
            <!--</a>-->
            <!--</li>-->

            <!--<li class="uk-margin-auto-left uk-disabled" *ngIf="isNextPageDisabled">-->
            <!--<a class="uk-disabled" href="#">Next-->
            <!--<span class="uk-margin-small-left" uk-pagination-next></span>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li class="uk-margin-auto-left" *ngIf="!isNextPageDisabled">-->
            <!--<a (click)="this.goToNextPage()">Next-->
            <!--<span class="uk-margin-small-left" uk-pagination-next></span>-->
            <!--</a>-->
            <!--</li>-->
            <!--</ul>-->
            <!--<div class="resultsPageLabel">page {{currentPage}} of {{totalPages}}</div>-->
            <!--</div>-->

            <div *ngIf="listViewActive" class="uk-grid-margin-small">

              <ng-container *ngFor="let resourceInfo of searchResults.results">

                <div class="serviceDetails uk-margin-small-bottom">

                  <div class="uk-grid" uk-grid="">

                    <div class="uk-width-4-5@m uk-first-column uk-card-body serviceInfo">
                      <div>
                        <h3
                          class="uk-margin-remove uk-text-left@m uk-text-center uk-h3 uk-scrollspy-inview uk-animation-fade uk-inline"
                          uk-scrollspy-class="" style="">
                          <a (click)="this.router.service(resourceInfo.id)">
                            {{resourceInfo.name}}
                          </a>
                        </h3>
                      </div>

                      <div class="uk-margin-small-top serviceTagLine" style="">
                        "{{resourceInfo.tagline}}"
                      </div>

                      <div class="uk-margin-small-top uk-scrollspy-inview uk-animation-fade serviceDescription"
                           uk-scrollspy-class="" style="">
                        <read-more-text [text]="resourceInfo.description" [maxHeight]="38">
                        </read-more-text>
                      </div>

                      <!--TODO add category and persona tag-->
                      <div class="categoryTags uk-margin-top"
                           *ngIf="resourceInfo.categoryName || resourceInfo.targetUsers">
                        <span
                          class="uk-label uk-label-primary uk-margin-small-right">{{resourceInfo.categoryName}}</span>
                        <!--<span *ngFor="let a of resourceInfo.targetUsers.split(',')" class="uk-label uk-label-primary uk-margin-small-right">{{a}}</span>-->
                      </div>

                      <!--<div class="addenda uk-margin-small-top">-->
                      <!--<span class="uk-margin-medium-right">-->
                      <!--<img src="../../../../assets/images/icons/ic_love_icon.svg">-->
                      <!--<span class="statsNumbers">{{0}}</span>-->
                      <!--</span>-->
                      <!--<span class="uk-margin-medium-right">-->
                      <!--<input type="checkbox" class="uk-margin-small-right"-->
                      <!--[checked]="comparisonService.servicesToCompare.indexOf(resourceInfo) > -1"-->
                      <!--(change)="comparisonService.addOrRemove(resourceInfo)">-->
                      <!--<a *ngIf="(comparisonService.servicesToCompare.indexOf(resourceInfo) == -1)">Add to compare</a>-->
                      <!--<a *ngIf="comparisonService.servicesToCompare.indexOf(resourceInfo) > -1">Added</a>-->
                      <!--</span>-->
                      <!--<span class="uk-float-right">-->
                      <!--<img src="../../../../assets/images/icons/ic_visit_icon.svg">-->
                      <!--<span class="statsNumbers">{{0}}</span>-->
                      <!--</span>-->
                      <!--</div>-->

                    </div>


                    <div class="uk-width-1-5@m symbolAndProvider uk-card-body uk-text-center">

                      <div class="">
                        <a (click)="this.router.service(resourceInfo.id)">
                          <span>
                              <img
                                src="{{resourceInfo.symbol || 'http://fvtelibrary.com/img/user/NoLogo.png'}}"
                                style="max-width: 90px;">
                          </span>
                        </a>
                      </div>
                      <!--<div class="uk-margin-small-top">-->
                      <!--<span class="provider">{{resourceInfo.providers[0] | uppercase}}</span>-->
                      <!--</div>-->

                    </div>
                  </div>

                </div>

              </ng-container>
            </div>

            <div class="uk-width-1-1 uk-row-first">
              <ul class="uk-pagination">

                <li class="uk-disabled" *ngIf="isPreviousPageDisabled">
                  <a class="uk-disabled" href="#">
                    <span class="uk-margin-small-right" uk-pagination-previous></span> Previous
                  </a>
                </li>
                <li *ngIf="!isPreviousPageDisabled">
                  <a (click)="this.goToPreviousPage()">
                    <span class="uk-margin-small-right" uk-pagination-previous></span> Previous
                  </a>
                </li>

                <li class="uk-margin-auto-left uk-disabled" *ngIf="isNextPageDisabled">
                  <a class="uk-disabled" href="#">Next
                    <span class="uk-margin-small-left" uk-pagination-next></span>
                  </a>
                </li>
                <li class="uk-margin-auto-left" *ngIf="!isNextPageDisabled">
                  <a (click)="this.goToNextPage()">Next
                    <span class="uk-margin-small-left" uk-pagination-next></span>
                  </a>
                </li>
              </ul>
              <div class="resultsPageLabel">page {{currentPage}} of {{totalPages}}</div>
            </div>
          </div>
        </div>
      </div>

      <!-- RIGHT HELP CONTENT -->
      <app-aside-help-content #rightHelperContent [position]="'right'"
                          [ngClass]="rightHelperContent.isPresent()?'tm-sidebar uk-width-1-4@m uk-first-column':'clear-style'">
      </app-aside-help-content>

    </div>

    <div *ngIf="!listViewActive" class="uk-grid" uk-grid="">


      <div class="uk-width-expand@m uk-first-column">

        <div *ngIf="errorMessage" class="">
          <div data-uk-alert="" class="uk-alert uk-alert-danger">
            <p>{{errorMessage}}</p>
          </div>
        </div>

        <div *ngIf="!errorMessage && searchResults != null" class="">

          <div *ngIf="!foundResults">
            <div data-uk-alert="" class="uk-alert uk-alert-warning">
              <p>No results found</p>
            </div>
          </div>

          <div *ngIf="searchResults.results != null && searchResults.results.length>0">

            <div class="uk-width-1-1 uk-row-first uk-margin-bottom">

              <nav *ngIf="searchResults.facets" class="uk-inline" style="margin-left: -20px;" uk-navbar>
                <div class="uk-navbar-left">

                  <ul class="uk-navbar-nav uk-nav-parent-icon filters">

                    <ng-container *ngFor="let facet of searchResults.facets">
                      <ng-container *ngIf="facet.field=='category'">
                        <li class="uk-parent uk-margin-medium-right">
                          <!--<a href="#">{{facet.label | uppercase}}</a>-->
                          <a href="#">{{facet.label}}</a>
                          <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                              <li *ngFor="let facetValue of facet.values">
                                <a (click)="this.selectFacet(facet.field, facetValue.value)">
                                  {{facetValue.label}}
                                  <!--{{this.getFacetLabel(facet, facetValue)}}-->
                                  <span>({{facetValue.count}})</span>
                                </a>
                              </li>
                            </ul>
                          </div>
                        </li>
                      </ng-container>
                      <ng-container
                        *ngIf="facet.field!='category' && facet.field!='resourceType' && facet.field!='providers'">
                        <li class="uk-parent uk-margin-medium-right">
                          <a href="#">{{facet.label == 'TRL' ? 'Technology Readiness' : facet.label}}</a>
                          <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                              <li *ngFor="let facetValue of facet.values">
                                <a (click)="this.selectFacet(facet.field, facetValue.value)">
                                  {{facetValue.label}}
                                  <!--{{this.getFacetLabel(facet, facetValue)}}-->
                                  <span>({{facetValue.count}})</span>
                                </a>
                              </li>
                            </ul>
                          </div>
                        </li>
                      </ng-container>
                    </ng-container>

                  </ul>

                </div>
              </nav>

              <div class="uk-inline uk-float-right" style="margin-top: 37px;">
                <a (click)="toggleListGrid('list')">
                  <img src="../../../assets/images/icons/switch_view_grid_active.svg">
                </a>
              </div>

            </div>

            <div *ngIf="urlParameters && urlParameters.length>0" class="uk-width-1-1 uk-row-first uk-margin-bottom">
              <ul class="facets-selected cf">
                <ng-template ngFor let-urlParameter [ngForOf]="urlParameters">
                  <ng-template
                    [ngIf]="urlParameter.key!='from' && urlParameter.key!='providers' && urlParameter.key!='quantity' && urlParameter.values!=''">
                    <li *ngFor="let facet of urlParameter.values" class="search-tag">
                      <span class="title">{{urlParameter.key}}:</span> {{facet | uppercase}}
                      <a (click)="this.deselectFacet(urlParameter.key, facet)" data-role="remove"></a>
                    </li>
                  </ng-template>
                </ng-template>
              </ul>
            </div>

            <div class="uk-width-1-1 uk-row-first uk-margin-bottom">
              <span>Showing {{searchResults.from + 1}} - {{searchResults.to}} of {{searchResults.total}} results</span>
            </div>

            <div class="uk-grid uk-grid-margin-small uk-child-width-1-3@m gridView">

              <ng-container *ngFor="let resourceInfo of searchResults.results">

                <div class="serviceDetails uk-margin-small-bottom">

                  <div class="uk-first-column uk-card-body serviceInfo">
                    <div>
                      <h3 #serviceName id="serviceName"
                          class="uk-margin-remove uk-h3 uk-scrollspy-inview uk-animation-fade uk-inline serviceName"
                          uk-scrollspy-class="">
                        <a (click)="this.router.service(resourceInfo.id)">
                          {{resourceInfo.name}}
                        </a>
                      </h3>
                    </div>

                    <div class="uk-margin-small-top serviceTagLine">
                      "{{resourceInfo.tagline}}"
                    </div>

                    <div class="uk-margin-small-top uk-scrollspy-inview uk-animation-fade serviceDescription"
                         uk-scrollspy-class="" style="">
                      <div style="max-height: 38px; overflow: hidden" [innerHTML]="resourceInfo.description"></div>
                      <a (click)="this.router.service(resourceInfo.id)">View more...</a>
                      <!--<read-more-text [text]="resourceInfo.description" [maxHeight]="38">-->
                      <!--</read-more-text>-->
                    </div>

                    <!--TODO add category and persona tag-->
                    <div class="categoryTags uk-margin-top" *ngIf="resourceInfo.category || resourceInfo.targetUsers">
                      <span class="uk-label uk-label-primary">
                          {{resourceInfo.categoryName}}
                        <!--{{this.vocabularies[resourceInfo.category].name}}-->
                      </span>
                      <!--<span *ngFor="let a of resourceInfo.targetUsers.split(',')" class="uk-label uk-label-primary uk-margin-small-right">{{a}}</span>-->
                    </div>

                    <!--<div class="addenda uk-margin-small-top">-->
                    <!--<span class="uk-margin-medium-right">-->
                    <!--<img src="../../../../assets/images/icons/ic_love_icon.svg">-->
                    <!--<span class="statsNumbers">{{0}}</span>-->
                    <!--</span>-->
                    <!--<span class="uk-margin-medium-right">-->
                    <!--<input type="checkbox" class="uk-margin-small-right"-->
                    <!--[checked]="comparisonService.servicesToCompare.indexOf(resourceInfo) > -1"-->
                    <!--(change)="comparisonService.addOrRemove(resourceInfo)">-->
                    <!--<a *ngIf="(comparisonService.servicesToCompare.indexOf(resourceInfo) == -1)">Add to compare</a>-->
                    <!--<a *ngIf="comparisonService.servicesToCompare.indexOf(resourceInfo) > -1">Added</a>-->
                    <!--</span>-->
                    <!--<span class="uk-float-right">-->
                    <!--<img src="../../../../assets/images/icons/ic_visit_icon.svg">-->
                    <!--<span class="statsNumbers">{{0}}</span>-->
                    <!--</span>-->
                    <!--</div>-->

                  </div>


                  <div class="symbolAndProvider uk-card-body uk-text-center">

                    <a (click)="this.router.service(resourceInfo.id)">
                      <span>
                        <img src="{{resourceInfo.symbol || 'http://fvtelibrary.com/img/user/NoLogo.png'}}" style="height: 51px;">
                      </span>
                    </a>
                    <!--<span class="provider">{{resourceInfo.providers[0] | uppercase}}</span>-->
                  </div>

                </div>

              </ng-container>
            </div>

            <div class="uk-width-1-1 uk-row-first">
              <ul class="uk-pagination">

                <li class="uk-disabled" *ngIf="isPreviousPageDisabled">
                  <a class="uk-disabled" href="#">
                    <span class="uk-margin-small-right" uk-pagination-previous></span> Previous
                  </a>
                </li>
                <li *ngIf="!isPreviousPageDisabled">
                  <a (click)="this.goToPreviousPage()">
                    <span class="uk-margin-small-right" uk-pagination-previous></span> Previous
                  </a>
                </li>

                <li class="uk-margin-auto-left uk-disabled" *ngIf="isNextPageDisabled">
                  <a class="uk-disabled" href="#">Next
                    <span class="uk-margin-small-left" uk-pagination-next></span>
                  </a>
                </li>
                <li class="uk-margin-auto-left" *ngIf="!isNextPageDisabled">
                  <a (click)="this.goToNextPage()">Next
                    <span class="uk-margin-small-left" uk-pagination-next></span>
                  </a>
                </li>
              </ul>
              <div class="resultsPageLabel">page {{currentPage}} of {{totalPages}}</div>
            </div>
          </div>
        </div>
      </div>

      <!-- RIGHT HELP CONTENT -->
      <app-aside-help-content #rightHelperContent [position]="'right'"
                          [ngClass]="rightHelperContent.isPresent()?'tm-sidebar uk-width-1-4@m uk-first-column':'clear-style'">
      </app-aside-help-content>

    </div>

    <!-- BOTTOM HELP CONTENT -->
    <app-help-content #bottomHelperContent [position]="'bottom'"
                  [ngClass]="bottomHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">
    </app-help-content>

  </div>
</div>

<div *ngIf="canAddOrEditService" class="uk-float-right" style="z-index: 100; bottom: 45px; position: fixed; right: 45px;">
  <a [routerLink]="['/upload']" style="padding: 30px;" class="uk-icon-button uk-button-secondary">
    <i class="fa fa-plus"></i>
    <!--<span class="uk-icon" uk-icon="icon: plus; ratio: 1.5">-->
    <!--</span>-->
  </a>
</div>


