<div class="uk-section-default uk-section uk-section-small uk-padding-remove-bottom" style="min-height: 325px">
  <div class="uk-container">
    <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid="">
      <div class="uk-width-1-1@m uk-first-column">

        <h1 class="uk-h3">Funders Dashboard</h1>

        <!-- TOP HELP CONTENT -->
        <app-help-content #topHelperContent [position]="'top'"
                          [ngClass]="topHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">
        </app-help-content>

        <div class="uk-container uk-margin-medium-top uk-margin-medium-bottom">
          <div class="uk-grid">

            <!-- LEFT HELP CONTENT -->
            <app-aside-help-content #leftHelperContent [position]="'left'"
                                    [ngClass]="leftHelperContent.isPresent()?'tm-sidebar uk-width-1-4@m uk-first-column':'clear-style'">
            </app-aside-help-content>


            <!-- MIDDLE -->
            <div class=" uk-width-expand@m">

              <div *ngIf="errorMessage" class="uk-alert uk-alert-danger">{{errorMessage}}</div>

              <div class="uk-grid uk-grid-divider" uk-height-match="row: false">

                <div *ngIf="funder" class="uk-width-1-5@m uk-first-column uk-margin-remove uk-padding-remove-left uk-animation-fade">
                  <div class="uk-card uk-card-hover service" [ngClass]="{'uk-card-default': markSelection('all')}">
                    <a (click)="getFunder()" class="el-link">
                      <div class="uk-margin uk-grid-match uk-child-width-1-1 uk-grid-small uk-grid-divider uk-grid uk-scrollspy-inview uk-animation-slide-top-medium uk-grid-stack">
                        <div class="uk-first-column">
                          <div uk-scrollspy-class="" class="el-item uk-panel uk-scrollspy-inview uk-animation-slide-top-medium">
                            <div class="uk-child-width-expand uk-grid-medium uk-flex-middle uk-grid uk-grid-stack"
                                 uk-grid="">
                              <div class="uk-width-1-2@m uk-first-column">
                                <img src="../../../assets/images/Funders.png" class="el-image uk-border-rounded">
                              </div>
                              <div class="uk-width-1-2@m uk-padding-remove serviceTitle">
                                <h3 class="el-title uk-margin uk-h6 uk-margin-remove-adjacent">
                                  ALL
                                </h3>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>

                  <div *ngFor="let funder of funder.results" class="uk-card uk-card-hover service"
                       [ngClass]="{'uk-card-default': markSelection(funder.name)}">
                    <a (click)="getFunder(funder)" class="el-link">
                      <div class="uk-margin uk-grid-match uk-child-width-1-1 uk-grid-small uk-grid-divider uk-grid uk-scrollspy-inview uk-animation-slide-top-medium uk-grid-stack">
                        <div class="uk-first-column">
                          <div uk-scrollspy-class="" class="el-item uk-panel uk-scrollspy-inview uk-animation-slide-top-medium">
                            <div class="uk-child-width-expand uk-grid-medium uk-flex-middle uk-grid uk-grid-stack" uk-grid="">
                              <div class="uk-width-1-2@m uk-first-column">
                                <img src="{{funder.logo || 'http://fvtelibrary.com/img/user/NoLogo.png'}}"
                                     class="el-image uk-border-rounded" alt="">
                              </div>
                              <div class="uk-width-1-2@m uk-padding-remove serviceTitle">
                                <h3 class="el-title uk-margin uk-h6 uk-margin-remove-adjacent">
                                  {{funder.name}}
                                </h3>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>

                <div *ngIf="!loading" class="uk-width-4-5">
                  <div class="uk-width-1-1 uk-grid">
                    <div *ngFor="let chart of chartStats; let i=index" class="uk-margin-bottom"
                         [ngClass]="{'uk-width-1-2': displayWidth[i], 'uk-width-1-1': !displayWidth[i]}">

                      <div *ngIf="chart" style="width:100%; height: max-content">
                        <chart [options]="chart"></chart>
                      </div>
<!--                      <div *ngIf="showGraphicCharts[i][0] === 'false'">-->
<!--                        <h4 >{{showGraphicCharts[i][1]}}</h4>-->
<!--                        {{chart | json}}-->
<!--                      </div>-->
                    </div>
                  </div>
                </div>
                <div *ngIf="loading" class="uk-width-4-5@m uk-card uk-card-default uk-card-body"
                     style="background-color: rgba(0, 0, 0, 0.075)">
                  <div class="" uk-sticky="offset: 100; bottom: #top">
                    <div class="uk-position-top-center uk-padding-large" uk-spinner="ratio: 3" style="color: rgb(33, 76, 156)"></div>
                  </div>
                </div>
              </div>

              <!-- RIGHT HELP CONTENT -->
              <app-aside-help-content #rightHelperContent [position]="'right'"
                                      [ngClass]="rightHelperContent.isPresent()?'tm-sidebar uk-width-1-4@m uk-first-column':'clear-style'">
              </app-aside-help-content>

            </div>
          </div>

          <!-- BOTTOM HELP CONTENT -->
          <app-help-content #bottomHelperContent [position]="'bottom'"
                            [ngClass]="bottomHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">
          </app-help-content>

        </div>
      </div>
    </div>
  </div>
</div>
