<div *ngIf="providerServices && providerServices.results.length === 0">
  <p>No {{path === 'activeServices' ? 'active' : 'pending'}} services found</p>
</div>
<div *ngIf="providerServices && providerServices.results.length > 0">
  <div *ngFor="let providerService of providerServices.results" class="uk-card uk-margin-bottom service"
       style="background:#f7f7fa">
    <div class="uk-margin uk-grid-match uk-child-width-1-1 uk-animation-slide-top-medium uk-grid-stack">
      <div class="uk-first-column uk-padding-remove-left">
        <div class="">
          <div class="uk-panel uk-scrollspy-inview uk-animation-slide-top-medium">
            <div class="uk-child-width-expand uk-flex-middle uk-grid uk-grid-stack uk-padding-small" uk-grid="">
              <div class="uk-width-1-6@m uk-first-column">
                <img
                  src="{{providerService.service.logo ? providerService.service.logo : 'http://fvtelibrary.com/img/user/NoLogo.png'}}"
                  class="uk-border-rounded uk-padding-small center">
              </div>
              <div class="uk-width-2-3@m uk-padding-remove">
                <h3 class="uk-margin uk-h5 uk-margin-small-bottom">
                  <a (click)="navigate(providerService.service.id)">{{providerService.service.name}}</a></h3>
                <span>{{providerService.service.description}}</span>
              </div>
              <div class="uk-width-1-6@m">
                <button *ngIf="path !== 'activeServices'" class="uk-button uk-button-secondary" (click)="navigate(providerService.service.id)">
                  Update
                </button>
                <div *ngIf="path === 'activeServices'" class="uk-width-1-1">
                  <div style="margin-left: 5px">{{providerService.active ? 'Active' : 'Inactive'}}</div>
                  <label class="switch">
                    <input type="checkbox" [checked]="providerService.active" (change)="toggleService(providerService.service.id, providerService.service.version, $event)">
                    <span class="slider round"></span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="spinnerModal" uk-modal>
  <div class="loader-small" style="text-align: center; padding-top: 170px; color: rgb(47, 64, 80); font-weight: bold;">
  </div>
</div>
