<div *ngIf="providerServices.length === 0">
  <p>No {{path === 'activeServices' ? 'active' : 'pending'}} services found</p>
</div>
<div *ngIf="providerServices.length > 0">
  <div *ngFor="let providerService of providerServices" class="uk-card uk-margin-bottom service"
       style="background:#f7f7fa">
    <div
      class="uk-margin uk-grid-match uk-child-width-1-1 uk-scrollspy-inview uk-animation-slide-top-medium uk-grid-stack">
      <div class="uk-first-column uk-padding-remove-left">
        <div class="">
          <div class="uk-panel uk-scrollspy-inview uk-animation-slide-top-medium">
            <div class="uk-child-width-expand uk-flex-middle uk-grid uk-grid-stack uk-padding-small" uk-grid="">
              <div class="uk-width-1-6@m uk-first-column">
                <img
                  src="{{providerService.logo ? providerService.logo : 'http://fvtelibrary.com/img/user/NoLogo.png'}}"
                  class="uk-border-rounded uk-padding-small center">
              </div>
              <div class="uk-width-2-3@m uk-padding-remove">
                <h3 class="uk-margin uk-h5 uk-margin-small-bottom">{{providerService.name}}</h3>
                <span>{{providerService.description}}</span>
              </div>
              <div class="uk-width-1-6@m" style="padding-left: 10px;">
                <button class="uk-button uk-button-secondary" (click)="buttonClick(providerService.id)">
                  {{path === 'activeServices' ? 'Dashboard' : 'Update'}}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
