<div class="uk-section-default uk-section uk-section-small uk-padding-remove-bottom" style="min-height: 325px"
     xmlns="http://www.w3.org/1999/html">
  <div class="uk-container uk-margin-medium-bottom">
    <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid="">
      <div class="uk-width-1-1@m uk-first-column">

        <h2 class="uk-h2 uk-text-center">
          Privacy Policy
          <span class="uk-display-block uk-text-meta">Version 2.0, April 2, 2020</span>
        </h2>

        <h4 class="uk-margin-remove-bottom">Name of the service</h4>
        <p>Catalogue of Research Infrastructure services, <a href="https://portal.catris.eu/" target="_blank">https://portal.catris.eu/</a></p>

        <h4 class="uk-margin-remove-bottom">Description of the service</h4>
        <p>The Catalogue of Research Infrastructure services (abbr. Catalogue) offers registration, cataloguing, search
          and access to standardized service descriptions provided by Research Infrastructures.</p>

        <h4 class="uk-margin-remove-bottom">Data controller</h4>
        <p>European Science Foundation, Project Coordinator of CATRIS EU Project
          <br>Contact: <a href="mailto:catris@esf.org">catris@esf.org</a></p>

        <h4 class="uk-margin-remove-bottom">Jurisdiction</h4>
        <p>FR-STR Strasbourg France</p>

        <h4 class="uk-margin-remove-bottom">Data processor</h4>
        <p>National Kapodistrian University of Athens, Technical Leader of the CatRIS Platform.
          <br>Contact: <a href="mailto:tech-support@catris.eu">tech-support@catris.eu</a></p>

        <h4 class="uk-margin-remove-bottom">Personal data processed</h4>
        <ol type="A" class="uk-margin-remove-bottom uk-margin-remove-top">
          <li>
            <span class="uk-display-block"><i>External Identity Provider Institution information</i></span>
            <span>For authentication to the Catalogue we use the AAI service of the European Open science
              Cloud portal (EOSC AAI), which integrates various academic and social Identity providers (IDP).
              During login, we may request from your home institution or another identity provider of your choice:</span>
            <ul>
              <li>Given Name</li>
              <li>Family Name</li>
              <li>Email</li>
            </ul>
            <span>For all users authenticated in the catalogue <strong>we do not store the above information,</strong>
              except for users representing a service provider organization, for whom we keep the data for authorization purposes.</span>
          </li>
          <li>
            <span class="uk-display-block"><i>Identifiers</i></span>
            <span>Identifiers, as provided by identity providers like e.g. a Home Institution or Identifiers from third parties, for example an ORCID</span>
          </li>
          <li>
            <span><i>Following data</i> may be gathered from yourself in case you represent an organization which acts as a service provider for the Catalogue:</span>
            <ul>
              <li>Service provider you represent
                <span class="uk-display-block">
                  The above information is provided by you on a voluntary basis. You may choose not to provide certain information, but this may mean you cannot access the CatRIS portal or personalized features of the catalogue such as recommendations, favorite services and service provider dashboards.
                  <br>Additionally, during your activity on the Catalogue we keep functional cookies along with technical logs consisting of the following data:
                  <ul class="uk-margin-remove-bottom uk-margin-remove-top">
                    <li>Your actions (e.g., page visits, update of content) on the Platform along with timestamps</li>
                    <li>Your IP address is recorded via the free edition of <a href="https://matomo.org" target="_blank">Matomo</a>, deployed in a local machine. IP addresses are pseudonymized, i.e., only country identifiers are kept for IPs.</li>
                    <li>The Identity Provider you used.</li>
                  </ul>
                </span>
              </li>
            </ul>
          </li>
          <li>
            <span class="uk-display-block"><i>Subscription to CatRIS newsletter.</i></span>
            <span>We store the Name, Surname and Email of users who subscribe to CatRIS newsletter in the project website.</span>
          </li>
        </ol>

        <h4 class="uk-margin-remove-bottom">Purpose of the processing personal data</h4>
        <div>
          <span>Processing of personal data serves purposes of:</span>
          <ul class="uk-margin-remove-top uk-margin-remove-bottom">
            <li>Offering personalized functionality to all authenticated users, such as
              recommendations and favorites features.</li>
            <li>Enabling the creation and update of content in the catalogue. Log files keep all
              actions performed by service provider users in the content for security and
              data integrity reasons.</li>
            <li>Communication with service provider users for catalogue-related requests and
              reminders.</li>
            <li>Communication with users, who have subscribed in the project’s newsletters,
              via email client applications.</li>
            <li>Collecting anonymous usage statistics in the Platform.</li>
          </ul>
        </div>

        <h4 class="uk-margin-remove-bottom">Third parties to whom personal data is disclosed</h4>
        <p>No personal data is shared with third parties</p>

        <h4 class="uk-margin-remove-bottom">Details of transfers to any third countries or international organisations</h4>
        <p>Not applicable</p>

        <h4 class="uk-margin-remove-bottom">How to access, rectify and delete personal data</h4>
        <p>Please send an email to <a href="mailto:support@catris.eu">support@catris.eu</a> or contact the
          Coordinator’s Data Protection Officer at <a href="mailto:database@esf.org">database@esf.org</a>
          <br>To rectify the user information released by your Home Organisation towards EOSC AAI facility,
          contact your Home Organisation's IT helpdesk.</p>

        <h4 class="uk-margin-remove-bottom">Data retention</h4>
        <p>
          <span class="uk-display-block">Personal data is removed on request of the user or if the user hasn't used the service for at least three years.</span>
          <span>Data are kept in a form which permits identification of data subjects for no longer than is necessary for
            the purposes for which the personal data are processed; personal data may be stored for longer periods insofar
            as the personal data will be processed solely for archiving purposes in the public interest</span>
        </p>

        <h4 class="uk-margin-remove-bottom">Data Protection Code of Conduct</h4>
        <p>Your personal data will be protected according to the <a target="_blank" href="https://geant3plus.archive.geant.net/uri/dataprotection-code-of-conduct/v1/Pages/default.aspx">Code of Conduct for Service Providers</a>, a common standard for the research and higher education sector to protect your privacy.</p>

        <h4 class="uk-margin-remove-bottom">Supervisory authority</h4>
        <p><span class="uk-display-block">After contacting us, if you believe that your rights are being violated, you have the right to lodge a complaint with the French supervisory authority:</span>
          <a href="https://www.cnil.fr/fr/plaintes" target="_blank">https://www.cnil.fr/fr/plaintes</a>
          <span class="uk-display-block">Commission nationale de l’informatique et des libertés (CNIL), 3 place de Fontenoy, TSA 80715, 75334 PARIS CEDEX 07, France</span>
        </p>

      </div>
    </div>
  </div>
</div>
