<div class="uk-section-default uk-section uk-section-small uk-padding-remove-bottom" style="min-height: 325px">
  <div class="uk-container">
    <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid="">
      <div class="uk-width-1-1@m uk-first-column">

        <h2 class="uk-h2 uk-text-center">Privacy Policy</h2>

        <h4>Name of the service</h4>
        <p>Catalogue of Research Infrastructure services, <a href="https://portal.catris.eu/" target="_blank">https://portal.catris.eu/</a></p>

        <h4>Description of the service</h4>
        <p>The Catalogue of Research Infrastructure services (abbr. Catalogue) offers registration, cataloguing, search
          and access to standardized service descriptions provided by Research Infrastructures.</p>

        <h4>Data controller</h4>
        <p>European Science Foundation, Project Coordinator of CATRIS EU Project
          <br>Contact: <a href="mailto:catris@esf.org">catris@esf.org</a></p>

      </div>
    </div>
  </div>
</div>
