@import 'project-colors';

.project-bg-color {
  background-color: #214c9c !important;
}

/*.project-button-primary {*/
/*  background-color: #214c9c !important;*/
/*}*/

/*.project-button-primary:hover {*/
/*  background-color: white !important;*/
/*  color: #214c9c !important;*/
/*  border-color: #214c9c !important;*/
/*}*/

/********************/
/*     Timeline     */
/********************/
.al_timeline {
  position: relative;
  padding: 24px 20px 32px;
  font-size: 80%;
}

.al_timeline::after {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: -2px;
  left: 50%;
  content: '';
  width: 4px;
  /*background: rgba(255, 255, 255, 0.5);*/
  background: $timeline-line;
  display: block;
}

.al_timeline_block::before, .al_timeline_block::after {
  content: " ";
  display: table;
}

.al_timeline_block::after {
  clear: both;
}

.al_timeline_block + * {
  margin-top: 10px;
}

.al_timeline_block:nth-child(2n) .al_timeline_content {
  float: right;
}

.al_timeline_block:nth-child(2n+1) .al_timeline_content {
  text-align: right;
}

.al_timeline_image {
  position: absolute;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  background: $timeline-bg-primary;
  border-radius: 50%;
  text-align: center;
  z-index: 10;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-top: 12px;
}

.al_timeline_block.update .al_timeline_image {
  position: absolute;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  background: $timeline-line;
  border-radius: 50%;
  text-align: center;
  z-index: 10;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-top: 20px;
}

.al_timeline_image > i {
  font-size: 32px;
  line-height: 64px;
}

.al_timeline_content {
  box-sizing: border-box;
  background: $timeline-bg-primary;
  width: 44%;
  padding: 8px 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  position: relative;
  border-radius: 4px;
}

.al_timeline_content::after {
  position: absolute;
  top: 24px;
  right: -20px;
  content: '';
  display: block;
  border: 10px solid transparent;
  //border-left-color: transparent;
  border-left-color: $timeline-bg-primary;
}

.al_timeline_block.update .al_timeline_content::after {
  position: absolute;
  top: 24px;
  right: -20px;
  content: '';
  display: block;
  border: 10px solid transparent;
  //border-left-color: transparent;
  border-left-color: $timeline-bg-secondary;
}

.al_timeline_block:nth-child(2n) .al_timeline_content::after {
  border-left-color: transparent;
  border-right-color: $timeline-bg-primary;
  right: auto;
  left: -20px;
}

.update.al_timeline_block:nth-child(2n) .al_timeline_content::after {
  border-left-color: transparent;
  border-right-color: $timeline-bg-secondary;
  right: auto;
  left: -20px;
}

.al_timeline_content h3 {
  margin: 0 0 5px 0;
}

.al_timeline_content p {
  margin: 0 0 5px 0;
}

.al_timeline_block.update .al_timeline_content {
  background: $timeline-bg-secondary;
  box-shadow: none;
  color: #fff;
}

.al_timeline_block.update .al_timeline_content h3 {
  color: #fff;
}
