<div class="side-elements" style="position: fixed; background: transparent none repeat scroll 0% 0%; width: 195px; height: 250px; right: 0px; top: calc(50% - 40px); z-index: 100; display: block;">

  <!-- PHONE -->

  <div class="side_newsletter newsletter">
    <a href="https://project.catris.eu/contacts" target="_blank" style="color:white; text-decoration:none;">
      <i class="fa fa-paper-plane" style="font-size:18px;"></i>
      <span style="font-weight:600; margin-left: 12px;">Newsletter</span>
    </a>
  </div>
  <!-- PHONE -->

  <!-- NEWSLETTER -->
  <div class="side_newsletter contact">
    <a href="mailto:catris@esf.org" target="_blank" style="color:white; text-decoration:none;">
      <i class="fa fa-envelope" style="font-size:18px;"></i>
      <span style="font-weight:600; margin-left: 12px;">Email</span>
    </a>
  </div>
  <!-- NEWSLETTER -->

  <!-- NEWSLETTER -->
  <div class="side_newsletter twitter">
    <a href="https://twitter.com/project_catris" target="_blank" style="color:white; text-decoration:none;">
      <i class="fa fa-twitter" style="font-size:20px;"></i>
      <span style="font-weight:600; margin-left: 12px;">Twitter</span>
    </a>
  </div>
  <!-- NEWSLETTER -->

  <!-- NEWSLETTER -->
  <div class="side_newsletter linkedin">
    <a href="https://linkedin.com/company/catris" target="_blank" style="color:white; text-decoration:none;">
      <i class="fa fa-linkedin" style="font-size:20px;"></i>
      <span style="font-weight:600; margin-left: 12px;">LinkedIn</span>
    </a>
  </div>
  <!-- NEWSLETTER -->

</div>
