/*@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700&display=swap');

html {
  color: #292929;
}

body {
  font: 400 14px/19px 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

h3 {
  font-weight: 500;
  letter-spacing: 0px;
  color: #4D4D4D;
  opacity: 1;
}

a, .uk-link {
  color: #2D72D6;
}

a:hover, a:focus, a:active {
  color: #3665ab;
}

.clear-style {
  padding-left: 0px !important;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
  box-shadow: 2px 15px 50px rgba(41,44,61,.1);
}

.uk-flex {
  display: flex !important;
}

.uk-flex-between {
  justify-content: space-between !important;
}

.uk-radio:checked, .uk-checkbox:checked, .uk-checkbox:indeterminate {
  background-color: #004494;
}

/* ========================================================================
   Header
 ========================================================================== */

#header_main {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
}

/* ========================================================================
   Buttons
 ========================================================================== */

.uk-button {
  border-radius: 30px;
  text-transform: none;
}

.uk-button-primary {
  background-color: #004494;
  color: #fff;
  border: 1px solid #fff;
}

.uk-button-primary:hover {
  background-color: #1E95B0;
}

.uk-button-secondary {
  background-color: #26C0E2;
  color: #fff;
}

.uk-button-secondary:hover {
  background-color: #1E95B0;
}

.uk-button-default {
  background-color: #fff;
  border: 1px solid #B5B5B5;
  color: #B5B5B5;
}

.uk-button-action {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000038;
  border-radius: 40px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0px;
  color: #4D4D4D;
  opacity: 1;
}

/* ========================================================================
   Pagination
 ========================================================================== */

.resultsInfo {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0;
  opacity: 1;
}

.resultsInfo .number {
  color: #004494;
}

ul.uk-pagination {
  margin: 10px 0 10px 0;
}

.uk-pagination > li > a, .uk-pagination > li > span {
  border: none;
  padding: 4px 8px;
  min-width: 32px;
  line-height: 24px;
  height: 32px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-shadow: none;
  color: #212121;
  border-radius: 4px;
}

.uk-pagination > li.uk-active > a, .uk-pagination > li.uk-active > span {
  background: #004494;
  color: #fff;
}

.uk-pagination > li > a, .uk-pagination > li > span {
  border-radius: 15px;
}

.uk-pagination > li {
  text-align: center;
}

.uk-pagination>li>a.pagination_arrow:hover {
  color: #004494;
  background: none;
}

/* ========================================================================
   Modals
 ========================================================================== */

#modal-consent .uk-modal-body {
  padding: 70px;
}

/* ========================================================================
   Form tabs
 ========================================================================== */

.uk-tab > * > a {
  text-transform: none;
  font-weight: 300;
  font-size: 16px;
  /*font: 300 16px Roboto;*/
  letter-spacing: 0px;
  color: #212121 !important;
  opacity: 0.6;
  padding: 10px 15px;
}

.uk-tab > .uk-active > a {
  color: #fff !important;
  font-weight: 600;
  background: #004494 0% 0% no-repeat padding-box;
  opacity: 1;
  border-radius: 4px;
}

.uk-tab-left::before {
  border-left: none;
}

.tabsTitle {
  font-weight: 300;
  font-size: 20px;
  /*font: 300 20px Roboto;*/
  letter-spacing: 0px;
  color: #212121;
  opacity: 0.6;
}

.uk-tab > * > a .circle-number {
  width: 25px;
  line-height: 25px;
  border-radius: 50%;
  text-align: center;
  background: #F0F5F5 0% 0% no-repeat padding-box;
  letter-spacing: 0px;
  color: #4D4D4D;
  opacity: 1;
}

.uk-tab > .uk-active > a .circle-number {
  opacity: 0.6;
}

.circle-number .fa.fa-check {
  color: #26C0E2;
}

.stepsCompleted {
  font-weight: 600;
  color: #212121;
  opacity: 0.4;
}

.percentageNumber {
  font-weight: 600;
  color: #212121;
  opacity: 0.4;
  margin-top: 3px;
}

/* ========================================================================
   Form
 ========================================================================== */

.uk-width-9-10 {
  width: calc(100% * 9 / 10.001);
}

.formContainer {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0000001A;
  border-radius: 4px;
  opacity: 1;
  padding: 20px;
}

.uk-form-label {
  font-weight: bold;
  font-size: 18px;
  /*font: 700 18px Roboto;*/
  letter-spacing: 0px;
  color: #212121;
  text-transform: capitalize;
  opacity: 0.81;
}

.uk-form-description {
  font-size: 16px;
  letter-spacing: 0px;
  color: #212121;
  opacity: 0.81;
}

.uk-input {
  height: 56px;
  background: #FAFAFA 0% 0% no-repeat padding-box;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  opacity: 1;
}

.uk-select {
  height: 56px !important;
}

.uk-textarea {
  height: 135px;
  background: #FAFAFA 0% 0% no-repeat padding-box;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  opacity: 1;
}

a.add-new-element {
  font-weight: bold;
  letter-spacing: -0.35px;
  color: #444444;
  opacity: 1;
}

a.add-new-element:hover {
  text-decoration: none;
}

a.remove-element i {
  color: #B5B5B5;
  font-size: 25px;
}

.formGroupElement {
  padding: 40px;
  background: #F0F5F5 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  opacity: 1;
}

/* ========================================================================
   Dashboard sidebar
 ========================================================================== */

#sidebar_main {
  width: 320px;
  border-right: 1px solid rgba(0,0,0,.12);
  position: fixed;
  height: 100%;
  /*top: 0;*/
  top: 159px;
  bottom: 0;
  left: 0;
  -webkit-transform: translate3d(-320px,0,0);
  transform: translate3d(-320px,0,0);
  z-index: 800;
  background: #F0F5F5;
  -webkit-transition: all 280ms cubic-bezier(.4,0,.2,1);
  transition: all 280ms cubic-bezier(.4,0,.2,1);
}

#sidebar_main, #sidebar_main *, #sidebar_main ::after, #sidebar_main ::before, #sidebar_main::after, #sidebar_main::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.dashboard #sidebar_main {
  display: flex;
  flex-direction: column;
}

.sidebar_main_active #sidebar_main {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.dashboard #sidebar_main {
  overflow: auto;
  box-shadow: 1px 0px 6px #0000004D;
}

.dashboard #sidebar_main .menu_section {
  overflow: visible;
  margin-bottom: 15px;
  padding-bottom: 20px;
  flex: 0;
}

.dashboard #sidebar_main .menu_section .sidebar_heading {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0px;
  color: #4D4D4D;
  text-transform: uppercase;
  opacity: 1;
  padding: 8px 25px;
  /*margin-top: 20px;*/
}

#sidebar_main .menu_section ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#sidebar_main .menu_section ul > li {
  padding: 0;
  margin: 0;
  list-style: none;
}

#sidebar_main .menu_section > ul > li.current_section {
  background-color: #004494;
}

#sidebar_main .menu_section > ul > li > a {
  font-weight: 500;
  font-size: 14px;
  color: #212121;
  padding: 8px 25px;
  display: block;
  overflow: hidden;
  position: relative;
}

#sidebar_main .menu_section > ul > li.current_section a {
  color: #fff !important;
  font-weight: bold !important;
}

.dashboard #sidebar_main .menu_section > ul > li:not([class*="md-bg-"]) > a:hover {
  background-color: #004494;
  opacity: 0.4;
  color: #fff;
  text-decoration: none;
}

.dashboard #sidebar_main .menu_section > ul li > a {
  font-weight: 400;
  letter-spacing: 0;
  color: #333432CC;
  opacity: 1;
}

#sidebar_main .menu_section > ul > li > a .menu_title {
  display: inline-block;
}

.sidebar_main_active #page_content {
  margin-left: 320px;
}

/* ========================================================================
   Component: Service provider & Service form
 ========================================================================== */

.titleAndActionsBar {
  background: #004494 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 4px;
  padding: 13px 20px;
  opacity: 1;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.pageTitle {
  opacity: 0.75;
}

.providerName {
  opacity: 1;
  font-size: 16px;
}

/* ========================================================================
   Component: My Service providers
 ========================================================================== */

.uk-card.provider-card {
  box-shadow: 0px 3px 6px #00000038;
  border-radius: 4px;
  color: #1A1A1A;
}

.uk-card-media-top {
  min-height: 115px;
}

.uk-card-media-top.approved {
  background-color: #def0e0;
}

.uk-card-media-top.pending {
  background-color: #FFEDC9;
}

.uk-card-media-top.rejected {
  background-color: #F9D2CC;
}

.uk-card-media-top.incomplete {
  background-color: #DBDBDB;
}

.uk-card-badge {
  position: absolute;
  top: 0px;
  left: 0px;
  right: unset;
  z-index: 1;
}

.uk-card-badge.uk-label {
  text-transform: none;
  padding: 9px 18px;
  border-radius: 4px 0px;
}

.approved .uk-label {
  background: #3C9947 0% 0% no-repeat padding-box;
}

.pending .uk-label {
  background: #FFAE0D 0% 0% no-repeat padding-box;
}

.rejected .uk-label {
  background: #C41C02 0% 0% no-repeat padding-box;
}

.incomplete .uk-label {
  background: #4D4D4D 0% 0% no-repeat padding-box;
}

.provider-card .providerName {
  font-weight: 600;
  font-size: 16px;
}

.provider-card .statusLabel {
  color: #808080;
}

.provider-logo {
  width: 130px;
  background-color: #fff;
  box-shadow: 0px 3px 6px #00000029;
  margin-top: -50px;
  margin-left: auto;
  text-align: center;
  margin-right: auto;
  height: 70px;
}

.provider-logo-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.provider-logo img {
  max-width: 90%;
  max-height: 90%;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

.cardActionButtons {
  display: flex;
  justify-content: center;
}

.serviceStatuses .status-label {
  color: #000000;
  opacity: 0.6;
}

.serviceStatuses .status-value {
  font-weight: 600;
  color: #000000;
}

/* ========================================================================
   Component: Pending Services
 ========================================================================== */

.services-provider-container {
  background: #F0F5F5 0% 0% no-repeat padding-box;
  border-radius: 6px;
  opacity: 1;
  padding: 25px 40px;
}

.services-provider-container > div {
  align-items: center;
}

.services-provider-container h3 {
  color: #333432;
  font-weight: bold;
}

.services-provider-container .status-label {
  color: #808080;
}

.uk-card.service-card {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 2px;
  opacity: 1;
}

.service-card .action-buttons {
  border-left: 1px solid #ccc;
  /*padding: 10px 0px 10px 20px;*/
  padding-left: 20px;
  height: 100%;
}

.service-card .providerName {
  word-wrap:break-word;
}

.service-card .action-buttons button {
  width: 100%;
}

.service-card h4 {
  color: #333432;
  font-weight: 500;
}

/* ========================================================================
   Component: Service Providers List
 ========================================================================== */

.filters .uk-select {
  height: 38px !important;
}

.filters .uk-button-link {
  color: #000;
}

.filters .uk-button-link:hover {
  text-decoration: none;
}

.provider-card .action-buttons {
  border-left: 1px solid #ccc;
  /*padding: 10px 0px 10px 20px;*/
  padding-left: 20px;
  height: 100%;
}

.provider-card .providerName {
  word-wrap:break-word;
}

.provider-card .action-buttons button {
  width: 100%;
}

.provider-card .uk-button-link {
  color: #000;
  border-radius: 0px;
}

.provider-card .uk-button-link:hover {
  text-decoration: none;
}

/*.service-card h4 {*/
  /*color: #333432;*/
  /*font-weight: 500;*/
/*}*/

