<div class="uk-section-default uk-section uk-section-small uk-padding-remove-bottom" style="min-height: 325px">
  <div class="uk-container">
    <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid="">
      <div class="uk-width-1-1@m uk-first-column">

        <h1 class="uk-h2 uk-text-center">Error: Not Found</h1>

        <!-- TOP HELP CONTENT -->
        <!--        <help-content #topHelperContent [position]="'top'"-->
        <!--                      [ngClass]="topHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">-->
        <!--        </help-content>-->

        <div class="uk-container uk-margin-large-bottom">
          <div class="uk-grid">

            <!-- LEFT HELP CONTENT -->
            <!--            <aside-help-content #leftHelperContent [position]="'left'"-->
            <!--                                [ngClass]="leftHelperContent.isPresent()?'tm-sidebar uk-width-1-4@m uk-first-column':'clear-style'">-->
            <!--            </aside-help-content>-->

            <!-- MIDDLE -->
            <div class=" uk-width-expand@m">

              <div style="font-size: 180px; color: #0055b9; line-height: 1.2;" class="uk-text-center">
                <strong>404</strong>
              </div>

              <div class="uk-text-center">
                Sorry, the resource was not found.<br>
                Either check the URL, <a href="/home">go home</a>, or feel free to <a href="mailto:dev-support@einfracentral.eu">report this issue</a>.
              </div>

            </div>

            <!-- RIGHT HELP CONTENT -->
            <!--            <aside-help-content #rightHelperContent [position]="'right'"-->
            <!--                                [ngClass]="rightHelperContent.isPresent()?'tm-sidebar uk-width-1-4@m uk-first-column':'clear-style'">-->
            <!--            </aside-help-content>-->

          </div>
        </div>


        <!-- BOTTOM HELP CONTENT -->
        <!--        <help-content #bottomHelperContent [position]="'bottom'"-->
        <!--                      [ngClass]="bottomHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">-->
        <!--        </help-content>-->


      </div>
    </div>
  </div>
</div>
