.uk-navbar-nav > li > a,
.uk-navbar-nav > li > a:focus,
.uk-navbar-nav > li > a:active{
    /*color: #0047BA;*/
    color: #555555;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0px;
    padding: 0 10px;
}

.uk-navbar-nav > li > a:hover,
.uk-navbar-nav > li > a:focus,
.uk-navbar-nav > li > a:active {
    /*color: #D1303A;*/
    color: #203349;
}

.uk-navbar-nav > li:hover > a,
.uk-navbar-nav > li > a:focus,
.uk-navbar-nav > li > a.uk-open {
    color: #203349;
    outline: 0;
}

.uk-navbar-dropdown-nav > li > a,
.uk-navbar-dropdown-nav > li > a:focus,
.uk-navbar-dropdown-nav > li > a:active {
    /*color: #0047BA;*/
    color: #555555;
    font-size: 17px;
    font-weight: 400;
}

.uk-navbar-dropdown-nav > li > a:hover,
.uk-navbar-dropdown-nav > li > a:focus,
.uk-navbar-dropdown-nav > li > a:active {
    /*color: #D1303A;*/
    color: #203349;
}

#top-header {
    background: #F7F7F7;
    color: #475B5F;
}

@media screen and (max-width: 768px) {
    #block-openid-connect-openid-connect-login {
        position: absolute;
        top: -10px;
        left: 10px;
    }
}

@media screen and (max-width: 991px) {
    #block-openid-connect-openid-connect-login {
        top: -27px !important;
    }
}

#block-openid-connect-openid-connect-login {
    text-align: right;
    float: right;
    margin-top: 4px;
}

#block-openid-connect-openid-connect-login a,
#block-openid-connect-openid-connect-login a:focus,
#block-openid-connect-openid-connect-login a:hover {
    background: none;
    border: none;
    box-shadow: none !important;
    color: #203349;
    padding: 8px 15px 8px 15px;
    text-transform: inherit;
    font-weight: 400;
}

#globalmenu.uk-nav {
    padding: 0 !important;
}

li.expanded,
li.collapsed,
li.leaf {
    padding: 0.2em 0.5em 0 0;
    margin: 0;
}

.uk-nav > li {
    position: relative;
    display: block;
}

.uk-navbar-nav > li {
    float: left;
    position: relative;
}

#globalmenu.uk-nav > li {
    bottom: 2px;
    z-index: 300;
}

.uk-nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.uk-navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}

.navbar-brand,
.uk-navbar-nav > li > a {
    text-shadow: 0 1px 0 rgba(255, 255, 255, .25);
}

#globalmenu li a {
    margin: 0;
}

#globalmenu.uk-nav > li > a {
    font-weight: 300;
    padding: 5px 0px 5px 15px;
    height: 34px;
    font-size: 15px;
}

#globalmenu.uk-nav > li > a {
    color: #203349;
    letter-spacing: 0px;
}

.uk-navbar-nav > li > a,
.uk-navbar-item,
.uk-navbar-toggle,
.navbar .brand,
.navbar-search,
.navbar .nav > li > a {
    height: 92px;
}

.align-self-center {
    -ms-flex-item-align: center !important;
    align-self: center !important;
}

.main-menu .uk-navbar-nav > li {
    margin-right: 20px;
}

.main-menu .uk-navbar-nav > li > a {
    padding: 0px;
}

.main-menu .uk-navbar-nav > li > a::before,
.main-menu .uk-navbar-dropdown li::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    /*bottom: 0px;*/
    bottom: 20px;
    z-index: 300;
    left: 0;
    background-color: #dc9d19;
    -webkit-transform: scale3d(0, 1, 1);
    -moz-transform: scale3d(0, 1, 1);
    -ms-transform: scale3d(0, 1, 1);
    -o-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.7, 0, 0.3, 1);
    -moz-transition: -moz-transform 0.5s cubic-bezier(0.7, 0, 0.3, 1);
    transition: -webkit-transform 0.5s cubic-bezier(0.7, 0, 0.3, 1);
    -o-transition: transform 0.5s cubic-bezier(0.7, 0, 0.3, 1);
    transition: transform 0.5s cubic-bezier(0.7, 0, 0.3, 1);
    transition: transform 0.5s cubic-bezier(0.7, 0, 0.3, 1), -webkit-transform 0.5s cubic-bezier(0.7, 0, 0.3, 1);
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}

.main-menu .uk-navbar-dropdown li::before {
    bottom: 0px;
}

.main-menu .uk-navbar-nav > li > a:hover::before,
.main-menu .uk-navbar-nav > li > a:focus::before,
.main-menu .uk-navbar-nav > li > a:active::before,
.main-menu .uk-navbar-dropdown li:hover::before,
.main-menu .uk-navbar-dropdown li:focus::before,
.main-menu .uk-navbar-dropdown li:active::before{
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transform-origin: 0 50%;
    -moz-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    -o-transform-origin: 0 50%;
    transform-origin: 0 50%;
}

.uk-navbar-dropdown,
.navbar .nav > li > .dropdown-menu {
    padding: 0px;
}

.social-search {
    list-style: outside none none;
    padding: 0;
    position: fixed;
    left: 0;
    display: block;
    top: 30%;
    z-index: 800;
    border-radius: 11px 0 0 11px;
    right: 0;
    font-size: 20px;
    width: 5%;
}

.block ol, .block ul {
    margin: 0;
    padding: 0 0 0.25em 1em;
}

.social-search ul {
    display: grid;
    list-style: none;
    padding: 0;
    width: 45px;
    background: #fff;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
}

.social-search .search-block {
    padding: 5px;
}

.social-search .social-icon {
    padding: 5px;
}

.social-search .social-icon a span {
    color: #203349;
    font-size: 22px !important;
}

.social-search .line {
    height: 32px;
    width: 1px;
    background: #444;
    margin-left: 22px;
    margin-bottom: 10px;
}

#tm-mobile .globalMenu li {

}

#tm-mobile .uk-nav-header {
    text-transform: none;
    font-weight: 400;
}

#tm-mobile .globalMenu .uk-nav-header:not(:first-child) {
    margin-top: 0px;
}

#tm-mobile .uk-nav-default > li > a,
#tm-mobile .uk-nav-default > li > a:hover,
#tm-mobile .uk-nav-default > li > a:focus,
#tm-mobile .uk-nav-default > li > a:active {
    color: #203349;
}

#tm-mobile .uk-nav-default {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

#tm-mobile .mainMenu {
    margin-top: 20px;
}

#tm-mobile .mainMenu.uk-nav-default .uk-nav-header {
    color: #555555;
    font-weight: 600;
    font-size: 14px;
}

#tm-mobile .uk-nav > li > a {
    padding: 0px;
}

.mainMenu.uk-nav-default li > a:hover, .mainMenu.uk-nav-default li > a:focus, .mainMenu.uk-nav-default li > a:active{
    color: #203349;
}

.mainMenu.uk-nav-default li > a {
    padding: 0px;
}

.mainMenu.uk-nav-default li > a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    /*bottom: 0px;*/
    bottom: 0px;
    z-index: 300;
    left: 0;
    background-color: #dc9d19;
    -webkit-transform: scale3d(0, 1, 1);
    -moz-transform: scale3d(0, 1, 1);
    -ms-transform: scale3d(0, 1, 1);
    -o-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.7, 0, 0.3, 1);
    -moz-transition: -moz-transform 0.5s cubic-bezier(0.7, 0, 0.3, 1);
    transition: -webkit-transform 0.5s cubic-bezier(0.7, 0, 0.3, 1);
    -o-transition: transform 0.5s cubic-bezier(0.7, 0, 0.3, 1);
    transition: transform 0.5s cubic-bezier(0.7, 0, 0.3, 1);
    transition: transform 0.5s cubic-bezier(0.7, 0, 0.3, 1), -webkit-transform 0.5s cubic-bezier(0.7, 0, 0.3, 1);
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}

.mainMenu.uk-nav-default li > a:hover::before,
.mainMenu.uk-nav-default li > a:focus::before,
.mainMenu.uk-nav-default li > a:active::before {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transform-origin: 0 50%;
    -moz-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    -o-transform-origin: 0 50%;
    transform-origin: 0 50%;
}












.signUp {
    border: 1px solid #0047BA;
    height: 40px !important;
    margin-top: 20px;
}

.signUp:hover, .signUp:focus {
    border: 1px solid #D1303A;
}

/*TODO remove when we enable signUp*/
a.signUp, a:hover.signUp {
    color: #4D586A !important;
    cursor:not-allowed !important;
    border: 1px solid #4D586A;
}

.menuSearch {
    margin-top: 26px;
    /*margin-left: 20px;*/
    /*margin-right: 20px;*/
    width: 300px;
    border-bottom: none;
    font-size: 16px;
    padding: 0 15px;
    /*background: rgba(0,71,186,0.10) url("../../../assets/images/icons/ic_search.svg") no-repeat right;*/
    background: #fff url("../../../assets/images/icons/ic_search.svg") no-repeat right;
    background-origin: content-box;
}

.menuSearch {
    color: rgba(0,71,186,1) !important;
}

.menuSearch::-webkit-input-placeholder {
    color: rgba(0,71,186,0.75) !important;
    /*font-size: 90%;*/
}

.menuSearch:-moz-placeholder {
    color: rgba(0,71,186,0.75) !important;
    /*font-size: 90%;*/
    opacity:  1;
}

.menuSearch::-moz-placeholder {
    color: rgba(0,71,186,0.75) !important;
    /*font-size: 90%;*/
    opacity:  1;
}

.menuSearch:-ms-input-placeholder {
    color: rgba(0,71,186,0.75) !important;
    /*font-size: 90%;*/
}

.menuSearch:focus {
    outline: 0;
    /*background: rgba(0,71,186,0.10) url("../../../assets/images/icons/ic_search.svg") no-repeat right;*/
    background: #fff url("../../../assets/images/icons/ic_search.svg") no-repeat right;
    background-origin: content-box;
    color: rgba(0,71,186,1) !important;
    border: none !important;
}

.uk-navbar-container > .uk-container .uk-navbar-right, .uk-navbar-container > .container .uk-navbar-right {
    margin-right: 0px;
}

.uk-navbar-right > .uk-navbar-nav > li > a {
    white-space: nowrap;
}

.uk-navbar-nav > li > a {
    text-transform: none;
}