@import 'project-colors';

.project-bg-color {
  background-color: $project-bg-color !important;
}

/* uk */

.uk-button {
  font-family: 'Ubuntu', sans-serif;
}

.uk-button-primary {
  flex: 1 1 auto;
  margin: 5px;
  padding: 3px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  border-color: $project-bg-color;
  background: #fff;
  color: $project-bg-color !important;
}

.uk-button-primary:hover {
  border-color: $project-bg-color;
  background: $project-bg-color;
  color: #fff !important;
}

.uk-button-secondary {
  background: $project-bg-color;
  flex: 1 1 auto;
  margin: 5px;
  padding: 3px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  color: #fff !important;
}

.uk-button-secondary:hover {
  background: #fff;
  border-color: $project-bg-color;
  color: $project-bg-color !important;
}

.uk-section-primary {
  background: $project-bg-color;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #616161;
  font-weight: 400;
  line-height: 24px;
}

.scroll-to-top {
  font-size: 20px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  border-radius: 50%;
  background: #000;
  border: 1px solid #2a2a2a;
  width: 35px;
  height: 35px;
  line-height: 30px;
  z-index: 9999;
  outline: 0;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all 0.3s ease;
}

.butn {
  background: #232323;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 12px 30px;
  line-height: normal;
  font-weight: 500;
  text-transform: none !important;
  position: relative;
  z-index: 1;
  display: inline-block;
  /*white-space: nowrap;*/
  border: none;
  cursor: pointer
}

.butn.theme {
  background: $project-bg-color;
  color: #fff;
  font-size: 15px;
}

.butn.theme:hover {
  background: #232323;
  border-radius: 3px;
}

.butn.theme:hover {
  color: #fff;
  border-radius: 3px;
}

.uk-section-secondary {
  background: #FAFAFA;
  color: #424242 !important;
}

.section-heading h1, .section-heading h2, .section-heading h3, .section-heading h4, .section-heading h5, .section-heading h6 {
  position: relative;
  padding-bottom: 10px;
  font-weight: 600;
  margin-bottom: 10px;
  position: relative;
  line-height: 140%;
  font-family: 'Montserrat', sans-serif;
  color: #232323;
  text-transform: none;
}

.section-heading h1::after, .section-heading h2::after, .section-heading h3::after, .section-heading h4::after, .section-heading h5::after, .section-heading h6::after {
  content: '';
  display: block;
  width: 100px;
  height: 2px;
  background: $project-bg-color;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.section-heading.left h1::after, .section-heading.left h2::after, .section-heading.left h3::after, .section-heading.left h4::after, .section-heading.left h5::after, .section-heading.left h6::after {
  margin: 0;
  left: 0;
}

.section-heading h3 {
  font-size: 32px;
}

.section-heading h2 {
  font-size: 34px;
}

.section-heading.left {
  text-align: left;
  margin-bottom: 30px;
}

a {
  color: $project-bg-color;
  text-decoration: underline;
}

a:hover, a:focus {
  color: $project-bg-color;
  text-decoration: underline;
}

p {
  margin: 0 0 20px;
  word-spacing: 1px;
}


/********************/
/*     Timeline     */
/********************/
.al_timeline {
  position: relative;
  padding: 24px 20px 32px;
  font-size: 80%;
}

.al_timeline::after {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: -2px;
  left: 50%;
  content: '';
  width: 4px;
  /*background: rgba(255, 255, 255, 0.5);*/
  background: $timeline-line;
  display: block;
}

.al_timeline_block::before, .al_timeline_block::after {
  content: " ";
  display: table;
}

.al_timeline_block::after {
  clear: both;
}

.al_timeline_block + * {
  margin-top: 10px;
}

.al_timeline_block:nth-child(2n) .al_timeline_content {
  float: right;
}

.al_timeline_block:nth-child(2n+1) .al_timeline_content {
  text-align: right;
}

.al_timeline_image {
  position: absolute;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  background: $timeline-bg-primary;
  border-radius: 50%;
  text-align: center;
  z-index: 10;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-top: 12px;
}

.al_timeline_block.update .al_timeline_image {
  position: absolute;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  background: $timeline-line;
  border-radius: 50%;
  text-align: center;
  z-index: 10;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-top: 20px;
}

.al_timeline_image > i {
  font-size: 32px;
  line-height: 64px;
}

.al_timeline_content {
  box-sizing: border-box;
  background: #fff;
  width: 44%;
  padding: 8px 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  position: relative;
  border-radius: 4px;
}

.al_timeline_content::after {
  position: absolute;
  top: 24px;
  right: -20px;
  content: '';
  display: block;
  border: 10px solid transparent;
  //border-left-color: transparent;
  border-left-color: $timeline-bg-primary;
}

.al_timeline_block.update .al_timeline_content::after {
  position: absolute;
  top: 24px;
  right: -20px;
  content: '';
  display: block;
  border: 10px solid transparent;
  //border-left-color: transparent;
  border-left-color: $timeline-bg-secondary;
}

.al_timeline_block:nth-child(2n) .al_timeline_content::after {
  border-left-color: transparent;
  border-right-color: $timeline-bg-primary;
  right: auto;
  left: -20px;
}

.update.al_timeline_block:nth-child(2n) .al_timeline_content::after {
  border-left-color: transparent;
  border-right-color: $timeline-bg-secondary;
  right: auto;
  left: -20px;
}

.al_timeline_content h3 {
  margin: 0 0 5px 0;
}

.al_timeline_content p {
  margin: 0 0 5px 0;
}

.al_timeline_block.update .al_timeline_content {
  background: $timeline-bg-secondary;
  box-shadow: none;
  color: #fff;
}

.al_timeline_block.update .al_timeline_content h3 {
  color: #fff;
}

.uk-badge-danger {
  color: $danger-background;
  background-color: $danger;
}

.uk-badge-warning {
  color: $warning-background;
  background-color: $warning;
}

.uk-badge-success {
  color: $success-background;
  background-color: $success;
}

// slider css-->

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $project-bg-color;
}

input:focus + .slider {
  box-shadow: 0 0 1px $project-bg-color;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
// <--slider
