<!--<div class="tm-header-placeholder uk-margin-remove-adjacent" style="height: 84px;"></div>-->
<div class="uk-section uk-section-xsmall">
  <div class="uk-container uk-container-expand">
    <div>
      <ul class="uk-breadcrumb">
        <li>
          <a [routerLink]="['/home']" href="">Home</a>
        </li>
        <li>
          <a [routerLink]="[pathToDashboard]" href="">Provider Dashboard</a>
        </li>
        <li>
          <span><ng-container *ngIf="isSharedDashboard > 0">Shared </ng-container>Resource Dashboard</span>
        </li>
      </ul>
    </div>
  </div>
</div>
