<div class="uk-section-default uk-section uk-section-small uk-padding-remove-bottom home-section" style="min-height: 700px">
  <div class="uk-container">

    <h1>Welcome to the EOSC Providers Portal</h1>

    <div class="uk-padding uk-padding-remove-left uk-padding-remove-right">
      <div class="uk-alert-success">
        <p>Welcome to the enhanced EOSC Resource Catalogue, which now supports Catalogue Profiles, Data Source Profiles and Research Product Profiles!</p>

        <p>Existing Resource Profile records that described collections of research products (what we call “Data Souces”) have been transformed to comply with the Data Source Profile in the EOSC Profiles version 4.0.  You are encouraged to review your own records to make sure they match your needs.</p>

        <p>Updated information, documentation, and instructions for onboarding resources can be found in the new <a href="https://eosc-portal.eu/eosc-providers-hub" target="_blank">Providers Hub</a> section of eosc-portal.eu.</p>

        <p>If you have any concerns or questions, please contact the release team through the EOSC Helpdesk: <a href="mailto:help@eosc-portal.eu">help@eosc-portal.eu</a>.</p>
      </div>
    </div>

    <p>
      A single platform for providers to onboard their organization into EOSC portal, register and manage their resources
      and gain rich insights about their offerings in the catalogue
    </p>

    <div class="uk-grid uk-grid-match uk-child-width-1-3 uk-margin-large-top">

      <div>
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
            <img src="../../../assets/images/EOSC_Onboarding_1546x800-min.png" style="height: 209px">
          </div>
          <div class="uk-card-body uk-flex uk-flex-column uk-flex-between" style="min-height: 311px">
            <div>
              <h3 class="uk-card-title">Onboarding of Resources</h3>
              <p>Self service, Workflow based</p>
            </div>
            <div>
              <button class="uk-button uk-button-primary" [routerLink]="'/becomeAProvider'">Learn more</button>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
            <img src="../../../assets/images/EOSC_Dashboard_1532x800-min.png" style="height: 209px">
          </div>
          <div class="uk-card-body uk-flex uk-flex-column uk-flex-between" style="min-height: 311px">
            <div>
              <h3 class="uk-card-title">Provider Dashboard</h3>
              <p>Gain full control of your resources in the catalogue</p>
            </div>
            <div>
              <button class="uk-button uk-button-primary" [routerLink]="'/provider/my'">Learn more</button>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
            <img src="../../../assets/images/EOSC_APIs_1422x800-min.png">
          </div>
          <div class="uk-card-body uk-flex uk-flex-column uk-flex-between" style="min-height: 300px">
            <div>
              <h3 class="uk-card-title">Application Programming Interfaces (APIs)</h3>
              <p>Programmatic management of resources</p>
            </div>
            <div>
              <button class="uk-button uk-button-primary" [routerLink]="'/developers'">Learn more</button>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
