@import 'project-colors';


.project-bg-color {
  background-color: $project-bg-color !important;
}

/* uk */

.uk-button {
  font-family: 'Ubuntu', sans-serif;
}

.uk-button-primary {
  flex: 1 1 auto;
  margin: 5px;
  /*padding: 7px 30px;*/
  padding: 3px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 30px;
  border: 0;
  background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 51%, #00d2ff 100%);
  color: #fff !important;
}

.uk-button-primary:hover {
  color: #fff;
  border-color: #204d74;
  background-color: #265a88;
  background-position: right center;
}

.uk-button-secondary {
  background: $project-bg-color;
  flex: 1 1 auto;
  margin: 5px;
  /*padding: 7px 30px;*/
  padding: 3px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  border: 0;
  color: #fff !important;
}

.uk-button-secondary:hover {
  background: #0885df;
  border-color: #0885df;
  color: #fff;
}

.uk-section-primary {
  background: #0047BA;
}

/********************/
/*     Timeline     */
/********************/
.al_timeline {
  position: relative;
  padding: 24px 20px 32px;
  font-size: 80%;
}

.al_timeline::after {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: -2px;
  left: 50%;
  content: '';
  width: 4px;
  /*background: rgba(255, 255, 255, 0.5);*/
  background: $timeline-line;
  display: block;
}

.al_timeline_block::before, .al_timeline_block::after {
  content: " ";
  display: table;
}

.al_timeline_block::after {
  clear: both;
}

.al_timeline_block + * {
  margin-top: 10px;
}

.al_timeline_block:nth-child(2n) .al_timeline_content {
  float: right;
}

.al_timeline_block:nth-child(2n+1) .al_timeline_content {
  text-align: right;
}

.al_timeline_image {
  position: absolute;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  background: $timeline-bg-primary;
  border-radius: 50%;
  text-align: center;
  z-index: 10;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-top: 12px;
}

.al_timeline_block.update .al_timeline_image {
  position: absolute;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  background: $timeline-line;
  border-radius: 50%;
  text-align: center;
  z-index: 10;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-top: 20px;
}

.al_timeline_image > i {
  font-size: 32px;
  line-height: 64px;
}

.al_timeline_content {
  box-sizing: border-box;
  background: $timeline-bg-primary;
  width: 44%;
  padding: 8px 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  position: relative;
  border-radius: 4px;
}

.al_timeline_content::after {
  position: absolute;
  top: 24px;
  right: -20px;
  content: '';
  display: block;
  border: 10px solid transparent;
  //border-left-color: transparent;
  border-left-color: $timeline-bg-primary;
}

.al_timeline_block.update .al_timeline_content::after {
  position: absolute;
  top: 24px;
  right: -20px;
  content: '';
  display: block;
  border: 10px solid transparent;
  //border-left-color: transparent;
  border-left-color: $timeline-bg-secondary;
}

.al_timeline_block:nth-child(2n) .al_timeline_content::after {
  border-left-color: transparent;
  border-right-color: $timeline-bg-primary;
  right: auto;
  left: -20px;
}

.update.al_timeline_block:nth-child(2n) .al_timeline_content::after {
  border-left-color: transparent;
  border-right-color: $timeline-bg-secondary;
  right: auto;
  left: -20px;
}

.al_timeline_content h3 {
  margin: 0 0 5px 0;
}

.al_timeline_content p {
  margin: 0 0 5px 0;
}

.al_timeline_block.update .al_timeline_content {
  background: $timeline-bg-secondary;
  box-shadow: none;
  color: #fff;
}

.al_timeline_block.update .al_timeline_content h3 {
  color: #fff;
}
