<div id="tm-main" class="tm-main uk-section uk-section-default" uk-height-viewport="expand: true"
     style="box-sizing: border-box;">
  <div class="uk-container uk-container-expand">

    <!-- TOP HELP CONTENT -->
    <app-help-content #topHelperContent [position]="'top'"
                      [ngClass]="topHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">
    </app-help-content>

    <div id="myGrid" class="uk-grid" uk-grid="">

      <div class="uk-width-1-1">
        <table id="myTable" class="uk-table uk-text-left">
          <thead class="uk-width-1-1 uk-margin-bottom tablehead" style="">
          <!--<thead class="header uk-width-1-1 uk-margin-bottom">-->
          <tr>
            <th class="uk-width-1-4"></th>
            <th *ngFor="let richService of richServices; let i = index;" class="uk-width-1-4" [ngClass]="{evenColumn: i%2==1}">
              <div class="uk-margin-bottom uk-margin-top">
                <a (click)="this.comparisonService.addOrRemove(richService.service,true)" title="Remove from comparison list"
                   uk-tooltip="delay: 500">
                  <img src="../../../assets/images/icons/ic_remove.svg">
                  <span class="removeLink uk-margin-small-left">Remove</span>
                </a>
              </div>
            </th>
          </tr>
          <tr>
            <th class="uk-width-1-4"></th>
            <th *ngFor="let richService of richServices; let i = index;" class="uk-width-1-4" [ngClass]="{evenColumn: i%2==1}">
              <div class="uk-margin-bottom">
                <img [src]="richService.service.logo || nologo" style="max-height: 60px; width: auto;">
              </div>
            </th>
          </tr>
          <tr>
            <th class="uk-width-1-4">
            </th>
            <th *ngFor="let richService of richServices; let i = index;" class="uk-width-1-4" [ngClass]="{evenColumn: i%2==1}">
              <div class="serviceBrandName">
                {{richService.service.name}}
              </div>
            </th>
          </tr>
          <tr>
            <th class="uk-width-1-4"></th>
            <th *ngFor="let richService of richServices; let i = index;" class="uk-width-1-4" [ngClass]="{evenColumn: i%2==1}">
              <div class="tagLine uk-margin-bottom">
                "{{richService.service.tagline}}"
              </div>
            </th>
          </tr>
          <tr>
            <th class="uk-width-1-4"></th>
            <th *ngFor="let richService of richServices; let i = index;" class="uk-width-1-4" [ngClass]="{evenColumn: i%2==1}">
              <div class="uk-margin-bottom">
<!--                <star-rating-comp #rating (click)="rateService(i, rating.rating)"-->
<!--                                  [starType]="'svg'" [rating]="richService.hasRate" [step]="1"-->
<!--                                  [showHalfStars]="true" [readOnly]=!this.authenticationService.isLoggedIn()-->
<!--                                  [size]="'medium'"-->
<!--                                  [staticColor]="'ok'" class="uk-inline starRating"-->
<!--                                  labelText="{{richService.hasRate}} ({{ richService.ratings }})" [labelVisible]="true"-->
<!--                                  [labelPosition]="'right'"-->
<!--                                  [hoverEnabled]="true">-->
<!--                </star-rating-comp>-->
                <span class="uk-margin-medium-left">
                    <img src="../../../assets/images/icons/ic_visit_icon.svg">
                    <span class="statsNumbers">&nbsp;&nbsp;({{ richService.views }})</span>
                </span>
              </div>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="uk-width-1-4 fieldName">Provided by</td>
            <td *ngFor="let richService of richServices; let i = index;" class="uk-width-1-4 fieldValue"
                [ngClass]="{evenColumn: i%2==1}">
              <ng-template [ngIf]="richService.service.providers && richService.service.providers !== []">
                {{richService.service.providers.join(', ')}}
              </ng-template>
              <ng-template [ngIf]="!richService.service.providers && richService.service.providers == []">
                /
              </ng-template>
            </td>
          </tr>
          <tr>
            <td class="uk-width-1-4 fieldName">Categories</td>
            <td *ngFor="let richService of richServices; let i = index;" class="uk-width-1-4 fieldValue"
                [ngClass]="{evenColumn: i%2==1}">
              <ng-template [ngIf]="richService.categories && richService.categories !== []">
                <ng-template ngFor let-cat [ngForOf]="richService.categories">
                  {{cat.superCategory.name}} --> {{cat.category.name}} --> {{cat.subCategory.name}} <br>
                </ng-template>
              </ng-template>
              <ng-template [ngIf]="!richService.categories && richService.categories == []">
                /
              </ng-template>
            </td>
          </tr>
          <tr>
            <td class="uk-width-1-4 fieldName">Scientific domain</td>
            <td *ngFor="let richService of richServices; let i = index;" class="uk-width-1-4 fieldValue"
                [ngClass]="{evenColumn: i%2==1}">
              <ng-template [ngIf]="richService.domains && richService.domains !== []">
                <ng-template ngFor let-scientifcDomain [ngForOf]="richService.domains">
                  {{scientifcDomain.domain.name}} --> {{scientifcDomain.subdomain.name}} <br>
                </ng-template>
              </ng-template>
              <ng-template [ngIf]="!richService.domains && richService.domains == []">
                /
              </ng-template>
            </td>
          </tr>
          <tr>
            <td class="uk-width-1-4 fieldName">Places</td>
            <td *ngFor="let richService of richServices; let i = index;" class="uk-width-1-4 fieldValue"
                [ngClass]="{evenColumn: i%2==1}">
              <ng-template [ngIf]="richService.placeNames && richService.placeNames !== []">
                {{richService.placeNames | join:", "}}
              </ng-template>
              <ng-template [ngIf]="!richService.placeNames || richService.placeNames === []">
                /
              </ng-template>
            </td>
          </tr>
          <tr>
            <td class="uk-width-1-4 fieldName">Access types</td>
            <td *ngFor="let richService of richServices; let i = index;" class="uk-width-1-4 fieldValue"
                [ngClass]="{evenColumn: i%2==1}">
              <ng-template [ngIf]="richService.accessTypeNames && richService.accessTypeNames !== []">
                {{richService.accessTypeNames | join:", "}}
              </ng-template>
              <ng-template [ngIf]="!richService.accessTypeNames || richService.accessTypeNames === []">
                /
              </ng-template>
            </td>
          </tr>
          <tr>
            <td class="uk-width-1-4 fieldName">Access modes</td>
            <td *ngFor="let richService of richServices; let i = index;" class="uk-width-1-4 fieldValue"
                [ngClass]="{evenColumn: i%2==1}">
              <ng-template [ngIf]="richService.accessModeNames && richService.accessModeNames !== []">
                {{richService.accessModeNames | join:", "}}
              </ng-template>
              <ng-template [ngIf]="!richService.accessModeNames || richService.accessModeNames === []">
                /
              </ng-template>
            </td>
          </tr>
          <tr>
            <td class="uk-width-1-4 fieldName">Target Users</td>
            <td *ngFor="let richService of richServices; let i = index;" class="uk-width-1-4 fieldValue"
                [ngClass]="{evenColumn: i%2==1}">
              <ng-template [ngIf]="richService.targetUsersNames && richService.targetUsersNames !== []">
                {{richService.targetUsersNames}}
              </ng-template>
              <ng-template [ngIf]="!richService.targetUsersNames || richService.targetUsersNames === []">
                /
              </ng-template>
            </td>
          </tr>
          <tr>
            <td class="uk-width-1-4 fieldName">Service offers</td>
            <td *ngFor="let richService of richServices; let i = index;" class="uk-width-1-4 fieldValue"
                [ngClass]="{evenColumn: i%2==1}">
              <ng-template [ngIf]="richService.service.options && richService.service.options !== []">
                <div *ngFor="let option of richService.service.options">
                {{option.name}}
                </div>
              </ng-template>
              <ng-template [ngIf]="!richService.service.options || richService.service.options === []">
                /
              </ng-template>
            </td>
          </tr>

          </tbody>
        </table>

      </div>

      <!-- RIGHT HELP CONTENT -->
      <app-aside-help-content #rightHelperContent [position]="'right'"
                              [ngClass]="rightHelperContent.isPresent()?'tm-sidebar uk-width-1-4@m uk-first-column':'clear-style'">
      </app-aside-help-content>

    </div>

    <!-- BOTTOM HELP CONTENT -->
    <app-help-content #bottomHelperContent [position]="'bottom'"
                      [ngClass]="bottomHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">
    </app-help-content>

  </div>
</div>

