.uk-section {
    padding-top: 30px;
}

table tbody tr {
    border-top: 1px solid rgba(84,84,84,0.30);
}

table tbody tr.noBorderTop {
    border-top: none;
}

.serviceBrandName {
    font-size: 18px;
    color: #2B4371;
    letter-spacing: 0.41px;
    font-weight: 400;
    padding-bottom: 20px;
}

.tagLine {
    font-size: 16px;
    color: #4D586A;
    letter-spacing: 0.36px;
    line-height: 23px;
}

.uk-table th {
    text-transform: none;
    padding: 0px 20px;
}

.star-container {
    margin-left: 0px;
    margin-right: 0px;
}

.uk-table td {
    padding: 20px 20px;
}

.fieldName {
    font-size: 12px;
    color: #0047BA;
    letter-spacing: 0;
    font-weight: 700;
    text-transform: uppercase;
}

.fieldValue {
    font-size: 13px;
    color: #4D586A;
    letter-spacing: 0.32px;
    line-height: 19px;
}

.evenColumn {
    background: #EFF1F3;
}

.favoriteButton {
    font-size: 15px;
    letter-spacing: 0.36px;
    text-align: center;
}

a .removeLink {
    font-weight: 400;
    font-size: 15px;
    color: #4D586A;
    letter-spacing: 0.36px;
    line-height: 23px;
    vertical-align: middle;
}

a:hover {
    text-decoration: none;
    color: #343F51;
}






.search_box_bg .uk-button-default {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}

.actionIcons {
    height: 30px;
}

.actionIcons a {
    color: #bbbbbb;
}

.actionIcons i {
    margin: 10px;
}

/*thead {*/
    /*width: 100% !important;*/
/*}*/

.tablehead {
    width: inherit !important;
}

/*.header{*/
    /*position: -webkit-sticky;*/
    /*position: sticky;*/
    /*top: 20px;*/
/*}*/


.comma-element::before {
    content: ', ';
}

.comma-element:first-child::before {
    content: '';
}
