/* RED */

a, .colored, .post-content h2 a:hover, ul.circled li:before, ul.arrow li:before, .btn.btn-color-brd, .footer a:hover, .topbar li a:hover, .topbar ul.social-icons li a:hover i, .nav > li > a:hover, .nav > li.current a, .header-nav .nav .open > a, .header-nav .nav .open > a:hover, .header-nav .nav .open > a:focus, .header-nav .dropdown-menu > li > a:hover, .header-nav .dropdown-menu > li > a:focus, .header-nav .dropdown-submenu:hover > a, .header-nav .dropdown-submenu:focus > a, .header-nav .dropdown-menu > .active > a, .header-nav .dropdown-menu > .active > a:hover, .header-nav .dropdown-menu > .active > a:focus, .yamm .yamm-content a:hover, .header-nav.basic.sticky .navbar-nav > li > a:hover, .services-box .col:hover i, .services-box-2 i.small, .team-member .social-links a:hover, .team-box-animated .front span, .filter a.active, .work-descr, .work-item:hover .work-descr, .panel-title > a:hover, .progress-list li em, .meta ul li a:hover, .facts-home a:hover, .post-home .col h1 a:hover, .product-grid .post .meta ul li a:hover, .navigation a:hover, .sidebar a:hover, .tp-caption a, #testimonials .author, .testimonials h2, .parallax a:hover, .items .info h4 a:hover, .tabs-top .tab a:hover, .tabs-top .tab.active a, .parallax.pagetitle a, .pricing .plan h4, .aboutme h3, .f-element i, .owl-portfolio .info h4 a:hover, .sidebox a:hover, .rating, .product-grid .post .post-content .rating, .product-grid .post .post-content .price span, .product-grid .post .post-content h5 a:hover, .product-grid .post .post-content h3 a:hover, .post-format h2 a:hover, .rw-words-1 span, .services-box-2 .content h3 a.dark:hover, .services-box i, .footer .services-box-3:hover i, .f-element .highlight.color, .team-alt .social-icons li a:hover i, .page-nav a:hover, .page-nav .active, .btn:hover, .btn.parallax:hover, .post-content.testimonial .author, .post-content .date-white, .footer .widget .meta i:hover, .footer-links li a:hover{
    color: #cf2a35;
}
.header-nav .dropdown-menu li a:hover{
	color: #cf2a35!important;
}
.nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
}
.header-lock{
	position: relative;
}
.header-lock:after{
	content: '\e80e';
	font-family: 'fontello';
	font-style: normal;
	font-weight: normal;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: 0;
	text-align: center;
	line-height: 1em;
	position: absolute;
	color: #214c9c;
	top: 0;
	bottom: 0;
	margin: auto 0;
	right: 0;
	height: 14px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.header-nav.basic.sticky .navbar-nav > li.header-lock:after,
.social-top li a,
.header-nav.basic.sticky .social-top li a i{
	color: #214c9c;
}
.header-lock:hover:after,
.header-nav.basic.sticky .navbar-nav > li.header-lock:hover:after{
	color: #cf2a35;
}
.page-news h2 a{color:black;}
.page-news article{margin-top: 50px;}
.page-news .links.inline{display: none;}
.navbar-nav > .dropdown.active > a,
.social-top li a:hover i{
    color: #cf2a35 !important;
}
.md-slide-item .md-object a{
    background: #cf2a35!important;
    border: 1px solid #cf2a35!important;
	font-size: 1.1em;
	font-weight: 600;
}
.md-slide-item .md-object a:hover{
    color: #cf2a35!important;
    border: 1px solid #cf2a35!important;
    background: #fff!important;
}
.btn.btn-blue-brd {
    border: 2px solid #cf2a35;
    color: #cf2a35;
}
.btn,
.btn.btn-blue-brd:hover ,
.progress .bar{
    background: #cf2a35;
}
.footer .btn-submit.alt{
		background-color: #cf2a35;
}
.footer h4{
	text-transform: none;
}
.pagination_area .pager__item > a:hover,
.pagination_area .pager__item.is-active > a{
	background-color: #cf2a35;
}

/* BLUE */

.header-nav .dropdown-menu, .btn.btn-color-brd, .filter li a.active, .navigation a:hover, #testimonials .tab a.active, #testimonials .tab a:hover, .tabs-top .tab.active a, .table td:hover i, .team-box-animated .back, .services-box-3 .col:hover i, .services-box .col a:hover, .nav > li > a:hover::before, .navbar-nav > li.current::before, .navbar-nav > li > a::after, .services-box-2.left i::after, .pricing .plan:hover, .pricing .plan.active, .social-icons li a:hover i, .tags li a:hover, h3.heading::before, p.h-sub::before, .nav-tabs li a::after, .nav-tabs li.active a::after, .post-content .date::after, .post-format .date::after, #fp-nav span, .fp-slidesNav span, .hi-icon-wrap:hover {
    border-color: #214c9c;
}
.md-arrow .md-arrow-right:hover,
.md-arrow .md-arrow-left:hover,
.post-content.testimonial,
.post-content .date,
.post-content .btn,
.author:hover{
    background: #214c9c!important;
}
.post-content .btn{
	border: 1px solid #214c9c;
}
.post-content .btn:hover{
	color: #214c9c!important;
	background-color: #fff!important;
}
.md-arrow .md-arrow-right:after,
.md-arrow .md-arrow-left:after,
.owl-carousel .owl-controls .owl-prev:after,
.owl-carousel .owl-controls .owl-next:after{
	border-color:#214c9c!important;
}
.post-content .date-white,
.author a,
.post-content .colored,
.navbar-nav > li > a,
.header-nav.basic.sticky .navbar-nav > li > a{
	color: #214c9c;
}
.post-content.testimonial a.btn{
	background-color: #fff!important;
	border: 1px solid #fff!important;
	color: #214c9c!important;
}
.post-content.testimonial a.btn:hover{
	background-color: #214c9c!important;
	border: 1px solid #fff!important;
	color: #fff!important;
}
.page-node-blog-post .post figure{
	height: 300px;
	overflow: hidden;
}
.author{
	border: 1px solid #fff!important;	
}
.author a:hover{
	color: #fff;
}
.author:hover a{
	color: #fff;
	background: #214c9c!important;
}
.owl-slider-wrapper .item .owl-content{
	background: #214c9c!important;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span, .owl-carousel .owl-controls .owl-prev:hover, .owl-carousel .owl-controls .owl-next:hover, .tp-leftarrow.default:hover, .tp-rightarrow.default:hover, .tp-bullets.simplebullets.round .bullet.selected, .tp-bullets.simplebullets.round .bullet:hover, .owl-slider-wrapper .owl-custom-nav .slider-prev:hover, .owl-slider-wrapper .owl-custom-nav .slider-next:hover {
    background: #214c9c!important;
}
.owl-theme .owl-controls .owl-page.active span:after,
.owl-controls.clickable .owl-page.active:hover span:after{
	border-color:#214c9c!important;
}

/* PARTNERS */

#project-grid .project-item{
	width: 33%;
}

/* NAV */

.logo-white {
    border-right: none;
}

.header-nav.basic.set.nobg{
	background-color: rgba(255, 255, 255, 0.65)!important;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3)!important;
}
.social-top li {
    border-left: 1px solid rgba(255, 255, 255, 0.3) !important;
}


/* BREADCRUMP */

.breadcrumbs{
	margin: 0;
	padding: 20px 0;
	list-style: none;
}
.breadcrumbs li{
	float: left;
}
.breadcrumbs li:after {
    content:'\3E';
    margin-left: 5px;
    margin-right: 5px;
}
.breadcrumbs li.active:after{
    content: none;
}

/* PAGE TITLE */

.inner-banner h1{
font-weight: 400;
	text-shadow: 0px 1px 0px rgba(0,0,0,0.5);
}

/* BANNER */

.inner-banner h3{
	display: none;
}

/* NEWS */

.path-news .big-img figure{
	position: relative;
	height: 300px;
	overflow: hidden;
}

.path-news .big-img figure img{
	height: 300px;
	width: auto;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -385px;
}

/* FOOTER */

.footer {
    background: #122a56;
}
.flag-content{
	margin-bottom: 30px;
}
.flag-inside{
	border-bottom: 1px solid #263d68;
	padding-bottom: 20px;
	overflow: hidden;
}
.flag-img{
	display: block;
	background-image: url(../design/flag.png);
	background-repeat: no-repeat;
	float: left;
	width: 80px;
	height: 54px;
	margin-right: 15px;
}
.flag-text{
	display: block;
	float: left;
	width: 1075px;
	height: auto;
}
.post-footer .widget .meta {
    border-bottom: 1px solid #263d68;
}
.bg-darker-gray,
.footer .widget .meta i{
	background-color: #0b1934;
}
.icon-picons-paper{
	background-color: #0e1e3c;
}

.footer .btn-submit.alt{
	border-radius: 0;
	border-left: 1px solid #fff;
}

/* Basic page */

.BPSTyle p{
	font-size: 16px;
	margin-bottom: 15px;
}

.BPSTyle ul li,
.BPSTyle ol li{
	position: relative;
	font-size: 16px;
	margin-bottom: 10px;
}
.BPSTyle ul > li:before{
	content: '';
	width: 8px;
	height: 8px;
	border-radius: 5px;
	background-color: #cf2a35;
	position: absolute;
	top: 9px;
	left: -15px;
	border: 2px solid #214c9c;
}
.BPSTyle ul li:after{
	content: '';
	width: 6px;
	height: 6px;
	border-radius: 5px;
	background-color: #cf2a35;
	position: absolute;
	top: 10px;
	left: -14px;
	border: 1px solid white;
}
.BPSTyle ol li{
	counter-increment: item;
}
.BPSTyle ol li:before{
	color: #cf2a35;
	content: counter(item);
  position: absolute;
	top: 5px;
	left: -14px;
	font-size: 12px;
	font-weight: bold;
}
.BPSTyle ol li:after{
	display: none;
}

/* EVENTS */

.page-events .content{
	background-color: #f7f8f9;
}
.page-events .post-content{
	margin-bottom: 50px;
}
.path-frontpage .post-content{
	height: 450px;
}
.page-events .row.col-md-12.text-center.b-pad40 h2.heading,
.page-events .row.col-md-12.text-center.b-pad40 p.h-sub{
	display: none;
}

/* Parter detail*/

.page-node-clients .col-sm-8 .field__label.title,
.page-node-clients .item-details li .field__label.title{
	display: none!important;
}

.page-node-clients .item-details li .field__item.text img{
	width: 100%!important;
	height: auto!important;
	border: 1px solid #e1e3e5;
}

.md-slider-wrap img{
	width: 100%;
}
.views-element-container.parallax.testimonial{display: none;}

.map-bg:before{
	display: none;
}

.inner-banner.pages{
	background-size: 100%!important;
}

/* mediaqueries */


@media screen and (min-width:1866px){
	.bg-white.inner-banner.pages{
		background-size: 100%!important;
	}
}

@media screen and (max-width:1300px){
	.navbar-nav > li > a {
	    padding: 34px 10px;
	}
	.header-lock::after {
		right: -8px;
	}
}

@media screen and (max-width:1199px){
	.flag-inside .flag-img{
		margin-bottom: 10px;
	}
	.path-frontpage .post-content {
	    height: 500px;
	}
	.path-news .big-img figure{
		height: 250px;
	}
}

@media screen and (max-width:1150px){
	.navbar-nav > li > a {
	    padding: 34px 5px;
	}
	.header-lock::after {
		right: -10px;
	}
	.social-top li {
	    padding: 37px 15px;
	}
}

@media screen and (max-width:1060px){
	.navbar-nav > li > a {
	    font-size: 11px;
	}
}

@media screen and (max-width:1024px){
	.clients .slick-prev, .clients .slick-next{
		display: none!important;
	}
}

@media screen and (max-width:991px){
	.navbar-nav > li > a:hover {
	    color: #cf2a35 !important;
	}
	.header-lock{
		display: inline-block!important;
	}
	.header-lock:after {
		color: #fff!important;
		right: -20px;
	}
	.header-lock:hover:after,
	.header-nav.basic.sticky .navbar-nav > li.header-lock:hover:after {
		color: #cf2a35 !important;
	}
	.mobile-menu,
	.actions-menu ul li i{
		color: #214c9c !important;
	}
	.banner-container .md-slide-wrap .md-arrow{
		display: none!important;
	}
	.path-frontpage .post-content {
	    height: auto;
	}
}

@media screen and (max-width:979px){
	.bg-darker-gray {
		text-align: center;
	  padding-bottom: 68px;
	}
	.footer-links{
		text-align: center;
	}
	.footer-links ul{
		width: 328px;
		float: none;
		margin: 0 auto;
		display: inline-block;
		padding: 0;
	}
	.social-icons{
		text-align: center;
		padding-top: 15px;
	}
	#toTop {
	  bottom: 80px;
	}
}

@media screen and (max-width:767px){
	.md-object{
		font-size: 6em!important;
		padding-left: 15px;
	}
	.md-object-a > a {
	    font-size: 12px!important;
	    line-height: 14px!important;
	    width: auto!important;
	    height: auto!important;
	    font-weight: bold!important;
	    display: none!important;
	}
	.path-frontpage .col-md-8 iframe{
		height: 249px!important;
	}
}

@media screen and (max-width:413px){
	.bg-darker-gray .col-lg-4.col-md-5.text-right {
	    padding: 0;
	}
}

@media screen and (max-width:359px){
	.bg-darker-gray .col-lg-4.col-md-5.text-right {
	    overflow: hidden;
	}
}