h2 {
    font-weight: 700;
    font-size: 31px;
    color: #FFFFFF;
    text-align: center;
    line-height: 57px;
    text-shadow: 0 0 10px rgba(0,0,0,0.50);
}

/*.search_box_bg input {*/
    /*opacity: 0.9;*/
    /*background: #FFFFFF;*/
    /*border-radius: 2px;*/
    /*font-size: 20px;*/
    /*color: #677690;*/
/*}*/

/*.uk-input:focus {*/
    /*opacity: 0.9;*/
    /*background: #FFFFFF;*/
    /*border-radius: 2px;*/
    /*font-size: 20px;*/
    /*color: #677690;*/
/*}*/

/*.uk-search-field {*/
    /*!*color: #fff !important;*!*/
/*}*/

/*.uk-search-field::-webkit-input-placeholder {*/
    /*opacity: 0.5;*/
    /*font-size: 20px;*/
    /*color: #677690;*/
/*}*/

/*.uk-search-field:-moz-placeholder {*/
    /*opacity: 0.5;*/
    /*font-size: 20px;*/
    /*color: #677690;*/
/*}*/

/*.uk-search-field::-moz-placeholder {*/
    /*opacity: 0.5;*/
    /*font-size: 20px;*/
    /*color: #677690;*/
/*}*/

/*.uk-search-field:-ms-input-placeholder {*/
    /*opacity: 0.5;*/
    /*font-size: 20px;*/
    /*color: #677690;*/
/*}*/

.limitRows {
    height: 250px;
    /*line-height: 1.2rem;*/
    /*white-space: nowrap;*/
    overflow:hidden;
    text-overflow: ellipsis;
}

.nav-buttons {
    background-color: Transparent;
    background-repeat:no-repeat;
    color: #214C9C;
    border: none;
    cursor:pointer;
    overflow: hidden;
}

.trendingSearches {
    font-size: 16px;
    color: #C4D0E6;
}

.trendingSearches span {
    font-size: 16px;
    color: #fff;
    line-height: 19px;
}

.uk-section-default .uk-h2 {
    font-size: 40px;
    color: #2B4371;
    letter-spacing: 0.61px;
}


.uk-card-gray {
    background: rgba(103,118,144,0.10);
    border-radius: 2px;
    padding: 25px;
}

.uk-card-gray h3 {
    font-weight: 400;
    font-size: 18px;
    color: #2B4371;
    letter-spacing: 0.41px;
    text-transform: none;
}

.uk-card-gray p {
    font-size: 14px;
    color: #4D586A;
    letter-spacing: 0.36px;
    line-height: 23px;
}

.serviceSymbol {
    width: 45px;
}

.featuredServicesContainer {
    margin: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.featuredService a {
    text-decoration: none;
}

.featuredService {
    padding: 15px 15px;
    flex: 1;
    padding: 10px 10px;
    /*position: relative;*/
}

.symbolAndProvider {
    /*position: absolute;*/
    /*bottom: 20px;*/
}

.provider {
    font-size: 12px;
    color: #545454;
    letter-spacing: 0.36px;
    line-height: 23px;
    margin-left: 20px;
}

.firstColumn {
    padding-left: 60px;
}

.aboutUs {
    background: #FFFFFF;
    padding: 60px;
}

.aboutUs h3 {
    text-transform: none;
    font-size: 26px;
    color: #0A1730;
    letter-spacing: 0.61px;
}

.aboutUs p {
    font-size: 15px;
    color: #4D586A;
    letter-spacing: 0.36px;
    line-height: 23px;
    margin-bottom: 28px;
}

.registerService {
    padding: 60px;
    opacity: 0.75;
    background: #FFFFFF;
}

.needService {
    padding: 60px;
    opacity: 0.9;
    background: #FFFFFF;
}

.research {
    padding: 60px;
    opacity: 0.8;
    background: #FFFFFF;
}

.personas h3 {
    text-transform: none;
    font-size: 26px;
    color: #2B4371;
    letter-spacing: 0.61px;
}

.aboutUs a, .personas a {
    font-weight: bold;
    font-size: 15px;
    /*color: #0047BA;*/
    letter-spacing: 0.36px;
}

.aboutUs a:hover, .personas a:hover {
    /*color: #d1303a;*/
}




/*.bigImageSearch {*/
    /*!*background-image: url("//www.openminted.eu/wp-content/uploads/2016/01/many_books.jpg");*!*/
/*}*/

/*.bigImageSearch > div > div {*/
    /*width: 100%;*/
/*}*/

/*.bigImageSearch img {*/
    /*width: 100%;*/
/*}*/

/*.searchForm {*/
    /*background-color: #ffffff;*/
/*}*/

/*.searchForm.uk-form *::-moz-placeholder {*/
    /*!*color: #666666;*!*/
/*}*/

/*.searchForm input {*/
    /*font-weight: bold;*/
    /*font-size: 17px;*/
/*}*/

/*.input_container {*/

/*}*/

/*.input_container input {*/
    /*display: inline-block;*/
    /*padding: 6px 20px;*/
    /*height: 45px;*/
    /*width: 95%;*/
/*}*/

/*.input_container i {*/
    /*!*color: #666666;*!*/
    /*display: inline-block;*/
    /*margin-left: 15px;*/
/*}*/

a.serviceLink {
    /*color: #214c9c;*/
}

a.serviceLink:hover {
    /*color: #D1303A;*/
}






