<div class="dashboard">
  <div class="sidebar_main_swipe sidebar_main_active">
    <aside id="sidebar_main">

      <div class="menu_section uk-margin-medium-top">

        <div class="sidebar_heading">MONITOR</div>

        <ul>

          <li [routerLinkActive]="['current_section']"><a [routerLink]="['/dashboard/' + providerId + '/stats']">Statistics</a></li>
          <li [routerLinkActive]="['current_section']"><a [routerLink]="['/dashboard/' + providerId + '/activeServices']">Active services</a></li>
          <li [routerLinkActive]="['current_section']"><a [routerLink]="['/dashboard/' + providerId + '/pendingServices']">Pending services</a></li>
          <li [routerLinkActive]="['current_section']"><a [routerLink]="['/dashboard/' + providerId + '/messages']" routerLinkActive="">Messages</a></li>

        </ul>
      </div>

      <div class="menu_section border_top">
        <div class="sidebar_heading">ACTIONS</div>

        <ul>

          <li *ngIf="providerBundle && (providerBundle.status === 'approved')">
            <a routerLink="/upload">Add new service</a>
          </li>

        </ul>
      </div>

    </aside><!-- main sidebar end -->

    <div id="page_content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


