.uk-block-secondary {
    background: #003D8C none repeat scroll 0 0;
}

.uk-block-secondary:not(.tm-block-texture) {
    border-color: #003D8C;
}

.tm-bottom-d {
    color: #ffffff;
    font-size: 10px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.uk-subnav li a {
    font-size: 15px;
    letter-spacing: 0.36px;
}

.followAndSubscribe {
    margin-top: 55px !important;
}

.followAndSubscribe div div div {
    margin-bottom: 15px !important;
    font-size: 16px;
}

.facebook {
    width: 24px;
    height: 20px;
    background-image: url("../../../assets/imgs/icons/ic_Facebook.svg");
    background-repeat: no-repeat;
    background-size: contain;
    /*background: transparent url("../../../assets/imgs/icons/ic_Facebook.svg") center top no-repeat;*/
}

.facebook:hover {
    background-image: url("../../../assets/imgs/icons/ic_Facebook_active.svg");
}

.twitter {
    width: 24px;
    height: 20px;
    background-image: url("../../../assets/imgs/icons/ic_Twitter.svg");
    background-repeat: no-repeat;
    background-size: contain;
    /*background: transparent url("../../../assets/imgs/icons/ic_Facebook.svg") center top no-repeat;*/
}

.twitter:hover {
    background-image: url("../../../assets/imgs/icons/ic_Twitter_active.svg");
}

.linkedin {
    width: 24px;
    height: 20px;
    background-image: url("../../../assets/imgs/icons/ic_Linkedin.svg");
    background-repeat: no-repeat;
    background-size: contain;
    /*background: transparent url("../../../assets/imgs/icons/ic_Facebook.svg") center top no-repeat;*/
}

.linkedin:hover {
    background-image: url("../../../assets/imgs/icons/ic_Linkedin_active.svg");
}

.share {
    width: 24px;
    height: 20px;
    background-image: url("../../../assets/imgs/icons/ic_share.svg");
    background-repeat: no-repeat;
    background-size: contain;
    /*background: transparent url("../../../assets/imgs/icons/ic_Facebook.svg") center top no-repeat;*/
}

.share:hover {
    background-image: url("../../../assets/imgs/icons/ic_share_Active.svg");
}

.vimeo {
    width: 24px;
    height: 20px;
    background-image: url("../../../assets/imgs/icons/ic_Vimeo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    /*background: transparent url("../../../assets/imgs/icons/ic_Facebook.svg") center top no-repeat;*/
}

.vimeo:hover {
    background-image: url("../../../assets/imgs/icons/ic_Vimeo_active.svg");
}

.fundedBy {
    font-size: 13px;
    margin-top: 25px !important;
    margin-bottom: 30px !important;
}
