<div class="uk-section-primary uk-section uk-section-small uk-padding-remove-bottom">
  <div class="uk-container">
    <div class="uk-grid-margin uk-grid" uk-grid="">
      <div class="uk-width-2-5@m uk-light uk-first-column">
        <div class="uk-margin">
          <div class="uk-margin-medium uk-margin-remove-bottom">
            <img src="../../../assets/images/icons/Logo_white.svg" class="el-image" alt="eInfraCentral" width="250px">
          </div>
        </div>
      </div>
      <div class="uk-width-3-5@m uk-light">
        <div class="uk-margin-bottom">
          <ul class="uk-subnav uk-margin-remove-bottom uk-subnav-divider uk-float-right" uk-margin="">
            <li class="el-item">
              <a class="el-content" target="_blank" href="http://project.einfracentral.eu">Project</a>
            </li>
            <li class="el-item">
              <a class="el-content" target="_blank" href="/support/faqs">FAQ</a>
            </li>
            <li class="el-item">
              <a class="el-content" target="_blank" href="http://project.einfracentral.eu/news">News</a>
            </li>
            <li class="el-item">
              <a class="el-content" target="_blank" href="http://project.einfracentral.eu/contact">Contact</a>
            </li>
            <li class="el-item">
              <a class="el-content" target="_blank"
                 href="../../../assets/files/EInfraCentral_ServiceCatalogue_PrivacyPolicy_v1.0.pdf">Privacy Policy</a>
            </li>
          </ul>
        </div>
        <div class="uk-margin-medium followAndSubscribe uk-margin-large-left">
          <div class="uk-grid uk-width-1-1">
            <div class="uk-width-2-5">
              <div>
                Follow us:
              </div>
              <div>
                <div class="uk-child-width-auto uk-grid-small uk-grid" uk-grid="">
<!--                  <div class="uk-first-column">-->
<!--                    <a href="#" target="_blank" class="el-link uk-icon-link uk-icon facebook">-->
<!--                    </a>-->
<!--                  </div>-->
                  <div>
                    <a href="https://twitter.com/eInfraCentral" target="_blank"
                       class="el-link uk-icon-link uk-icon twitter">
                    </a>
                  </div>
<!--                  <div>-->
<!--                    <a href="#" target="_blank" class="el-link uk-icon-link uk-icon linkedin">-->
<!--                    </a>-->
<!--                  </div>-->
<!--                  <div>-->
<!--                    <a href="#" target="_blank" class="el-link uk-icon-link uk-icon share">-->
<!--                    </a>-->
<!--                  </div>-->
<!--                  <div>-->
<!--                    <a href="#" target="_blank" class="el-link uk-icon-link uk-icon vimeo">-->
<!--                    </a>-->
<!--                  </div>-->
                </div>
              </div>
            </div>
            <div class="uk-width-3-5">
<!--              <div class="">-->
                <a class="newsletter" href="http://project.einfracentral.eu/news/newsletter"
                   target="_blank" style="">Read our newsletters</a>
<!--              </div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="uk-section-primary uk-section uk-section-xsmall uk-padding-remove-bottom uk-padding-remove-top">
  <div class="uk-container">
    <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid="">
      <div class="uk-width-1-1@m uk-first-column">
        <hr class="">
        <div class="uk-margin-medium-top uk-margin-medium-bottom uk-text-center fundedBy">
          <!--<div class="" style="display: flex;">-->
          <div class="">
            <img src="../../../assets/images/icons/ec_logo_inv_small-4aa7cf58.png" class="el-image"
                 alt="European Commission" style="margin-top: -10px">
            <span style="margin-top:10px;" class="uk-margin-left">
                This project has received funding from the European Union’s Horizon 2020 research
                and innovation programme under grant agreement No 731049
              </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
