<!--<div class="footer">
  <div class="button-slurp effect-3" data-sr-id="1"
       style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s; transition: transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s; ">
    <svg class="scrollup&#45;&#45;bottom" width="192" height="61" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 160.7 61.5"
         enable-background="new 0 0 160.7 61.5" xml:space="preserve"><path fill="#FFFFFF" d="M80.3,61.5c0,0,22.1-2.7,43.1-5.4s41-5.4,36.6-5.4c-21.7,0-34.1-12.7-44.9-25.4S95.3,0,80.3,0c-15,0-24.1,12.7-34.9,25.4S22.3,50.8,0.6,50.8c-4.3,0-6.5,0,3.5,1.3S36.2,56.1,80.3,61.5z"></path></svg>
    <div class="btn&#45;&#45;top-up effect-3" data-sr-id="2"
         style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s; transition: transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s; ">
      <a class="btn&#45;&#45;top" (click)="scrollToTop()">
        <span class="btn__arrow arrow&#45;&#45;top"></span>
        <span class="btn__arrow arrow&#45;&#45;bottom"></span>
      </a>
    </div>
  </div>
  <div class="uk-container">
    <div class="row uk-grid margin-bottom-20px margin-top-20px">
      <div class="uk-container nopadding" style="width: 100%">
        <div class="region region-footer row uk-grid">
          <div id="block-block-13" class="block block-block uk-width-1-1">

            &lt;!&ndash;NO MOBILE&ndash;&gt;
            <div class="content uk-grid uk-visible@m">
              <div class="nopadding uk-width-1-6">
                <a class="logo" href="https://www.eosc-portal.eu">
                  <img style="width:100%;" src="https://www.eosc-portal.eu/sites/all/themes/theme1/logo_w.png"
                       alt="Home">
                </a>
              </div>

              <div id="block-block-10" class="block block-block uk-width-5-6@m uk-text-right pdt30 ">
                <div class="content">
                  <div class="row uk-grid" style="margin-left: -20px">
                    <div class="uk-width-5-6@m uk-text-right">
                      <p class="text-right">Copyright 2018 - All rights reserved</p>
                    </div>
                    <div class="uk-width-1-6@m uk-text-right">
                      <a href="https://www.eosc-portal.eu/privacy-policy-summary">PRIVACY POLICY</a>
                    </div>
                  </div>
                </div>
                &lt;!&ndash;<div class="content">&ndash;&gt;
                  &lt;!&ndash;<div class="row uk-grid" style="margin-left: -20px">&ndash;&gt;
                    &lt;!&ndash;<div class="uk-width-1-1@m uk-text-right">&ndash;&gt;
                      &lt;!&ndash;<a href="../../../assets/files/EOSCPortal_ServiceCatalogue_SLA_v1.0.pdf" target="_blank"&ndash;&gt;
                         &lt;!&ndash;class="text-right">Service Level Agreement</a>&ndash;&gt;
                    &lt;!&ndash;</div>&ndash;&gt;
                  &lt;!&ndash;</div>&ndash;&gt;
                &lt;!&ndash;</div>&ndash;&gt;
              </div>
            </div>

            &lt;!&ndash;MOBILE&ndash;&gt;

            <div class="content uk-grid uk-hidden@m" style="margin-left: -10px">
              <div class="nopadding uk-width-1-1">
                <a class="logo" href="https://www.eosc-portal.eu">
                  <img style="width:100%;" src="https://www.eosc-portal.eu/sites/all/themes/theme1/logo_w.png"
                       alt="Home">
                </a>
              </div>

              <div id="" class="block block-block uk-width-1-1 uk-margin-top ">
                <div class="" style="margin-left: -30px">
                  <p class="">Copyright 2018 - All rights reserved</p>
                </div>
                <div class="" style="margin-left: -30px">
                  <a href="https://www.eosc-portal.eu/privacy-policy-summary">PRIVACY POLICY</a>
                </div>
                <div class="" style="margin-left: -30px">
                  <a href="../../../assets/files/EOSCPortal_ServiceCatalogue_SLA_v1.0.pdf" target="_blank"
                     class="text-right">Service Level Agreement</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="line margin-top-20px"></div>
    </div>
    <div class="row margin-bottom-20px margin-top-20px">
      <div class="container nopadding">
        <div class="region region-footer-second">
          <div id="block-footer-sitemap-footer-sitemap" class="block block-footer-sitemap uk-width-1-1@m nopadding">

            <div class="content">
              <div id="footer-sitemap" class="clearfix">
                <div class="fs-block-content">
                  <div class="main-menu">
                    <ul class="footer_links_main-menu total-items-7 parent-items-0 single-items-0">
                      <li class="menu-434 depth-1 total-children-6 parent-children-0 single-children-6  first"><span
                        title="" class="fs-root-link nolink">About</span>
                        <ul class="footer_links_main-menu total-items-6 parent-items-0 single-items-0">
                          <li class="menu-435 depth-1 fs-no-children  first"><a
                            href="https://www.eosc-portal.eu/about/eosc" class="sf-depth-2">EOSC</a></li>
                          <li class="menu-771 depth-1 fs-no-children"><a
                            href="https://www.eosc-portal.eu/about/eosc-doers">EOSC Doers</a></li>
                          <li class="menu-752 depth-1 fs-no-children"><a
                            href="https://www.eosc-portal.eu/about/eosc-projects">EOSC Projects</a></li>
                          <li class="menu-753 depth-1 fs-no-children"><a
                            href="https://www.eosc-portal.eu/about/funding-opportunities">Funding Opportunities</a></li>
                          <li class="menu-570 depth-1 fs-no-children"><a href="https://www.eosc-portal.eu/about/faqs"
                                                                         class="sf-depth-2">FAQs</a></li>
                          <li class="menu-730 depth-1 fs-no-children  last"><a
                            href="https://www.eosc-portal.eu/contact-us" class="sf-depth-2">Contact us</a></li>
                        </ul>
                      </li>
                      <li class="menu-745 depth-1 total-children-3 parent-children-0 single-children-3"><span
                        class="fs-root-link nolink">Governance</span>
                        <ul class="footer_links_main-menu total-items-3 parent-items-0 single-items-0">
                          <li class="menu-541 depth-1 fs-no-children  first"><a
                            href="https://www.eosc-portal.eu/governance" class="sf-depth-2">EOSC Governance</a></li>
                          <li class="menu-543 depth-1 fs-no-children"><a
                            href="https://www.eosc-portal.eu/governance/rules-participation" class="sf-depth-2">Rules of
                            participation</a></li>
                          <li class="menu-754 depth-1 fs-no-children  last"><a
                            href="https://www.eosc-portal.eu/governance/best-practices">Best Practices</a></li>
                        </ul>
                      </li>
                      <li class="menu-787 depth-1 fs-no-children"><a href="https://eosc-portal.grid.cyfronet.pl/services-resources"
                                                                     class="fs-root-link">Services &amp; Resources</a></li>
                      <li class="menu-442 depth-1 total-children-3 parent-children-0 single-children-3"><span
                        class="fs-root-link nolink">Policy</span>
                        <ul class="footer_links_main-menu total-items-3 parent-items-0 single-items-0">
                          <li class="menu-749 depth-1 fs-no-children  first"><a
                            href="https://www.eosc-portal.eu/policy/ec-documents">EC Documents</a></li>
                          <li class="menu-443 depth-1 fs-no-children"><a href="https://www.eosc-portal.eu/policy/europe"
                                                                         class="sf-depth-2">Europe</a></li>
                          <li class="menu-755 depth-1 fs-no-children  last"><a
                            href="https://www.eosc-portal.eu/policy/eu-member-states">Member States</a></li>
                        </ul>
                      </li>
                      <li class="menu-746 depth-1 total-children-2 parent-children-0 single-children-2"><span
                        class="fs-root-link nolink">EOSC in Practice</span>
                        <ul class="footer_links_main-menu total-items-2 parent-items-0 single-items-0">
                          <li class="menu-748 depth-1 fs-no-children  first"><a
                            href="https://www.eosc-portal.eu/eosc-in-practice/use-cases">Use Cases</a></li>
                          <li class="menu-733 depth-1 fs-no-children  last"><a
                            href="https://www.eosc-portal.eu/eosc-in-practice/open-call" class="sf-depth-2">Open
                            Call</a></li>
                        </ul>
                      </li>
                      <li class="menu-430 depth-1 total-children-3 parent-children-0 single-children-3"><span
                        class="fs-root-link nolink">Media</span>
                        <ul class="footer_links_main-menu total-items-3 parent-items-0 single-items-0">
                          <li class="menu-756 depth-1 fs-no-children  first"><a
                            href="https://www.eosc-portal.eu/media/news">News</a></li>
                          <li class="menu-757 depth-1 fs-no-children"><a href="https://www.eosc-portal.eu/media/events">Forthcoming
                            Events</a></li>
                          <li class="menu-758 depth-1 fs-no-children  last"><a
                            href="https://www.eosc-portal.eu/media/past-events">Past Events</a></li>
                        </ul>
                      </li>
                      <li class="menu-430 depth-1 total-children-3 parent-children-0 single-children-3"><span
                        class="fs-root-link nolink">For Providers</span>
                        <ul class="footer_links_main-menu total-items-3 parent-items-0 single-items-0">
                          <li class="menu-756 depth-1 fs-no-children  first"><a [routerLink]="['/becomeAProvider']">Become
                            a provider</a></li>
                          <li *ngIf="authenticationService.isLoggedIn()" class="menu-757 depth-1 fs-no-children"><a
                            [routerLink]="['/provider/my']">My Providers</a></li>
                          <li *ngIf="this.authenticationService.isAdmin()" class="menu-758 depth-1 fs-no-children"><a
                            [routerLink]="['/provider/all']">View Providers</a></li>
                          <li *ngIf="this.authenticationService.isAdmin()" class="menu-758 depth-1 fs-no-children  last"><a
                            [routerLink]="['/provider/resource/all']">View Resources</a></li>
                          <li *ngIf="this.authenticationService.isAdmin()" class="menu-758 depth-1 fs-no-children  last"><a
                            [routerLink]="['/provider/datasource/all']">View Datasources</a></li>
                          <li *ngIf="this.authenticationService.isAdmin()" class="menu-758 depth-1 fs-no-children  last"><a
                            [routerLink]="['/catalogue/all']">View Catalogues</a></li>
                        </ul>
                      </li>
                      &lt;!&ndash;<li class="menu-772 depth-1 total-children-0 parent-children-0 single-children-0  last"><a href="/for-providers" class="fs-root-link">For providers</a></li>&ndash;&gt;
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="block-block-25" class="block block-block col-md-6 uk-margin-top">


            <div class="content">
              <a class="social" href="https://twitter.com/EoscPortal">
                <img class="el-image" src="../../../lib/assets/images/icons/ic_twitterx-24.svg" style="padding:1px 1px 0 2px" aria-hidden="true">
              </a>
              <a class="social" style="margin-left: 10px" href="https://www.youtube.com/channel/UCHsaUFy5LJ3rJ28qDg2StGA">
                <img class="el-image" src="../../../lib/assets/images/icons/ic_youtube-red24.svg" style="padding:1px 1px 0 2px" aria-hidden="true">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="margin-bottom-20px margin-top-20px color-secondary">
  </div>
</div>-->

<!--new temporary footer-->
<!--<div class="footer">
  <div class="uk-container">
    <div class="margin-bottom-20px margin-top-20px" style="display: flex; align-items: center;">
      <img src="../../../assets/images/EU_blue.webp" style="float: left; margin-right: 10px; height: 36px;">
      <span style="font-size: 10px; color: black">EOSC Beyond is funded by the European Union<br>Grant Agreement Number 101131875</span>
    </div>
  </div>
</div>-->
